<div class="scheduleMeetingParentDiv">
    <div class="schedularContent fullWidthHeightClass">
        <div class="schedularHeader">
            <h5 class="meetingPersonName fontClass eliipsisClass">SCHEDULE MEETING FOR <b>{{extraParam.openConversation.skill | uppercase}}</b></h5>
            @*<img ng-show="extraParam.closeRequired" ng-click="closePopup()" style="width: 15px;height: 15px;top:5px;right: 5px;bottom: 0;position: absolute;z-index:1;cursor:pointer;" title="Cancel" src="~/Images/cancel.png" />*@
        </div>
        <div class="schedularBody">
            <div class="meetingSubject">
                <textarea placeholder="Subject Name" ng-model="MeetingSchedular.Subject" required></textarea>
            </div>
            <div class="meetingSubjectTwo">
                <div class="meetingPersonNameParent">
                    <h4 class="meetingWizName fontClass">Meeting schedule with</h4>
                </div>
                <div class="meetingInvitee">
                    <div class="imageConversation">
                        <img style="border: 2px solid white;margin:auto;width: 60px;height: 60px;border-radius: 50%;" ng-src="{{loggedDetail.Photo ?  loggedDetail.Photo  : '../../../Images/icons/If no Profile photo.png'}}" />
                    </div>
                    <div class="meetingPersonNameStrc" style="margin-left: 0;">
                        <h5 style="font-size: 15px;color:black;" class="leftSideMenuLable fontClass eliipsisClass">{{(extraParam.openConversation.FirstName+" "+extraParam.openConversation.LastName) | uppercase}}</h5>
                    </div>
                </div>
            </div>
            <div class="meetingTimePanel">
                <div style="display: flex;float: left; width: 33.33%;margin:auto;margin-right: 0">
                    <h5 style="margin : auto" class="meetingPersonName fontClass genericPointerClass eliipsisClass">DATE</h5>
                    <input style="margin : auto" type="date" ng-model="MeetingSchedular.MeetingDate" required />
                </div>
                <div style="display: flex;float: left; width: 26%;margin:auto;margin-right: 0">
                    <h5 class="meetingPersonName fontClass genericPointerClass eliipsisClass">FROM</h5>
                    <input style="margin : auto" type="time" ng-model="MeetingSchedular.TimeFrom" required />
                </div>
                <div style="display: flex;float: left; width: 26%;margin:auto;">
                    <h5 class="meetingPersonName fontClass genericPointerClass eliipsisClass">TO</h5>
                    <input style="margin : auto" type="time" ng-model="MeetingSchedular.TimeTo" required />
                </div>
            </div>
            <div class="meetingCommunicationPanel">
                <div style="float: left; width: 60%;display: flex;margin:auto;margin-right: 0;">
                    <div style="display: flex;float: left; width: 33%;margin:auto;">
                        <label for="Skype" style="margin : auto;margin-right: 10%;" class="meetingPersonName fontClass genericPointerClass eliipsisClass">Skype</label>
                        <input style="margin: auto;" type="radio" name="platformType" id="Skype" value="Skype" ng-model="MeetingSchedular.PlatformType" required />
                    </div>
                    <div style="display: flex;float: left; width: 33%;margin:auto;">
                        <label for="Hangout" style="margin : auto;margin-right: 10%;" class="meetingPersonName fontClass genericPointerClass eliipsisClass">Hangout</label>
                        <input style="margin: auto;" type="radio" name="platformType" id="Hangout" value="Hangout" ng-model="MeetingSchedular.PlatformType" required />
                    </div>
                    <div style="display: flex;float: left; width: 20%;margin:auto;">
                        <label for="Other" style="margin : auto;margin-right: 10%;" class="meetingPersonName fontClass genericPointerClass eliipsisClass">Other</label>
                        <input style="margin: auto;" type="radio" name="platformType" id="Other" value="Other" ng-model="MeetingSchedular.PlatformType" required />
                    </div>
                </div>
                <div style="float: left; display: flex;margin:auto;">
                    <input style="margin: auto;padding: 5px;" type="text" placeholder="Mention Platform" ng-model="MeetingSchedular.UserId" required />
                </div>
            </div>
        </div>
        <div class="schedularBottom">
            <button type="button" style="margin: auto;width: 15%;padding: 0%;margin-right: 7%;height: 22px;font-size: 9px;" ng-click="saveSchedular()" class="signupButton fontClass btn btn-default">SEND</button>
            <button type="button" style="margin: auto;width: 15%;padding: 0%;margin-left: 0;height: 22px;font-size: 9px;" ng-click="closePopup()" class="signupButton fontClass btn btn-default">CANCEL</button>
        </div>
    </div>
</div>