<div class="scheduleMeetingParentDiv " style="width:80%;height:80%;">
 
       <div class="schedularContent fullWidthHeightClass">
        <div class="schedularHeader">
            <h5 class="meetingPersonName fontClass eliipsisClass"><b>SCHEDULE MEETING FOR {{extraParam.openConversation.skill | uppercase}}</b></h5>
            @*<img ng-show="extraParam.closeRequired" ng-click="closePopup()" style="width: 15px;height: 15px;top:5px;right: 5px;bottom: 0;position: absolute;z-index:1;cursor:pointer;" title="Cancel" src="~/Images/cancel.png" />*@
        </div>
        <div class="schedularBody">
            <div class="schedularBodyHidden" ng-class="{ schedularBodyMask : conflictAlert.showAlert == true }" ng-show="conflictAlert.showAlert == true">                
                <div style="margin:auto auto;float:left;height: 100%;width: 100%;">
                    <div class="imageConversation" style="width: 100%;height: 55%;">
                        <img style="width: 8%; height: 85%;float:left;margin:auto; position: relative;z-index:1;" src="~/Images/error png.png" />
                    </div>
                    <div class="nameMessageConversation" style="width: 100%;height: 15%;">
                        <div style="margin:auto auto;float:left; height: 100%;">
                            <h1 class="meetingPersonName fontClass eliipsisClass" style="font-size: 15px;color:red;margin-left:auto;width: 100%;">IT LOOKS LIKE YOU HAVE A CONFLICTING MEETING!</h1>
                        </div>
                    </div>
                    <div class="nameMessageConversation" style="width: 100%;height: 29%;">
                        <div style="margin:auto auto;float:left;height: 100%;">
                            <h5 class="meetingPersonName fontClass eliipsisClass" style="color:black;margin-left:auto;width: 100%;line-height: inherit;height: auto;max-height: 37px;text-align:center;">You have already meeting with {{conflictAlert.message}}.</h5>
                            <h5 class="meetingPersonName fontClass eliipsisClass genericPointerClass" style="color:black;margin-top: 3%;width: 100%;text-align: center;" ng-click="conflictAlert.showAlert = false;conflictAlert.message=''">Close</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="meetingSubject">
                <textarea placeholder="Subject Name" ng-model="MeetingSchedular.Subject" required></textarea>
            </div>
            <div class="meetingSubjectTwo">
                <div class="meetingPersonNameParent">
                    <h5 style="font-weight:bold;font-size:14px;"class="meetingWizName fontClass">ATTENDEE</h5>
                </div>
                <div class="meetingInvitee">
                    <div class="imageConversation">
                        <img style="border: 2px solid white;margin:auto;width: 52px;height: 48px;border-radius: 50%;" ng-src="{{loggedDetail.Photo ?  loggedDetail.Photo  : '../../../Images/icons/If no Profile photo.png'}}" />
                    </div>
                    <div class="meetingPersonNameStrc" style="margin-left: 10px;">
                        <h5 style="color:black;font-weight:bold" class="leftSideMenuLable fontClass eliipsisClass">{{(extraParam.openConversation.FirstName+" "+extraParam.openConversation.LastName) | uppercase}}</h5>
                    </div>
                </div>
            </div>
            <div class="meetingTimePanel">
                <div style="display: flex;float: left; width: 40.33%;margin:auto;margin-right: 0">
                    <h5 style="margin : auto" class="meetingPersonName fontClass genericPointerClass eliipsisClass">DATE</h5>
                    <input style="margin : auto" type="date" ng-model="MeetingSchedular.MeetingDate" required />
                </div>
                <div style="display: flex;float: left; width: 26%;margin:auto;margin-right: 0">
                    <h5 class="meetingPersonName fontClass genericPointerClass eliipsisClass">FROM</h5>
                    <input style="margin : auto;width: 74px;" type="time" ng-model="MeetingSchedular.TimeFrom" required />
                </div>
                <div style="display: flex;float: left; width: 26%;margin:auto;">
                    <h5 class="meetingPersonName fontClass genericPointerClass eliipsisClass">TO</h5>
                    <input style="margin : auto;width: 74px;" type="time" ng-model="MeetingSchedular.TimeTo" required />
                </div>
            </div>
            <div class="meetingCommunicationPanel">
                <div style="float: left; width: 60%;display: flex;margin:auto;margin-right: 0;">
                    <div style="display: flex;float: left; width: 33%;margin:auto;">
                        <label for="Skype" style="margin : auto;margin-right: 10%;" class="meetingPersonName fontClass genericPointerClass eliipsisClass">Skype</label>
                        <input style="margin: auto;" type="radio" name="platformType" id="Skype" value="Skype" ng-model="MeetingSchedular.PlatformType" required />
                    </div>
                    <div style="display: flex;float: left; width: 33%;margin:auto;">
                        <label for="Hangout" style="margin : auto;margin-right: 10%;" class="meetingPersonName fontClass genericPointerClass eliipsisClass">Hangout</label>
                        <input style="margin: auto;" type="radio" name="platformType" id="Hangout" value="Hangout" ng-model="MeetingSchedular.PlatformType" required />
                    </div>
                    <div style="display: flex;float: left; width: 20%;margin:auto;">
                        <label for="Other" style="margin : auto;margin-right: 10%;" class="meetingPersonName fontClass genericPointerClass eliipsisClass">Other</label>
                        <input style="margin: auto;" type="radio" name="platformType" id="Other" value="Other" ng-model="MeetingSchedular.PlatformType" required />
                    </div>
                </div>
                <div style="float: left; display: flex;margin:auto;">
                    <input style="margin: auto;padding: 5px;" type="text" placeholder="Mention Platform" ng-model="MeetingSchedular.UserId" required />
                </div>
            </div>
        </div>       
        <div class="schedularBottom">
            <button type="button" style="margin: auto;margin-right: 7%;font-size: 9px;padding: 0px;" ng-click="saveSchedular()" class="signupButton fontClass btn btn-default">SEND</button>
            <button type="button" style="margin: auto;padding: 0%;margin-left: 0;font-size: 9px;" ng-click="closePopup()" class="signupButton fontClass btn btn-default">CANCEL</button>
        </div>
    </div>
</div>