<div class="fullWidthHeightClass" ng-click="$event.stopPropagation()">
    <div ng-style="styleUI.top" class="labelInRightPanelVCG" style="height:7%;border-bottom:1px solid lightgray;display:flex;background-color: white;" ng-show="extraParam.headingRequired">
        <h5 class="fontClass" style="font-size: 16px;margin: auto;margin-left: 1%;">{{extraParam.headingTitle ? extraParam.headingTitle : 'KNOWLEDGE WORKSPACE'}}</h5>
        <img ng-show="extraParam.closeRequired" ng-click="closePopup()" style="width: 15px;height: 15px;top:5px;right: 5px;bottom: 0;position: absolute;z-index:1;cursor:pointer;" title="Cancel" src="~/Images/cancel.png" />
    </div>
    
    <div ng-style="styleUI.middle" style="float: left;width: 100%;height: 93%;background-color: #f3f3f3;">
        <div style="float: left;width: 100%;height: 100%;position: relative;display:flex;" class="col-md-12">
            <div class="uploadPopup" ng-class="{ loadUploadPopup : loadUploadPopupFlag == true && artictFact == true }">
                <div class="topStripPopup">
                    <h5 style="margin: auto;margin-left:6%;" class="fontClass ValueFeedsHeade">UPLOAD FILES</h5>
                    <button type="button" ng-click="triggerUpload('uploadInput')" style="margin: auto;width: 16%;padding: 0%;margin-right: 7%;height: 22px;font-size: 9px;" class="signupButton fontClass btn btn-default">SELECT FILE +</button>                  
                    <input type="file" multiple ng-model="uploadedFile" style="display: none" id="uploadInput" name="filedata" />
                </div>
                <div class="middlteStripPopup">
                    <div class="fullWidthHeightClass" style="margin: auto;width: 87%; height: 90%;overflow:auto;">
                        <div ng-hide="uploadAttachmentArray.length == 0" class="uploadedAttachment" ng-repeat="attachment in uploadAttachmentArray">
                            <div class="uploadDataTypeDiv">                
                                <img ng-if="attachment.ContentType.indexOf('document') > -1 && attachment.ContentType.indexOf('sheet') == -1" src="~/Images/icons/msDoc.png" style="margin: auto auto;float: left;height: 35px;width: 35px;" />                               
                                <img ng-if="attachment.ContentType.indexOf('sheet') > -1" src="~/Images/icons/xlSheet.png" style="margin: auto auto;float: left;height: 35px;width: 35px;" />
                                <img ng-if="attachment.ContentType.indexOf('pdf') > -1" src="~/Images/icons/defaultDoc.png" style="margin: auto auto;float: left;height: 35px;width: 35px;" />
                                <img ng-if="attachment.ContentType.indexOf('image') > -1" ng-src="{{attachment.FilePath}}" style="margin: auto auto;float: left;height: 35px;width: 35px;" />
                            </div>
                            <div class="uploadDataBarDiv">
                                <div class="uploadBarDataParent">
                                    <div class="uploadedDataHeading">
                                        <h5 class="fontClass ValueFeedsHeade eliipsisClass">{{attachment.name}}</h5>
                                        <progress class="progressBarUpload" value="22" max="100"></progress>
                                        <h5 class="fontClass ValueFeedsHeade eliipsisClass" style="float:right;width: 8%;">30%</h5>
                                    </div>
                                    @*<div class="uploadedDataHeading" style="display:flex;">
                                        <h5 style="width: 8%;" class="fontClass ValueFeedsHeade">TAG</h5>
                                        <input ng-model="myInfo.lastName" class="inputTagStyle tagBarUploadProfile fontClass" style="padding:2px;margin-left: 2%;" type="text" placeholder="LAST NAME" />
                                    </div>*@
                                </div>
                            </div>
                        </div>
                        <place-Holder message="Upload Files" ng-show="uploadAttachmentArray.length == 0"></place-Holder>
                       
                    </div>
                </div>
                <div class="bottomStripPopup">   
                    <button type="button" style="margin: auto;width: 15%;padding: 0%;margin-right: 7%;height: 22px;font-size: 9px;" ng-click="closePopup()" class="signupButton fontClass btn btn-default">CANCEL</button>
                    <button  ng-hide="uploadAttachmentArray.length == 0" type="button" style="margin: auto;width: 15%;padding: 0%;margin-right: 7%;height: 22px;font-size: 9px;" ng-click="uploadDataOnServer()" class="signupButton fontClass btn btn-default">UPLOAD</button>                  

                </div>
            </div>
            <div class="uploadPopup" ng-class="{ loadUploadPopup : loadUploadPopupFlag == true && artictFact == false }">
                <div class="topStripPopup">
                    <h5 style="margin: auto;margin-left:6%;" class="fontClass ValueFeedsHeade">ADD BOOKMARK</h5>                   
                </div>
                <div class="middlteStripPopup">
                    <div class="fullWidthHeightClass" style="margin: auto;width: 87%; height: 94%;overflow:auto;">                       
   
                        <div class="statusCoachingStatus" style="width: 100%;height: 50%;">
                            <input class="inputTagStyle fontClass" style="margin: auto;width: 90%;height: 41%;" type="text" ng-model="bookmark.FileName" placeholder="BookMark Name" ng-required />
                        </div>
         
                        <div class="statusCoachingStatus" style="width: 100%;height: 50%;">
                            <input class="inputTagStyle fontClass" style="margin: auto;width: 90%;height: 41%;"  type="text" ng-model="bookmark.FilePath" placeholder="BookMark Url" ng-required />
                        </div>
                    </div>
                </div>
                <div class="bottomStripPopup">
                    <button type="button" style="margin: auto;width: 15%;padding: 0%;margin-right: 7%;height: 22px;font-size: 9px;" ng-click="closePopup()" class="signupButton fontClass btn btn-default">CANCEL</button>
                    <button type="button" style="margin: auto;width: 15%;padding: 0%;margin-left: 0%;height: 22px;font-size: 9px;" ng-click="saveBookmark()" class="signupButton fontClass btn btn-default">ADD</button>
                </div>
            </div>
            <div class="podcastsContainer col-md-5 col-sm-12 mosuehover"  style="background-color: #f3f3f3;width: 50%;padding-right: 0;">
                <div class="podcastHeader">
                    <h5 style="margin: auto;margin-left: 2%; font-weight: 700;" class="fontClass ValueFeedsHeade" >ARTIFACTS</h5>
                </div>
                <div style="height:90%;width:100%;float:left">
                    <div style="height: 88%;width: 100%;float:left;overflow:auto;">
                        <div ng-hide="artifactsArray.length == 0" class="ImpactZoneChildDiv mouseOverEffectDiv" ng-repeat="option in artifactsArray">
                            <div ng-show="extraParam.deleteIcon == true" class="profileImageCoachingStatus">
                                <img ng-src="{{ option.bookMarked ? 'Images/rate-star-button.png' : 'Images/silverstar.png' }}" ng-click="option.bookMarked =! option.bookMarked; saveBookmark(option)" style="margin: auto; float: left;height: 20px;width: 20px;" />
                            </div>
                            <div class="profileImageCoachingStatus">
                                <img ng-if="option.ContentType.indexOf('document') > -1 && option.ContentType.indexOf('sheet') == -1" src="~/Images/icons/msDoc.png" style="margin: auto auto;float: left;height: 35px;width: 35px;" />
                                <img ng-if="option.ContentType.indexOf('sheet') > -1" src="~/Images/icons/xlSheet.png" style="margin: auto auto;float: left;height: 35px;width: 35px;" />
                                <img ng-if="option.ContentType.indexOf('pdf') > -1" src="~/Images/icons/defaultDoc.png" style="margin: auto auto;float: left;height: 35px;width: 35px;" />
                                <img ng-if="option.ContentType.indexOf('image') > -1" ng-src="{{option.FilePath}}" style="margin: auto auto;float: left;height: 35px;width: 35px;" />                              
                            </div>
                            <div class="statusCoachingStatus" style="width: 50%;">
                                <h5 class="fontClass" style="color:#A9A9A9;margin: auto auto;float: left;margin-left: 0;font-size:13px;">{{option.FileName}}</h5>                               
                            </div>
                            <div class="communicationsCoachingStatus" style="width: 14%;margin-right: 0;">                               
                                <h5 class="fontClass" style="color:#A9A9A9;margin: auto auto;float: left;margin-left: 0;">{{option.size}}</h5>   
                            </div>
                            <div style="float: left;display: flex;width: 5%;height: 100%; position: relative;">
                                <input style="float: left;margin: auto;" value="true" ng-model="option.selected" type="checkbox" />
                            </div>
                            <div class="profileImageCoachingStatus">                                
                                <img src="~/Images/delete.png" ng-click="deleteAttachment({ deleteMultiple : false , type : 'artifact' , deletedObject : option , index : $index })" style="margin: auto; float: left;height: 15px;width: 20px;;" />
                            </div>
                        </div>
                        <place-Holder message="No File Uploaded" ng-show="artifactsArray.length == 0" ></place-Holder>
                    </div>
                    <div style="height:11%;width: 100%;float:left;display: flex;" ng-show="extraParam.AttachMode == false">
                        @*<input class="signupButton fontClass btn btn-default" type="button" value="Share" style="margin: auto;margin-right: 0;padding: 0;width: 115px;" />*@
                        <input class="signupButton fontClass btn btn-default"  ng-style="{ 'margin-right': artifactsArray.length > 0 ? 0 : 'auto'}" type="button" value="Upload" ng-click="loadUploadPopup()" style="margin: auto;padding: 0;" />
                        <input class="signupButton fontClass btn btn-default" ng-show="artifactsArray.length > 0" ng-click="deleteAttachment({ deleteMultiple : true , type : 'artifact' , deletedObject : null })" type="button" value="Delete" style="margin: auto;padding: 0;" />
                    </div>                   
                </div>

            </div>
            <div class="podcastsContainer col-md-5 mosuehover" style="background-color: #f3f3f3;">
                <div class="podcastHeader">
                    <h5 class="fontClass" style="margin:auto;margin-left: 2%;font-size:14px;padding-left: 0; font-weight: 700;">BOOKMARKS</h5>
                </div>
                <div class="ImpactZoneChildDiv" style="height: 90%;">
                    <div style="height:100%;width:100%;float:left">
                        <div style="height: 88%;width: 100%;float:left;overflow:auto">
                            <div class="ImpactZoneChildDiv mouseOverEffectDiv" ng-hide="bookMarkArray.length == 0" ng-repeat="option in bookMarkArray">
                                <div class="profileImageCoachingStatus">
                                    <img ng-src="{{option.PhotoURL ? option.PhotoURL : '/Images/icons/Microsoft_Word_2013_icon.png' }}" style="margin: auto auto;float: left;height: 28px;width: 28px;" />
                                </div>
                                <div class="statusCoachingStatus" style="width: 50%;">
                                    <h5 class="fontClass" style="color:#A9A9A9;margin: auto auto;float: left;margin-left: 0;font-size:13px;">{{option.DocumentName}}</h5>
                                </div>
                                <div class="statusCoachingStatus" style="width: 50%;">
                                    <h5 class="fontClass" style="color:#A9A9A9;margin: auto auto;float: left;margin-left: 0;font-size:13px;">{{option.LinkUrl}}</h5>
                                </div>
                                @*<div class="profileImageCoachingStatus">
                                    <img ng-src="{{option.PhotoURL ? option.PhotoURL : '/Images/icons/Microsoft_Word_2013_icon.png' }}" style="margin: auto auto;float: left;height: 35px;width: 35px;" />
                                </div>*@                              
                                <div style="float: left;display: flex;width: 5%;height: 100%; position: relative;">
                                    <input style="float: left;margin: auto;" value="true" ng-model="option.selected" type="checkbox" />
                                </div>
                                <div ng-show="extraParam.deleteIcon == true" class="profileImageCoachingStatus">
                                    <img src="~/Images/delete.png" ng-click="deleteAttachment({ deleteMultiple : false , type : 'bookMark' , deletedObject : option , index : $index })" style="margin: auto; float: left;height: 15px;width: 20px;" />
                                </div>
                               
                            </div>    
                            <place-Holder message="No Bookmark Added" ng-show="bookMarkArray.length == 0"></place-Holder>                        
                        </div>
                        <div style="height:11%;width: 100%;float:left;display: flex;" ng-show="extraParam.AttachMode == false">
                            <input class="signupButton fontClass btn btn-default" ng-style="{ 'margin-right': bookMarkArray.length > 0 ? 0 : 'auto'}" type="button" value="Add" ng-click="addBookMark()" style="margin: auto;padding: 0;" />
                            <input class="signupButton fontClass btn btn-default"  ng-show="bookMarkArray.length > 0"  ng-click="deleteAttachment({ deleteMultiple : true , type : 'bookMark' , deletedObject : null })" type="button" value="Delete" style="margin: auto;padding: 0;" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div ng-style="styleUI.top" class="labelInRightPanelVCG" ng-style="styleUI.chat" style="border-bottom:1px solid lightgray;display:flex;background-color: white;" ng-show="extraParam.headingRequired">
        <textarea ng-keypress="conversationClick($event)" style="resize : none; margin: auto;width: 70%; height: 70%;" ng-disabled="openConversation.sessionClosed" placeholder="{{ openConversation.sessionClosed ? 'SESSION CLOSED' : 'CLICK HERE TO TYPE MESSAGE'}}" required ng-model="uiFlag.Message"></textarea>

    </div>
    <div class="labelInRightPanelVCG" ng-style="styleUI.bottom" style="background-color: rgb(243, 243, 243);display:flex;" ng-show="extraParam.AttachMode">
        <input class="signupButton fontClass btn btn-default" type="button" value="Attach Files" style="margin: auto;width: 15%;padding:0;" ng-click="attachFiles()" />
    </div>
</div>
