<div class="ctsParent">
    <div class="ctsParentMain">
        <div class="ctsParentMainPanel">
            <div class="ctsCategoryHeading">
                <img ng-show="mySelection" ng-class="{ coachThemeColor : role == 'coach' , coacheeThemeColor : role == 'coachee' , mentorThemeColor : role == 'mentor' , menteeThemeColor : role == 'mentee' }" style="width:26px;height:24px;margin: auto auto;padding :5px;cursor:pointer;margin-left:1%;margin-right:0px;" ng-click="addSkill()" src="~/Images/addBold.png" />
                <h5 ng-show="mySelection" style="font-size: 16px;margin: auto;margin-left: 1%;margin-right:0px;" class="fontClass" margin-top:15px;>MY SELECTION</h5>
               
                <img ng-show="categoryDisplay && mySelection == false" ng-class="{ coachThemeColor : role == 'coach' , coacheeThemeColor : role == 'coachee' , mentorThemeColor : role == 'mentor' , menteeThemeColor : role == 'mentee' }" style="width:26px;height:24px;margin: auto auto;padding :6px;cursor:pointer;margin-left:1%;margin-right:0px;" ng-click="backButtonClick()" src="~/Images/cancel.png" />
                <h5 ng-hide="mySelection" style="font-size: 16px;margin: auto;margin-left: 1%;margin-right:0px;" class="fontClass">{{ categoryDisplay ? 'CATEGORIES' : selectedCategoryValue.Category | uppercase }}</h5>
                <div class="ctsCategoryPanelSuggestPanel" ng-hide="mySelection">
                    <h5 ng-class="{highlightedSelection : suggestCts.loadSuggestPopup}" ng-click="suggestCts.suggestPanelOpenClose()" style="border-color:#2dc3e8;font-size: 12px;margin: auto;margin-right:0;color:#2dc3e8;" class="fontClass genericPointerClass">Suggest Category</h5>
                </div>                        
            </div>
            <cube-Strct class="cubeParentClass" ng-show="loadingObject.showLoading" loading-Object="loadingObject"></cube-Strct>
            <div class="ctsCategoryPanelMainPanel" ng-if="mySelection && loadingObject.showLoading == false">
                <molecule-Map ng-if="ctsDataForMolecule" cts-Data="ctsDataForMolecule"></molecule-Map>
            </div>
            <div class="ctsCategoryPanelMainPanel" ng-show="suggestCts.loadSuggestPopup" style="display:flex;background-color: rgba(0,0,0,.48);z-index:3;top: 7%;position: absolute;transition:all 0.7s ease;">                
                <div class="ctsSuggestPanel">
                    <div class="ctsSuggestPanelParent">
                        <div class="ctsCategoryHeading" style="height:9%;">
                            <h5 style="font-size: 13px;font-weight: 800;margin: auto;margin-left: 1%;margin-right:0px;" class="fontClass">Suggest Category/Topic/Skill</h5>
                            <img style="width:10px;height:10px;margin: auto auto;cursor:pointer;margin-right:1%;" ng-click="suggestCts.suggestPanelOpenClose()" src="~/Images/cancel.png" />
                        </div>
                        <div class="ctsCategoryPanelMainPanel" style="height:81%;border-bottom: 1px solid lightgray;">
                            <div class="inlineCtsAddField">
                                <div class="inlineCtsAddFieldInput">
                                    <h5 style="font-size: 13px;font-weight: 800;width: 8%;margin: auto;margin-left: 1%;margin-right:0px;" class="fontClass" title="Enter Category/Topic/Skill">Enter CTS</h5>
                                    <input type="text" placeholder="Enter Category/Topic/Skill name" ng-model="suggestCts.inputModel.Category">
                                </div>
                                <div class="inlineCtsAddFieldInput">
                                    <h5 style="font-size: 13px;font-weight: 800;width: 8%;margin: auto;margin-left: 1%;margin-right:0px;" class="fontClass">Description</h5>
                                    <textarea placeholder="Reason" ng-model="suggestCts.inputModel.Description" required></textarea>
                                </div>
                                <div class="ctsCategoryHeading" style="height:34%;border-bottom: 0;">
                                    <button class="signupButton fontClass" ng-click="suggestCts.addSuggestedCategory()" style="margin: auto;width: 100px;padding: 0;">Add</button>
                                </div>
                            </div>
                            <div class="inlineCtsDisplayField">
                                <div class="taskListPanelRepeatDiv" ng-repeat="tasks in suggestCts.displayArray" style="border-bottom: 1px solid lightgray;background: white;height: 25%;">
                                    <div class="taskLavelParentDiv" style="display:block;">
                                        <div class="ctsLabelParentDiv">
                                            <h5 style="font-size: 14px;font-weight: bold;" class="fontClass">{{tasks.Category}}</h5>                                            
                                        </div>
                                        <div class="ctsLabelParentDiv">
                                            <h5 class="fontClass" style="font-size: 12px;">{{tasks.Description}}</h5>
                                        </div>
                                        <div class="removeIconCts">                                            
                                            <img src="../../Images/delete.png" title="Delete" ng-click="suggestCts.displayArray.splice($index,1);"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="ctsCategoryHeading" style="height:10%;border-bottom: 0;">
                            <button class="signupButton fontClass" ng-click="suggestCts.sendCtsInfoToAdmin()" style="margin: auto;width: 100px;padding: 0;">Send to Admin</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ctsCategoryPanelMainPanel" ng-hide="mySelection">
                <div class="ctsCategoryPanel">
                    <div class="parentCatgoryPanel">
                        <div class="cateGoryRepeatPanel" ng-if="categoryDisplay == true">
                            <div style="float: left;width: 50%;height:50%" class="genericPointerClass" ng-click="categoryClick($event,$index,option)" ng-repeat="option in catogoryArray">
                                <div ng-class="{ coachThemeColor : option.selectedCategory == true && role == 'coach' , mentorThemeColor : option.selectedCategory == true && role == 'mentor' , menteeThemeColor : option.selectedCategory == true && role == 'mentee',coacheeThemeColor : option.selectedCategory == true && role == 'coachee' , }" class="categoryCircle">
                                    <div class="categoryRightlabelPart">
                                        <div class="categoryRightlabel">
                                            <h5 style="color:#545454;margin: auto;width:80%;font-size: 15px;" class="leftSideMenuLable fontClass" ng-class="{ whiteBackground : option.selectedCategory == true }">
                                                {{option.Category | uppercase}}
                                            </h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="topicSkillPanel" ng-if="categoryDisplay == false">
                            <div id="topicDynamic"  class="topicClassParent" ng-class="{ heightTopicClass : skillRequired == false}">
                                <div class="topicHeadingSection">
                                    <h5 class="topicHeadingBar">TOPICS</h5>
                                </div>
                                <div class="topicListingSection">
                                    <div class="topicListingPanel">
                                        <div ng-show="topicArray.length == 0" class="topicHeadingPlaceholdr">
                                            <h5 style="color:gray;margin: auto;font-size: 14px;" class="leftSideMenuLable fontClass">
                                                NO TOPIC SELECTED
                                            </h5>
                                        </div>
                                        <div class="topicsList"  title="{{skill.Name+''+(skill.Tooltip ? (' :- '+skill.Tooltip) : '')}}" ng-repeat="skill in topicArray">

                                            <h5 ng-click="topicSelection($event,$index,skill)" class="tagTasks fontClass eliipsisClass" ng-style="styleToCTSText[skill.Name]" style="float: left;width: 100%;height: 28px;z-index: 2;position: relative;">{{skill.Name | uppercase}}</h5>
                                            <div ng-show="skill.selected == true" ng-style="styleToCTS[skill.Name]"></div>
                                            <input ng-show="skillRequired == false && skill.selected == true" ng-click="$event.stopPropagation()" ng-change="changeslider(skill)" ng-model="skill.profiLevel" name="Proficiency Level" title="{{ 'Proficiency Level - '+ (skill.profiLevel == 0 ? 'Basic' : (skill.profiLevel == 1 ? 'Intermediate' : 'Expert') )}}" min="0" step="1" max="2" style="float: left;padding: 0;width: 100%;margin-top: 5px;" type="range" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="skillDynamic" class="skillsClassParent" ng-if="skillRequired">
                                <div class="topicHeadingSection">
                                    <h5 class="topicHeadingBar">SKILLS</h5>
                                </div>
                                <div class="topicListingSection">
                                    <div ng-show="skillsArray.length == 0" class="topicHeadingPlaceholdr">
                                        <h5 style="color:gray;margin: auto;font-size: 14px;" class="leftSideMenuLable fontClass">
                                            No Topic Selected
                                        </h5>
                                    </div>

                                    <div class="topicsList" title="{{skill.Name+''+(skill.Tooltip ? (' :- '+skill.Tooltip) : '')}}" ng-repeat="skill in skillsArray" >
                                                                  
                                        <h5 ng-click="skillSelection($event,$index,skill)" class="tagTasks fontClass eliipsisClass" ng-style="styleToCTSText[skill.Name]" style="float: left;width: 100%;height: 28px;z-index: 2;position: relative;">{{skill.Name | uppercase}}</h5>
                                        <div ng-show="skill.selected == true" ng-style="styleToCTS[skill.Name]"></div>  
                                        <input ng-show="skill.selected == true" ng-click="$event.stopPropagation()" ng-change="changeslider(skill)" ng-model="skill.profiLevel" name="Proficiency Level" title="{{ 'Proficiency Level - '+ (skill.profiLevel == 0 ? 'Basic' : (skill.profiLevel == 1 ? 'Intermediate' : 'Expert') )}}" min="0" step="1" max="2" style="float: left;padding: 0;width: 100%;margin-top: 5px;" type="range" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ctsCategoryActionPanel" ng-hide="categoryDisplay">
                    <div class="cateGoryFormDetails">
                        <button class="signupButton fontClass" ng-click="savepublishClick()" style="padding: 0;">{{categoryDisplay ? 'Publish' : 'SAVE' }}</button>
                        <h5 class="resetClass cancelLink fontClass" ng-click="backButtonClick()">CANCEL</h5>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>
