<div class="ctsParent">
    <div class="ctsParentMain">
        <div class="ctsParentMainPanel">
            <div class="ctsCategoryHeading">
                <h5 ng-show="mySelection" style="font-size: 16px;padding: 6px;padding-left: 0;" class="fontClass" margin-top:15px;>MY SELECTION</h5>
                <h5 ng-hide="mySelection" style="font-size: 16px;padding: 6px;padding-left: 0;" class="fontClass">{{ categoryDisplay ? 'CATEGORIES' : selectedCategoryValue.Category | uppercase }}</h5>
                
                <img ng-show="mySelection" ng-class="{ coachThemeColor : role == 'coach' , coacheeThemeColor : role == 'coachee' , mentorThemeColor : role == 'mentor' , menteeThemeColor : role == 'mentee' }" style=" width:35px;height : 35px;float:right;margin: auto auto;margin-right: 0;border-radius: 30px;padding: 5px;cursor:pointer;" ng-click="addSkill()" src="~/Images/add.png" />
                <img ng-show="categoryDisplay && mySelection == false" ng-class="{ coachThemeColor : role == 'coach' , coacheeThemeColor : role == 'coachee' , mentorThemeColor : role == 'mentor' , menteeThemeColor : role == 'mentee' }"  style=" width:35px;height : 35px;float:right;margin: auto auto;margin-right: 0;border-radius: 30px;padding: 5px;cursor:pointer;" ng-click="backButtonClick()" src="~/Images/cancel.png" />
            </div>
            <div class="ctsCategoryPanelMainPanel" ng-show="mySelection">
                <molecule-Map ng-if="ctsDataForMolecule" cts-Data="ctsDataForMolecule"></molecule-Map>
            </div>
            <div class="ctsCategoryPanelMainPanel" ng-hide="mySelection">
                <div class="ctsCategoryPanel">
                    <div class="parentCatgoryPanel">
                        <div class="cateGoryRepeatPanel" ng-if="categoryDisplay == true">
                            <div style="float: left;width: 50%;height:50%" class="genericPointerClass" ng-click="categoryClick($event,$index,option)" ng-repeat="option in catogoryArray">
                                <div ng-class="{ coachThemeColor : option.selectedCategory == true && role == 'coach' , mentorThemeColor : option.selectedCategory == true && role == 'mentor' , menteeThemeColor : option.selectedCategory == true && role == 'mentee',coacheeThemeColor : option.selectedCategory == true && role == 'coachee' , }" class="categoryCircle">
                                    <div class="categoryRightlabelPart">
                                        <div class="categoryRightlabel">
                                            <h5 style="color:#B5AFAF;margin: auto;width:80%;font-size: 15px;" class="leftSideMenuLable fontClass" ng-class="{ whiteBackground : option.selectedCategory == true }">
                                                {{option.Category | uppercase}}
                                            </h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="topicSkillPanel" ng-if="categoryDisplay == false">
                            <div id="topicDynamic"  class="topicClassParent" ng-class="{ heightTopicClass : skillRequired == false}">
                                <div class="topicHeadingSection">
                                    <h5 class="topicHeadingBar">TOPIC</h5>
                                </div>
                                <div class="topicListingSection">
                                    <div class="topicListingPanel">
                                        <div ng-show="topicArray.length == 0" class="topicHeadingPlaceholdr">
                                            <h5 style="color:gray;margin: auto;font-size: 14px;" class="leftSideMenuLable fontClass">
                                                NO TOPIC SELECTED
                                            </h5>
                                        </div>
                                        <div class="topicsList" title="{{skill.Tooltip}}" ng-repeat="skill in topicArray">

                                            <h5 ng-click="topicSelection($event,$index,skill)" class="tagTasks fontClass eliipsisClass" ng-style="styleToCTSText[skill.Name]" style="float: left;width: 100%;height: 28px;z-index: 2;position: relative;">{{skill.Name | uppercase}}</h5>
                                            <div ng-show="skill.selected == true" ng-style="styleToCTS[skill.Name]"></div>
                                            <input ng-show="skillRequired == false && skill.selected == true" ng-click="$event.stopPropagation()" ng-change="changeslider(skill)" ng-model="skill.profiLevel" name="Proficiency Level" title="{{ 'Proficiency Level - '+ (skill.profiLevel == 0 ? 'Basic' : (skill.profiLevel == 1 ? 'Intermediate' : 'Expert') )}}" min="0" step="1" max="2" style="float: left;padding: 0;width: 100%;margin-top: 5px;" type="range" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="skillDynamic" class="skillsClassParent" ng-if="skillRequired">
                                <div class="topicHeadingSection">
                                    <h5 class="topicHeadingBar">SKILLS</h5>
                                </div>
                                <div class="topicListingSection">
                                    <div ng-show="skillsArray.length == 0" class="topicHeadingPlaceholdr">
                                        <h5 style="color:gray;margin: auto;font-size: 14px;" class="leftSideMenuLable fontClass">
                                            NO TOPIC SELECTED
                                        </h5>
                                    </div>

                                    <div class="topicsList" title="{{skill.Name+' :- '+skill.Tooltip}}" ng-repeat="skill in skillsArray" >
                                                                  
                                        <h5 ng-click="skillSelection($event,$index,skill)" class="tagTasks fontClass eliipsisClass" ng-style="styleToCTSText[skill.Name]" style="float: left;width: 100%;height: 28px;z-index: 2;position: relative;">{{skill.Name | uppercase}}</h5>
                                        <div ng-show="skill.selected == true" ng-style="styleToCTS[skill.Name]"></div>  
                                        <input ng-show="skill.selected == true" ng-click="$event.stopPropagation()" ng-change="changeslider(skill)" ng-model="skill.profiLevel" name="Proficiency Level" title="{{ 'Proficiency Level - '+ (skill.profiLevel == 0 ? 'Basic' : (skill.profiLevel == 1 ? 'Intermediate' : 'Expert') )}}" min="0" step="1" max="2" style="float: left;padding: 0;width: 100%;margin-top: 5px;" type="range" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ctsCategoryActionPanel" ng-hide="categoryDisplay">
                    <div class="cateGoryFormDetails">
                        <button class="signupButton fontClass" ng-click="savepublishClick()" style="width: 90px;height: 30px;padding: 0;">{{categoryDisplay ? 'Publish' : 'SAVE' }}</button>
                        <h5 class="resetClass cancelLink fontClass" ng-click="backButtonClick()">CANCEL</h5>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="applicationBottomStrip">
        <bottom-Main-Strip></bottom-Main-Strip>
    </div>
</div>
