<div class="parentBody" ng-controller="ksDashBoardCoacheeController">
    <div class="parentRoleDashboard">
        <div class="parentRoleMenu coacheeThemeColor">
            <div class="profileViewMode genericPointerClass" ng-click="navigateToProfile()">
                <div class="imageConversation">
                    <img class="profileImgLeftPanel" ng-src="{{loggedDetail.Photo ?  loggedDetail.Photo  : '../../../Images/icons/If no Profile photo.png'}}" />
                </div>
                <div style="width: 75%;height: 50%;" class="profileNamePart fontClass genericPointerClass">
                    <h5 style="width: 100%;margin: 0;" class="leftSideMenuLable fontClass genericPointerClass eliipsisClass">{{(loggedDetail.FirstName+" "+loggedDetail.LastName) | uppercase }}</h5>
                    <h5 style="font-size: 12px;float: left;margin-left:0;" class="leftSideMenuLable fontClass genericPointerClass eliipsisClass">- Coachee</h5>
                </div>
            </div>
            <div class="leftSideMenuMainDashBoard">
                <div class="leftSideMenuParent">
                    <div class="leftSideMenu" ng-class="{ selectedLeftSideMenu : selectedMenu == $index }" ng-repeat="option in leftSideMenus" ng-click="menuClick($index,option)">
                        <h5 class="leftSideMenuLable fontClass genericPointerClass">{{option.name}}</h5>
                    </div>
                </div>
            </div>
        </div>

        <div class="parentRoleDetailRight cubeDiv"ng-if="loadingMiddleObject.showLoading">
            <cube-Strct class="cubeParentClass" loading-Object="loadingMiddleObject"></cube-Strct>
        </div>
        <div class="parentRoleDetailRight" style="padding:1%;padding-bottom: 0;" ng-if="loadingMiddleObject.showLoading == false" ng-switch="selectedMenu">
            @*DashBoard - 0*@
            <div class="fullWidthHeightClass" ng-switch-when="0">
                <div class="homeLabelInMainDB" ng-init="gridViewLoaded = false">
                    <h5 class="fontClass" style="font-size: 16px;">INVITES</h5>
                     <img class="rotateIconDownWord" ng-class="{ rotateIconupWord : gridViewLoaded == true }"style="width:35px;height : 35px;float:right;margin: auto auto;margin-right: 0;border-radius: 30px;padding: 5px;cursor:pointer;" ng-click="gridViewLoaded =! gridViewLoaded;loadGridView()" src="~/Images/left_circle.png" />
                </div>
                <div class="userNotificationParent" ng-class="{ gridViewLoadedClassForInbox : gridViewLoaded == true }">
                    <div class="userRoleWizardParent" ng-class="{ gridViewLoadedClassForInbox : gridViewLoaded == true }">
                        <invites-View ng-class="{ inlineBlockClass : gridViewLoaded == true }" style="overflow-x: scroll;overflow-y: hidden;display: inline-flex;width: 100%;height: 100%;float: left;position: relative;" role="Coachee" required-Field="['MTG']"></invites-View>                       
                    </div>
                </div>
                <div class="dashBoardWizard" ng-class="{ gridViewLoadedClass : gridViewLoaded == true }">
                    <div class="homeLabelInMainDB" style="height: 9%;">
                        <h5 class="fontClass" style="font-size: 16px;">DASHBOARD</h5>
                    </div>
                    <div class="mainDashBoardWizardParent">
                        <div class="dashBoardMenuCoach">
                            <div class="dashBoardMenuCoachRight genericPointerClas col-md-3 " ng-click="selectedOption($index,option)" ng-repeat="option in rightSideDashBoardArray" ng-class="{'dashBoardMenuCoachBottom': $index == 3}">
                                <div class="dashBoardMenuCoachRightCircle">

                                    <div class="dashBoardMenuCoachRightCirclePart">
                                        <img src={{option.url}} class="dashBoardMenuCoachImage">
                                    </div>
                                </div>
                                <div class="dashBoardMenuCoachRightlabel">
                                    <h5 style="color:black;margin: auto;" class="leftSideMenuLable fontClass">{{option.name}}</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @*Search Coach - 2 *@
            <div class="fullWidthHeightClass" ng-switch-when="2">
                <div class="hideCoacheeProfile" ng-class="{ showCoacheeProfileClass : showCoacheeProfile == true }">
                    <profile-Page ng-if="showCoacheeProfile && userInfo" load-Outside ="true" user-Info="userInfo" close-Popup="closeProfilePic()" edit-Required="false"></profile-Page>
                </div>
                <div class="ctsParent">
                    <div class="ctsParentMain">
                        <div class="ctsParentMainPanel">
                            <div class="ctsCategoryHeading">
                                <div class="homeLabelInChat" style="width: 78%;height:100%;display: flex;">
                                    <h5 class="fontClass" style="font-size: 16px;margin: auto;margin-left: 1%;">SEARCH COACH</h5>
                                </div>
                                <div class="search-mentor" style="width: 22%;">
                                    <div class="inner-addon left-addon" style="float: left;">
                                        <span ng-show="searchCoachObj.searchKey.length > 0" style="z-index: 2;position: absolute;" class="filter-icon" ng-click="clearSearch()"><i class="fa fa-times-circle"></i></span>
                                        <span ng-show="searchCoachObj.searchKey.length == 0" style="z-index: 2;position: absolute;" class="filter-icon"><i class="fa fa-search"></i></span>
                                        @*<input type="text" class="auto-complete" cts-dropdown ng-model="searchCoachObj.searchKey" key="searchCoachObj.searchKey" searching="searching" skill="selectedSkill" placeholder="Type to search" />*@
                                        <auto-Complete ng-if="availableSkills.length > 0" style="float: left;z-index: 1;position: absolute;width: 85%;left: 30px; height: 100%;" width-Height="35" model="groupmemberTo" format="suggestion" open-For="TO" layout-mode="'1'" listing-Data="availableSkills" call-Back-Typing="callBackInTyping" call-Back-In-Change="callBackAfterChangeValue" call-Back-Before-Add="callBackBeforeAdd(iACAddTag,iACCallback,iType)" call-Back-Before-Remove="callBackBeforeRemove" object-Params="objFormat"></auto-Complete>
                                    </div>
                                    @*<div class="auto-complete-container" ng-show="searching" ng-class="{hide:!searching}">
                                        <div ng-click="searchCoachObj.selectSkill(skill)" class="item" ng-repeat="skill in skills = (availableSkills | filter: skillFilter)">
                                            <div>{{skill.Name}}</div>
                                        </div>
                                        <div ng-show="!skills.length && searching" class="no-result">
                                            No result found.
                                        </div>
                                    </div>*@
                                </div>
                            </div>
                            <place-Holder message="No recommended Coaches" ng-show="Coaches.length == 0"></place-Holder>
                            <div class="ctsCategoryPanelMainPanel" style="overflow-y:scroll;" ng-hide="Coaches.length == 0">
                                <h5 class="margin-small" style="margin-bottom: 0;">{{ searchCoachObj.searchingActive ? 'SEARCH RESULTS' : 'RECOMMENDED COACHES'}}</h5>
                                <div class="filterListContainer">
                                    <div class="mentor-list">
                                        <div class="row" style="margin:0px;">
                                            <div style="display: flex;width: 100%;height: 35px;" ng-repeat-start="timeSlot in timeSlots">
                                                <div style="margin:auto;width: 100%;display: flex;">
                                                    <div style="width:33.33%;height:100%;float:left;margin: auto;">
                                                        <div style="height:1px;width:100%;border-bottom:1px solid rgba(214,214,214,.61);"></div>
                                                    </div>
                                                    <div style="width:33.33%;height:100%;float:left;margin: auto;display:flex;">
                                                        <h5 class="" style="margin: auto;color: #a9a9a9;font-size:13px;" title="{{timeSlot}}">{{timeSlot}}</h5>
                                                    </div>
                                                    <div style="width:33.33%;height:100%;float:left;margin: auto;">
                                                        <div style="height:1px;width:100%;border-bottom:1px solid rgba(214,214,214,.61);"></div>
                                                    </div>

                                                </div>

                                            </div>
                                            <div class="mentor-card coachBorderColor" style="border-top-width:4px !important; border-right: 1px solid #ddd !important;border-left: 1px solid #ddd !important;border-bottom: 1px solid #ddd !important;" ng-init="coach.showOption = false" ng-mouseleave="coach.showOption = false" ng-mouseover="coach.showOption = true" ng-class="{ mentorCardAnimation : coach.showLoad == true }" ng-repeat-end="" ng-repeat="coach in Coaches" ng-if="coach.Skill.Name == timeSlot">
                                                <cube-Strct ng-style="coach.loadingSearchCoach.loadingEffectCss" ng-show="coach.loadingSearchCoach.showLoading == true" class="cubeParentClass" loading-Object="coach.loadingSearchCoach"></cube-Strct>
                                                <div class="mentor-actions" ng-class="{ mentorActionsActivate : coach.showOption == true}">
                                                    <h5 class="genericEventHeadings" style="margin: auto;color: white;font-size:13px;" title="View Profile" ng-click="opencoachprofile(coach)">View Profile</h5>
                                                    <h5 class="genericEventHeadings" style="margin: auto;color: white;font-size:13px;" title="Send Coaching Request" ng-click="sendCoachingRequest(false, coach)">Request</h5>
                                                </div>
                                                <div class="mentor-info">
                                                    <span class="profile-close" ng-click="Coaches.splice($index,1);" style="float:right;top:10px;right:10px;"><i class="fa fa-times"></i></span>
                                                    <div class="profile-image" style="display:flex;">
                                                        <img ng-src="{{coach.PhotoURL ? coach.PhotoURL : 'Images/icons/If no Profile photo.png'}}" class="img-circle" />
                                                        <h5 class="fontClass eliipsisClass" style="background: rgb(231,120,23);color: white; border: 1px solid #CCCCCC;font-size: 11px;padding: 5px;text-align: center;float: left;margin: auto;margin-right: 0;width: 97px;height: 25px;">{{coach.Skill.profiLevel == '0' ? 'Basic' : (coach.Skill.profiLevel == '1' ?'Intermediate' : 'Expert')}}</h5>
                                                    </div>
                                                    <div class="profile-info">
                                                        <h5 class="mentor-name fontClass eliipsisClass">{{ (coach.FirstName +" "+coach.LastName) | uppercase }}</h5>
                                                        <h5 class="mentor-skils fontClass eliipsisClass" style="font-size: 12px;margin-top: 17px;">{{ coach.EmailAddress }}</h5>
                                                        <h5 class="mentor-skils fontClass eliipsisClass" style="font-size: 10px;">Skill - {{coach.Skill.Name | uppercase}}</h5>
                                                        <h5 class="mentor-location fontClass eliipsisClass" style="font-size: 10px;">{{displayAddress(coach)}}</h5>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @*Communication - 4*@
            <div class="fullWidthHeightClass" ng-switch-when="4">
                <div class="homeLabelInChat" style="height:7%;border-bottom:1px solid lightgray;">
                    <h5 class="fontClass" style="font-size: 16px;margin-left:1%;">COMMUNICATION</h5>
                </div>
                <place-Holder message="No Conversations" ng-show="conversationListNew.length == 0"></place-Holder><place-Holder message="No Conversations" ng-show="conversationListNew.length == 0"></place-Holder>
                <div class="communicationMainPanel" ng-hide="conversationListNew.length == 0">
                    <div ng-if='feedBack.askFeedback' class="feedbackPanel" style="height: 75%;">
                        <feedback-Page role="Coachee" feedback-Type="feedBack.feedBackType" read-Only="feedBack.feedBackMode" question="array" feedback-Closed="feedBack.icloseFeedBack" conv-Object="openConversation" submit-Feedback="feedBackSave()" close-Callback="closeCallBack()"></feedback-Page>
                    </div>
                    <div class="conversationPanel">
                        <div class="conversationPanelDiv">
                            <div class="conversationList" ng-class="{ highlightedSelctedConversationParent  : conversation.selectedConversation == true}" ng-click="conversationLoad($index,conversation)" ng-repeat="conversation in conversationListNew">
                                <div class="conversationParentDiv">
                                    <div class="imageConversation">
                                        <img ng-class="{ activeSessionCLass :  conversation.sessionClosed == false, closeSessionClass :  conversation.sessionClosed == true }" style="margin:auto auto;width: 40px;height: 40px;border-radius: 50%;"  ng-src="{{ conversation.Photo ? conversation.Photo : '/Images/icons/If no Profile photo.png' }}" />
                                    </div>
                                    <div class="nameMessageConversation">
                                        <div style="margin:auto auto;float:left; width: 100%;height: 55%;">
                                            <h5 class="textFormatConversation eliipsisClass fontClass" style="color:#797979;font-size:13px;">{{(conversation.FirstName +" "+conversation.LastName) | uppercase }}</h5>
                                            <h5 class="textFormatConversation eliipsisClass fontClass" style="color:#aaa; font-size: 10px;font-weight: 100;">{{conversation.skill  | uppercase }}</h5>
                                        </div>
                                    </div>
                                    <div ng-show="conversation.selectedConversation == true" class="highlightedSelctedConversation"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="communicationPanel">
                        <cube-Strct ng-show="loadingMessageObject.showLoading" class="cubeParentClass" loading-Object="loadingMessageObject"></cube-Strct>
                        <div ng-hide="loadingMessageObject.showLoading" class="chatParent">
                            <div class="myFeedBackClass" ng-class="{ loadMyFeedBackClass : loadMyFeedback == true }"></div>
                            <div class="chatHeader">
                                <div class="chatStrongHeader">
                                    <div class="chatHalfContainer">
                                        <span style="color:#797979;" class="chatHalfContainerSpan">
                                            <h5 class="fontClass">{{ReceiverName}}</h5>
                                        </span>
                                        @*<div style="margin: auto;margin-right: 0;width: 29px;">
                                                <img ng-click="askFeedBackFunc(3)" class="mod model-1" style="width: 35px;height: 35px;" title="Pre Session Feedback" src="~/Images/communication/preSessionIcon.png" />
                                                <section style="position: absolute;top: 4px;width: 44px;z-index: 1;background: transparent;" class="mod model-1">
                                                    <div class="spinner"></div>
                                                </section>
                                            </div>
                                            <span style="margin: auto;height: 35px;margin-left: 0;margin-right: 0;" ng-hide="openConversation.sessionClosed" class="chatHalfContainerSpanNxt">
                                                <h6 class="fontClass genericPointerClass" style="margin: auto;" ng-click="askFeedBackFunc(true)">Close Session</h6>
                                                <h6 class="fontClass genericPointerClass" style="margin: auto;" ng-click="askFeedBackFunc(false)">Give Feedback</h6>
                                            </span>*@
                                    </div>
                                    <div class="chatHalfContainer">
                                        <span class="chatHalfContainerSpanNxt" style="align-items: center;">
                                            <h6 class="fontClass" style="padding: 0px;margin-bottom: 27px;">{{openConversation.skill}}</h6>
                                        </span>
                                    </div>
                                    <div class="feedBackCommunicationStrip" ng-class="{ widthClassDIvide : cliked > -1 }">
                                        <div style="float:left;width:100%;height:10%;display: flex;" ng-class="{  iuIconParentHide : showFeedBack == false, iuIconFeedBack : showFeedBack == true}">
                                            <img ng-class="{  iuIconParentHide : iconMgmt.uIconClicked == true,  iuIconParentShow: iconMgmt.uIconClicked == false,ChangeHeightIUIcon : iconMgmt.iIconClicked == true,  normalHeightIUIcon: iconMgmt.iIconClicked == false}" style="width:25px;height: 25px;padding: 0px !important;" class="fontClass genericPointerClass feedBackPanelButton" ng-click="iconMgmt.iIconClicked=!iconMgmt.iIconClicked;iUClickFunc()" ng-src="{{ iconMgmt.iIconClicked &&  '/Images/i.png' || '/Images/iCircle.png'}}" />
                                            <img ng-class="{  iuIconParentHide : iconMgmt.iIconClicked == true,  iuIconParentShow: iconMgmt.iIconClicked == false,ChangeHeightIUIcon : iconMgmt.uIconClicked == true,  normalHeightIUIcon: iconMgmt.uIconClicked == false}" style="width:25px;height: 25px;padding: 0px !important;" class="fontClass genericPointerClass feedBackPanelButton" ng-click="iconMgmt.uIconClicked=!iconMgmt.uIconClicked;iUClickFunc()" ng-src="{{ iconMgmt.uIconClicked &&  '/Images/u.png' || '/Images/uCircle.png'}}" />
                                        </div>
                                       
                                        <div class="hideIFeedbackIcon" ng-class="{ clickElemnentClass : iconMgmt.uIconClicked == true, hideIFeedbackIcon : iconMgmt.iIconClicked == false && iconMgmt.uIconClicked == false }">
                                            <ul class="sub-menu" >
                                                <li class="mouseHoveEffect" ng-repeat="arr in feedbackDisplayIcon" ng-click="openFeedBackFormOnAction({ event : $event, index : $index, icon : arr , mode : iconMgmt.uIconClicked ? 'Other' :'Self' })"ng-class="{ clickElemnerrrrt : applyAnimatonToFeedBack == true }">                                                   
                                                     <h5 ng-show="iconMgmt.iIconClicked" class="fontClass genericPointerClass" style="margin:auto;font-size: 12px; font-weight: 100;text-transform: none;"  ng-style="arr.styleI" >{{arr.Name}}</h5> 
                                                     <h5 ng-show="iconMgmt.uIconClicked" class="fontClass genericPointerClass" style="margin:auto;font-size: 12px; font-weight: 100;text-transform: none;" ng-style="arr.styleU">{{arr.Name}}</h5>                                                  
                                                </li>                                                
                                            </ul>                                            
                                        </div>
                                        @*<div id="monthlycontroller" ng-style="iconCLickedParent" style="float:left;width:100%;height:100%;position:relative;" ng-init="iconMgmt.iIconClicked = false">
                                            
                                            <div ng-style="icon.styleObj" style="position: absolute;" class="" ng-repeat="icon in feedbackDisplayIcon">
                                               <h6 title="To see details please click on it" ng-if="icon.replaceName == null && expandIndex != $index" ng-style="icon.style" class="fontClass genericPointerClass feedBackPanelButton" ng-click="iconCLicked($event,$index,icon)">{{icon.Name}}</h6>
                                                                            
                                                 <div style="float:left;width:100%;height:100%;border:1px solid #a9a9a9;border-right: 0;border-bottom: 0;" ng-if="expandIndex == $index && icon.Name == 'F'">
                                                    <div style="height: 16% !important;width:100%;display:flex;border-right:1px solid #a9a9a9;border-bottom:1px solid #a9a9a9;">
                                                        <h6 title="Double click on it to go back to option" ng-dblclick="closeEx($event)" style="font-size:13px;margin:auto;" class="fontClass feedBackPanelButton">Feedbacks</h6>
                                                    </div>
                                                    
                                                     <div style="height: 14% !important;width:100%;" ng-repeat="feedBack in displayFeedBack">
                                                         <h6 title="Double click on it to go back to option" ng-class="{ highlightedGrayColorClass  : feedBack.selectedModeInner == 'Self'}" sglclick="openFeedBackFormOnAction({ event : $event, index : $index, icon : feedBack , mode : 'Self' })" ng-style="feedBack.style" ng-dblclick="closeEx($event)" style="font-size:10px;" class="fontClass genericPointerClass feedBackPanelButton">{{ feedBack.replaceNameI}}</h6>
                                                         <h6 title="Double click on it to go back to option" ng-class="{ highlightedGrayColorClass  : feedBack.selectedModeInner == 'Other'}" sglclick="openFeedBackFormOnAction({ event : $event, index : $index, icon : feedBack , mode : 'Other' })" ng-style="feedBack.style" ng-dblclick="closeEx($event)" style="font-size:10px;" class="fontClass genericPointerClass feedBackPanelButton">{{ feedBack.replaceNameU}}</h6>
                                                     </div>
                                                </div>
                                                <div style="float:left;width:100%;height:100%;" ng-if="expandIndex == $index && icon.Name != 'F'">
                                                    <h6 title="Double click on it to go back to option" ng-class="{ heightClassFeed : expandIndex == $index && icon.Name == 'F', highlightedGrayColorClass  : selectedMode == 'Self' }" sglclick="openFeedBackFormOnAction({ event : $event, index : $index, icon : icon , mode : 'Self' })" ng-style="icon.style" ng-dblclick="closeEx($event)" style="font-size:10px;" class="fontClass genericPointerClass feedBackPanelButton">{{ icon.replaceNameI}}</h6>
                                                    <h6 title="Double click on it to go back to option" ng-class="{ heightClassFeed : expandIndex == $index && icon.Name == 'F', highlightedGrayColorClass  : selectedMode == 'Other'}" sglclick="openFeedBackFormOnAction({ event : $event, index : $index, icon : icon , mode : 'Other' })" ng-style="icon.style" ng-dblclick="closeEx($event)" style="font-size:10px;" class="fontClass genericPointerClass feedBackPanelButton">{{ icon.replaceNameU}}</h6>
                                                </div>

                                            </div>
                                        </div>*@
                                    </div>
                                </div>
                            </div>
                            <div class="chatMiddle" id="messagebox">
                                <div style="display: flex;width: 100%;height: 35px;" ng-repeat-start="timeSlot in timeSlots">
                                    <div style="margin:auto;width: 100%;display: flex;">
                                        <div style="width:33.33%;height:100%;float:left;margin: auto;">
                                            <div style="height:1px;width:100%;border-bottom:1px solid rgba(214,214,214,.61);"></div>
                                        </div>
                                        <div style="width:33.33%;height:100%;float:left;margin: auto;display:flex;">
                                            <h5 class="genericEventHeadings genericMarginZero genericEllipsis" style="margin: auto;color: #a9a9a9;font-size:13px;" title="{{timeSlot.displayDate}}">{{timeSlot.displayDate}}</h5>
                                        </div>
                                        <div style="width:33.33%;height:100%;float:left;margin: auto;">
                                            <div style="height:1px;width:100%;border-bottom:1px solid rgba(214,214,214,.61);"></div>
                                        </div>

                                    </div>

                                </div>
                                <div class="chatOuterContainer" ng-repeat-end="" ng-repeat="MailRecord in MailRecords" ng-if="MailRecord.displayDate == timeSlot.displayDate">
                                    <div class="" ng-hide="(MailRecord.Content.indexOf('has been filled by ') > -1 || MailRecord.Content.indexOf('was closed') > -1 || MailRecord.Content.indexOf(' has been accepted') > -1)" ng-class="{ chatReceiverImage : MailRecord.SenderEmail === loggedEmail, chatSenderImage : MailRecord.ReceiverEmail === loggedEmail }">
                                        <div class="imageConversation" style="width: 100%;display: block;">
                                            <img style="box-shadow: 0 0 19px 0px #969595;width: 40px;height: 40px;border-radius: 50%;" ng-src="{{ MailRecord.Photo ? MailRecord.Photo : '/Images/icons/If no Profile photo.png' }}" />
                                            <h5 class="fontClass" style="margin: 0;width: 50px;color: #aaa;font-size: 10px;height: auto;margin-top:3px;">{{MailRecord.UpdateDate | date:'hh:mm a' }}</h5>
                                        </div>
                                    </div>
                                    <div style="border-radius: 7px;display:flex;" ng-class="{systemMessageClass : (MailRecord.Content.indexOf('has been filled by ') > -1 || MailRecord.Content.indexOf('was closed') > -1 || MailRecord.Content.indexOf(' has been accepted') > -1),chatReceiver : MailRecord.SenderEmail === loggedEmail, chatSender : MailRecord.ReceiverEmail === loggedEmail}">
                                        <div style="margin:auto;float:left;">
                                            <h5 ng-hide="(MailRecord.Content.indexOf('has been filled by ') > -1 || MailRecord.Content.indexOf('was closed') > -1 || MailRecord.Content.indexOf(' has been accepted') > -1)"  class="fontClass" style="margin: 0;margin-bottom: 5px;color: #1d89cf;height: auto;font-size:11px;font-size: 10px;width: 100%;" ng-class="{chatTimeReceiver : MailRecord.SenderEmail === loggedEmail, chatTime : MailRecord.ReceiverEmail === loggedEmail}">{{(MailRecord.Name) | uppercase }} </h5>
                                            <h5 class="fontClass" style="margin: 0;margin-bottom: 5px;color: #555;font-size:13px;">{{MailRecord.Content}}</h5>

                                            <div ng-show="MailRecord.FilesURLlink && MailRecord.FilesURLlink.length > 0" class="imageConversation" style="width: 100%;display: block;height:auto;">
                                                <div class="ImpactZoneChildDiv mouseOverEffectDiv" style="border-top: 1px solid #ddd;overflow: hidden;height:50px !important" ng-repeat="option in MailRecord.FilesURLlink">
                                                    <div class="profileImageCoachingStatus" style="width:30px;">
                                                        <img ng-src="{{option.PhotoURL ? option.PhotoURL : '/Images/icons/Microsoft_Word_2013_icon.png' }}" style="margin: auto auto;float: left;height: 25px;width: 25px;" />
                                                    </div>
                                                    <div class="statusCoachingStatus" style="width: 50%;">
                                                        <h5 class="fontClass genericPointerClass multilineEllipsis" ng-click="loadFeedOnNextTab(option)"  style="color:#A9A9A9;margin: auto auto;float: left;margin-left: 0;">{{option.FileName}}</h5>
                                                    </div>
                                                    <div class="communicationsCoachingStatus" style="width: 14%;    margin-right: 0;">
                                                        <h5 class="fontClass" style="color:#A9A9A9;margin: auto auto;float: left;margin-left: 0;">{{option.size}}</h5>
                                                    </div>
                                                    <div class="profileImageCoachingStatus">
                                                        <img ng-src="{{ option.bookMarked ? 'Images/rate-star-button.png' : 'Images/silverstar.png' }}" ng-click="option.bookMarked =! option.bookMarked; saveBookmark(option)" style="margin: auto; float: left;height: 15px;width: 20px;" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div ng-show="MailRecord.BookmarksURLLink && MailRecord.BookmarksURLLink.length > 0" class="imageConversation" style="width: 100%;display: block;height:auto;">
                                                <div class="ImpactZoneChildDiv mouseOverEffectDiv genericPointerClass" style="border-top: 1px solid #ddd;overflow: hidden;height:50px !important;" ng-repeat="option in MailRecord.BookmarksURLLink">
                                                    <div class="profileImageCoachingStatus" style="margin-left: 3%;">
                                                        <img src="Images/rate-star-button.png" style="margin: auto; float: left;height: 15px;width: 22px;" />
                                                    </div>
                                                    <div class="statusCoachingStatus" style="width: 50%;margin-left: 3%;">
                                                        <h5 class="fontClass genericPointerClass multilineEllipsis" ng-click="loadFeedOnNextTab({ FilePath : option.LinkUrl })" style="color:#A9A9A9;margin: auto auto;float: left;margin-left: 0;">{{option.DocumentName}}</h5>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                </div>
                            </div>
                            <div class="chatBottom">
                                <div class="chatBottomOne">
                                    <textarea ng-keypress="conversationClick($event)" ng-disabled="openConversation.sessionClosed" placeholder="{{ openConversation.sessionClosed ? 'SESSION CLOSED' : 'CLICK HERE TO TYPE MESSAGE'}}" required ng-model="conversation.Message"></textarea>
                                </div>
                                <div class="chatBottomTwo">
                                    <div class="iconContainer">
                                        <div class="genericPointerClass" style="padding: 0px 8px;" ng-click="loadAttachment()"><img style="width:17px;" src="~/Images/attachmentIcon.png" /></div>
                                        <div class="genericPointerClass" style="padding: 0px 8px;" ng-click="scheduleMeeting()"><img style="width:20px;" src="~/Images/meetingScheduler.png" /> </div>
                                    </div>
                                    <div class="iconContainer">
                                        <button type="submit" class="btn btn-default" ng-disabled="conversation.Message==''" ng-click="conversationClick($event, true)">Send</button>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>                
            </div>
            @*RESOURCES - 6*@
            <div class="fullWidthHeightClass" ng-switch-when="6">
                <div class="applicationMiddleStripMain " style="display:flex;height:100%;">
                    <common-Repository class="fullWidthHeightClass" extra-Param="objectForResourceTab"></common-Repository>
                </div>
            </div>
            @*Rss feed - 3*@
            <div class="fullWidthHeightClass" ng-switch-when="3">
                <rss-Feed role="coachee" skill="feedCategoryArray"></rss-Feed>
            </div>
            @*Knowledge Garden - 7*@
            <div class="fullWidthHeightClass" ng-switch-when="7">
                <div class="homeLabelInChat" style="height:7%; border-bottom:1px solid lightgray;">
                    <h5 class="fontClass" style="font-size: 16px;margin-left: 1%;">KNOWLEDGE GARDEN</h5>
                </div>
                <div class="" style="float:left;width:100%;height:93%;">
                    <place-Holder message="As no coaching has started your Knowledge Garden has not grown!" ng-show="coachingStatusArray.length == 0"></place-Holder>
                    <molecule-Map ng-if="ctsDataForMolecule && coachingStatusArray.length >0" cts-Data="ctsDataForMolecule"></molecule-Map>
                </div>
            </div>           
            @*Select skills - 1*@
            <div class="fullWidthHeightClass" ng-switch-when="1">
                <ctc-Role role="coachee" skill-Required="true"></ctc-Role>
            </div>
            @*MY Rewards - 5 *@
            <div class="fullWidthHeightClass" ng-switch-when="5">
                <my-Reward role="coachee"></my-Reward>
            </div>
        </div>
    </div>
</div>

