<div class="parentBody" ng-controller="ksDashBoardCoachController">
    <div class="applicationTopStrip">
        <top-Main-Strip></top-Main-Strip>
    </div>
    <div class="applicationMiddleStripMain">
        <div class="parentRoleDashboard">
            <div class="parentRoleMenu coachThemeColor">
                <div class="profileViewMode genericPointerClass" ng-click="navigateToProfile()">
                    <div class="profileImagePart"  style="background: url({{ loggedDetail.Photo ?  loggedDetail.Photo  : '../../../Images/icons/If no Profile photo.png'}}) no-repeat;  "></div>
                    <div class="profileNamePart fontClass genericPointerClass">WELCOME {{(loggedDetail.FirstName) | uppercase }}</div>
                </div>
                <div class="leftSideMenuMainDashBoard">
                    <div class="leftSideMenuParent">
                        <div class="leftSideMenu" ng-class="{ selectedLeftSideMenu : selectedMenu == $index }" ng-repeat="option in leftSideMenus" ng-click="menuClick($index,option)">
                            <h5 class="leftSideMenuLable fontClass genericPointerClass">{{option.name}}</h5>
                            <h5 ng-if="option.name == 'Add Skills'" style="float: right;font-size: 25px;margin: 1%;" class="leftSideMenuLable fontClass genericPointerClass">+</h5>
                        </div>
                    </div>
                </div>
            </div>
            @*Knowledge Garden - 3*@
            <div class="parentRoleDetailRight" style="padding:1%;padding-bottom: 0;" ng-if="selectedMenu == '3'">
                <div class="homeLabelInChat" style="height:7%;border-bottom:1px solid lightgray;">
                    <h5 class="fontClass" style="font-size: 16px;">KNOWLEDGE GARDEN</h5>
                </div>
                <div class="" style="float:left;width:100%;height:86%;">
                    <molecule-Map ng-if="ctsDataForMolecule" cts-Data="ctsDataForMolecule"></molecule-Map>
                </div>
                <div class="applicationBottomStrip">
                    <bottom-Main-Strip></bottom-Main-Strip>
                </div>
            </div>
            @*VCS - 8 *@
            @*<div class="parentRoleDetailRight" ng-if="selectedMenu == '8'">
                <vcs-Dir></vcs-Dir>
            </div>*@
            @*Add Skills -2 *@
            <div class="parentRoleDetailRight" ng-if="selectedMenu == '2'">
                <ctc-Role role="coach" skill-Required="true"></ctc-Role>
            </div>
            @*Value feed temp purpose - 7 *@
            @*<div class="parentRoleDetailRight" ng-if="selectedMenu == '7'">
                <value-Feed></value-Feed>
            </div>*@
            @*RESOURCES - 7*@
            <div class="parentRoleDetailRight" style="padding:1%;padding-bottom: 0;" ng-if="selectedMenu == '7'">
                <div class="labelInRightPanelVCG" style="height:7%;border-bottom:1px solid lightgray;display:flex;">
                    <h5 class="fontClass" style="font-size: 16px;margin: auto;margin-left: 2%;">RESOURCES</h5>
                </div>

                <div style="float: left;width: 100%;height: 93%;background-color: #f3f3f3;">
                    <div style="float: left;width: 100%;height: 90%;;position: relative;display:flex;" class="col-md-12">
                        <div class="podcastsContainer col-md-5 col-sm-12 mosuehover">
                            <div class="podcastHeader">
                                <h5 style="margin: auto;margin-left: 2%;" class="fontClass ValueFeedsHeade">ARTIFACTS</h5>
                            </div>
                            <div style="height:90%;width:100%;float:left">
                                <div style="height: 93%;width: 100%;float:left;">
                                    <div class="ImpactZoneChildDiv" ng-repeat="option in leftSideMenus" style="height:10%;display: flex;">
                                        <div class="profileImageCoachingStatus">
                                            <img ng-show="$index==0" ng-src="{{option.PhotoURL ? option.PhotoURL : '/Images/icons/Microsoft_Word_2013_icon.png' }}" style="margin: auto auto;float: left;height: 35px;width: 35px;" />
                                            <img ng-show="$index==1" ng-src="{{option.PhotoURL ? option.PhotoURL : '/Images/icons/microsoft-excel-icon.png' }}" style="margin: auto auto;float: left;height: 35px;width: 35px;" />
                                            <img ng-show="$index==2" ng-src="{{option.PhotoURL ? option.PhotoURL : '/Images/icons/Microsoft_Word_2013_icon.png' }}" style="margin: auto auto;float: left;height: 35px;width: 35px;" />
                                            <img ng-show="$index==3" ng-src="{{option.PhotoURL ? option.PhotoURL : '/Images/icons/Microsoft_Word_2013_icon.png' }}" style="margin: auto auto;float: left;height: 35px;width: 35px;" />
                                            <img ng-show="$index==4" ng-src="{{option.PhotoURL ? option.PhotoURL : '/Images/icons/microsoft-excel-icon.png' }}" style="margin: auto auto;float: left;height: 35px;width: 35px;" />
                                            <img ng-show="$index==5" ng-src="{{option.PhotoURL ? option.PhotoURL : '/Images/icons/Microsoft_Word_2013_icon.png' }}" style="margin: auto auto;float: left;height: 35px;width: 35px;" />
                                            <img ng-show="$index==6" ng-src="{{option.PhotoURL ? option.PhotoURL : '/Images/icons/microsoft-excel-icon.png' }}" style="margin: auto auto;float: left;height: 35px;width: 35px;" />
                                            <img ng-show="$index==7" ng-src="{{option.PhotoURL ? option.PhotoURL : '/Images/icons/Microsoft_Word_2013_icon.png' }}" style="margin: auto auto;float: left;height: 35px;width: 35px;" />
                                        </div>
                                        <div class="profileNameCoachingStatus">
                                            <h5 class="textAlignCoachingStatus fontClass">{{option.FirstName+" "+option.LastName}}</h5>
                                        </div>
                                        <div class="statusCoachingStatus" style="width: 25%;">
                                            <h5 ng-show="$index==0" class="fontClass" style="color:#A9A9A9;margin: auto auto;float: left;margin-left: 0;">{{option.FeedbackCount == 1 ? "JUST STARTED" : (option.FeedbackCount == 6 || option.FeedbackClosed == true) ? 'SESSION OVER' : 'DESIGN NOTES'}}</h5>
                                            <h5 ng-show="$index==1" class="fontClass" style="color:#A9A9A9;margin: auto auto;float: left;margin-left: 0;">{{option.FeedbackCount == 1 ? "JUST STARTED" : (option.FeedbackCount == 6 || option.FeedbackClosed == true) ? 'SESSION OVER' : 'PORTFOLIO'}}</h5>
                                            <h5 ng-show="$index==2" class="fontClass" style="color:#A9A9A9;margin: auto auto;float: left;margin-left: 0;">{{option.FeedbackCount == 1 ? "JUST STARTED" : (option.FeedbackCount == 6 || option.FeedbackClosed == true) ? 'SESSION OVER' : 'DESIGN NOTES'}}</h5>
                                            <h5 ng-show="$index==3" class="fontClass" style="color:#A9A9A9;margin: auto auto;float: left;margin-left: 0;">{{option.FeedbackCount == 1 ? "JUST STARTED" : (option.FeedbackCount == 6 || option.FeedbackClosed == true) ? 'SESSION OVER' : 'PORTFOLIO'}}</h5>
                                            <h5 ng-show="$index==4" class="fontClass" style="color:#A9A9A9;margin: auto auto;float: left;margin-left: 0;">{{option.FeedbackCount == 1 ? "JUST STARTED" : (option.FeedbackCount == 6 || option.FeedbackClosed == true) ? 'SESSION OVER' : 'DESIGN NOTES'}}</h5>
                                            <h5 ng-show="$index==5" class="fontClass" style="color:#A9A9A9;margin: auto auto;float: left;margin-left: 0;">{{option.FeedbackCount == 1 ? "JUST STARTED" : (option.FeedbackCount == 6 || option.FeedbackClosed == true) ? 'SESSION OVER' : 'PORTFOLIO'}}</h5>
                                            <h5 ng-show="$index==6" class="fontClass" style="color:#A9A9A9;margin: auto auto;float: left;margin-left: 0;">{{option.FeedbackCount == 1 ? "JUST STARTED" : (option.FeedbackCount == 6 || option.FeedbackClosed == true) ? 'SESSION OVER' : 'DESIGN NOTES'}}</h5>
                                            <h5 ng-show="$index==7" class="fontClass" style="color:#A9A9A9;margin: auto auto;float: left;margin-left: 0;">{{option.FeedbackCount == 1 ? "JUST STARTED" : (option.FeedbackCount == 6 || option.FeedbackClosed == true) ? 'SESSION OVER' : 'DESIGN NOTES'}}</h5>


                                        </div>
                                        <div class="communicationsCoachingStatus" style="width: 41%;margin-top: 3%;">

                                            <img src="" class="iconOnStatusArray" style="visibility:hidden;">
                                            17/5
                                            @*<img src="~/Images/icons/call.png" class="iconOnStatusArray iconOnStatusArrayss">*@
                                            <img src="" class="iconOnStatusArray" style="visibility:hidden;">
                                        </div>
                                        <div class="checkbox">
                                            <input type="checkbox" />
                                        </div>
                                        <div class="profileImageCoachingStatus">
                                            <img ng-src="{{option.PhotoURL ? option.PhotoURL : '/Images/icons/61391.png' }}" style="float: left;height: 13px; width: 14px; margin-top: 47%;" />
                                        </div>
                                    </div>
                                </div>
                                <div style="height:5%;width: 53%;margin-left: 28%;float:left;display: flex;">
                                    <input class="signupButton fontClass btn btn-default" type="button" value="Share" style="margin: auto;width: 31%;" />
                                    <input class="signupButton fontClass btn btn-default" type="button" value="Upload" style="margin: auto;width: 33%;" />
                                    <input class="signupButton fontClass btn btn-default" type="button" value="Delete" style="margin: auto;width: 28%;" />
                                </div>
                            </div>

                        </div>
                        <div class="podcastsContainer col-md-5 mosuehover ">
                            <div class="podcastHeader">
                                <h5 class="fontClass" style="margin-left: 2%;font-size:14px;padding-left: 0;">BOOKMARKS</h5>
                            </div>
                            <div class="ImpactZoneChildDiv" style="height: 100%;">
                                <div style="height:90%;width:100%;float:left">
                                    <div style="height: 93%;width: 100%;float:left;">
                                        <div class="ImpactZoneChildDiv" ng-repeat="option in leftSideMenus" style="height:10%;display: flex;">
                                            <div class="profileImageCoachingStatus">
                                                <img ng-show="$index==0" ng-src="{{option.PhotoURL ? option.PhotoURL : '/Images/icons/Microsoft_Word_2013_icon.png' }}" style="margin: auto auto;float: left;height: 35px;width: 35px;" />
                                                <img ng-show="$index==1" ng-src="{{option.PhotoURL ? option.PhotoURL : '/Images/icons/microsoft-excel-icon.png' }}" style="margin: auto auto;float: left;height: 35px;width: 35px;" />
                                                <img ng-show="$index==2" ng-src="{{option.PhotoURL ? option.PhotoURL : '/Images/icons/Microsoft_Word_2013_icon.png' }}" style="margin: auto auto;float: left;height: 35px;width: 35px;" />
                                                <img ng-show="$index==3" ng-src="{{option.PhotoURL ? option.PhotoURL : '/Images/icons/Microsoft_Word_2013_icon.png' }}" style="margin: auto auto;float: left;height: 35px;width: 35px;" />
                                                <img ng-show="$index==4" ng-src="{{option.PhotoURL ? option.PhotoURL : '/Images/icons/microsoft-excel-icon.png' }}" style="margin: auto auto;float: left;height: 35px;width: 35px;" />
                                                <img ng-show="$index==5" ng-src="{{option.PhotoURL ? option.PhotoURL : '/Images/icons/Microsoft_Word_2013_icon.png' }}" style="margin: auto auto;float: left;height: 35px;width: 35px;" />
                                                <img ng-show="$index==6" ng-src="{{option.PhotoURL ? option.PhotoURL : '/Images/icons/microsoft-excel-icon.png' }}" style="margin: auto auto;float: left;height: 35px;width: 35px;" />
                                                <img ng-show="$index==7" ng-src="{{option.PhotoURL ? option.PhotoURL : '/Images/icons/Microsoft_Word_2013_icon.png' }}" style="margin: auto auto;float: left;height: 35px;width: 35px;" />


                                            </div>
                                            <div class="profileNameCoachingStatus">
                                                <h5 class="textAlignCoachingStatus fontClass">{{option.FirstName+" "+option.LastName}}</h5>
                                            </div>
                                            <div class="statusCoachingStatus" style="width: 25%;">
                                                <h5 ng-show="$index==0" class="fontClass" style="color:#A9A9A9;margin: auto auto;float: left;margin-left: 0;">{{option.FeedbackCount == 1 ? "JUST STARTED" : (option.FeedbackCount == 6 || option.FeedbackClosed == true) ? 'SESSION OVER' : 'DESIGN NOTES'}}</h5>
                                                <h5 ng-show="$index==1" class="fontClass" style="color:#A9A9A9;margin: auto auto;float: left;margin-left: 0;">{{option.FeedbackCount == 1 ? "JUST STARTED" : (option.FeedbackCount == 6 || option.FeedbackClosed == true) ? 'SESSION OVER' : 'PORTFOLIO'}}</h5>
                                                <h5 ng-show="$index==2" class="fontClass" style="color:#A9A9A9;margin: auto auto;float: left;margin-left: 0;">{{option.FeedbackCount == 1 ? "JUST STARTED" : (option.FeedbackCount == 6 || option.FeedbackClosed == true) ? 'SESSION OVER' : 'DESIGN NOTES'}}</h5>
                                                <h5 ng-show="$index==3" class="fontClass" style="color:#A9A9A9;margin: auto auto;float: left;margin-left: 0;">{{option.FeedbackCount == 1 ? "JUST STARTED" : (option.FeedbackCount == 6 || option.FeedbackClosed == true) ? 'SESSION OVER' : 'PORTFOLIO'}}</h5>
                                                <h5 ng-show="$index==4" class="fontClass" style="color:#A9A9A9;margin: auto auto;float: left;margin-left: 0;">{{option.FeedbackCount == 1 ? "JUST STARTED" : (option.FeedbackCount == 6 || option.FeedbackClosed == true) ? 'SESSION OVER' : 'DESIGN NOTES'}}</h5>
                                                <h5 ng-show="$index==5" class="fontClass" style="color:#A9A9A9;margin: auto auto;float: left;margin-left: 0;">{{option.FeedbackCount == 1 ? "JUST STARTED" : (option.FeedbackCount == 6 || option.FeedbackClosed == true) ? 'SESSION OVER' : 'PORTFOLIO'}}</h5>
                                                <h5 ng-show="$index==6" class="fontClass" style="color:#A9A9A9;margin: auto auto;float: left;margin-left: 0;">{{option.FeedbackCount == 1 ? "JUST STARTED" : (option.FeedbackCount == 6 || option.FeedbackClosed == true) ? 'SESSION OVER' : 'DESIGN NOTES'}}</h5>
                                                <h5 ng-show="$index==7" class="fontClass" style="color:#A9A9A9;margin: auto auto;float: left;margin-left: 0;">{{option.FeedbackCount == 1 ? "JUST STARTED" : (option.FeedbackCount == 6 || option.FeedbackClosed == true) ? 'SESSION OVER' : 'DESIGN NOTES'}}</h5>
                                            </div>
                                            <div class="communicationsCoachingStatus" style="width: 41%;margin-top: 3%;">

                                                <img src="" class="iconOnStatusArray" style="visibility:hidden;">
                                                17/5
                                                @*<img src="~/Images/icons/call.png" class="iconOnStatusArray iconOnStatusArrayss">*@
                                                <img src="" class="iconOnStatusArray" style="visibility:hidden;">
                                            </div>
                                            <div class="checkbox">
                                                <input type="checkbox" />
                                            </div>
                                            <div class="profileImageCoachingStatus">
                                                <img ng-src="{{option.PhotoURL ? option.PhotoURL : '/Images/icons/61391.png' }}" style="float: left;height: 13px; width: 14px; margin-top: 47%;" />
                                            </div>
                                        </div>
                                    </div>
                                    <div style="height:5%;width: 53%;margin-left: 28%;float:left;display: flex;">
                                        <input class="signupButton fontClass btn btn-default" type="button" value="Share" style="margin: auto;width: 31%;" />
                                        <input class="signupButton fontClass btn btn-default" type="button" value="Upload" style="margin: auto;width: 33%;" />
                                        <input class="signupButton fontClass btn btn-default" type="button" value="Delete" style="margin: auto;width: 28%;" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @*Communication - 5*@
            <div class="parentRoleDetailRight" ng-if="selectedMenu == '5'">
                    <div class="homeLabelInChat" style="height:7%;display: flex;border-bottom:1px solid lightgray;">
                        <h5 class="fontClass" style="font-size: 16px;margin-left:2%;">COMMUNICATION</h5>
                    </div>
                    <div ng-show="conversationListNew.length == 0" style="height:87%;" class="topicHeadingPlaceholdr">
                        <h5 style="color:gray;margin: auto;font-size: 14px;" class="leftSideMenuLable fontClass">
                            NO CONVERSATIONS
                        </h5>
                    </div>
                    <div class="communicationMainPanel" ng-hide="conversationListNew.length == 0">
                        <div ng-if='feedBack.askFeedback' class="feedbackPanel" style="height: 75%;">
                            <feedback-Page role="Coach" feedback-Type = "feedBack.feedBackType" question="array" feedback-Closed="feedBack.icloseFeedBack" conv-Object="openConversation" submit-Feedback="feedBackSave()" close-Callback="closeCallBack()"></feedback-Page>
                        </div>
                    

                        <div class="conversationPanel">
                            <div class="conversationPanelDiv">
                                <div class="conversationList" ng-class="{ highlightedSelctedConversationParent  : conversation.selectedConversation == true}" ng-click="conversationLoad($index,conversation)" ng-repeat="conversation in conversationListNew">
                                    <div class="conversationParentDiv">
                                        <div class="imageConversation">
                                            <img ng-class="{ activeSessionCLass :  conversation.sessionClosed == false, closeSessionClass :  conversation.sessionClosed == true }" style="margin:auto auto;width: 40px;height: 40px;border-radius: 50%;" src="~/Images/icons/If no Profile photo.png" />
                                        </div>
                                        <div class="nameMessageConversation">
                                            <div style="margin:auto auto;float:left; width: 100%;height: 55%;">
                                                <h5 class="textFormatConversation fontClass" style="color:#797979;">{{(conversation.FirstName +" "+conversation.LastName) | uppercase }}</h5>
                                                <h5 class="textFormatConversation eliipsisClass fontClass" style="color:#aaa; font-size: 12px;font-weight: 100;">{{conversation.skill  | uppercase }}</h5>
                                            </div>
                                        </div>
                                        <div ng-show="conversation.selectedConversation == true" class="highlightedSelctedConversation"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="communicationPanel">
                            <div class="chatParent">
                                <div class="chatHeader">
                                    <div class="chatStrongHeader">
                                        <div class="chatHalfContainer">
                                            <span style="color:#797979;" class="chatHalfContainerSpan">
                                                <h5 class="fontClass">{{ReceiverName}}</h5>
                                            </span>
                                            <div style="margin: auto;margin-right: 0;width: 29px;">
                                                <img ng-click="askFeedBackFunc(3)" class="mod model-1" style="width: 35px;height: 35px;" title="Pre Session Feedback" src="~/Images/communication/preSessionIcon.png" />
                                                <section style="position: absolute;top: 4px;width: 44px;z-index: 1;background: transparent;" class="mod model-1">
                                                    <div class="spinner"></div>
                                                </section>
                                            </div>
                                            <span style="margin: auto;height: 35px;margin-left: 0;margin-right: 0;" ng-hide="openConversation.sessionClosed" class="chatHalfContainerSpanNxt">
                                                <h6 class="fontClass genericPointerClass" style="margin: auto;" ng-click="askFeedBackFunc(true)">Close Session</h6>
                                                <h6 class="fontClass genericPointerClass" style="margin: auto;" ng-click="askFeedBackFunc(false)">Give Feedback</h6>
                                            </span>
                                        </div>
                                        <div class="chatHalfContainer">
                                            <span class="chatHalfContainerSpanNxt" style="align-items: center;">
                                                <h6 class="fontClass" style="padding: 0px;">{{openConversation.skill}} </h6>
                                            </span>
                                        </div>
                                    </div>


                                </div>
                                <div class="chatMiddle" id="messagebox">
                                    <div style="display: flex;width: 100%;height: 35px;" ng-repeat-start="timeSlot in timeSlots">
                                        <div style="margin:auto;width: 100%;display: flex;">
                                            <div style="width:33.33%;height:100%;float:left;margin: auto;">
                                                <div style="height:1px;width:100%;border-bottom:1px solid rgba(214,214,214,.61);"></div>
                                            </div>
                                            <div style="width:33.33%;height:100%;float:left;margin: auto;display:flex;">
                                                <h5 class="genericEventHeadings genericMarginZero genericEllipsis" style="margin: auto;color: #a9a9a9;font-size:13px;" title="{{timeSlot.displayDate}}">{{timeSlot.displayDate}}</h5>
                                            </div>
                                            <div style="width:33.33%;height:100%;float:left;margin: auto;">
                                                <div style="height:1px;width:100%;border-bottom:1px solid rgba(214,214,214,.61);"></div>
                                            </div>

                                        </div>

                                    </div>
                                    <div class="chatOuterContainer" ng-repeat-end="" ng-repeat="MailRecord in MailRecords" ng-if="MailRecord.displayDate == timeSlot.displayDate">
                                        <div class="" ng-class="{ chatReceiverImage : MailRecord.SenderEmail === loggedEmail, chatSenderImage : MailRecord.ReceiverEmail === loggedEmail }">
                                            <div class="imageConversation" style="width: 100%;display: block;">
                                                <img style="box-shadow: 0 0 19px 0px #969595;width: 40px;height: 40px;border-radius: 50%;" src="~/Images/tempImage.jpg" />
                                                <h5 class="fontClass" style="margin: 0;width: 50px;color: #aaa;font-size: 10px;height: auto;margin-top:3px;">{{MailRecord.UpdateDate | date:'hh:mm a' }}</h5>
                                            </div>
                                        </div>
                                        <div style="border-radius: 7px;display:flex;" ng-class="{chatReceiver : MailRecord.SenderEmail === loggedEmail, chatSender : MailRecord.ReceiverEmail === loggedEmail}">
                                            <div style="margin:auto;float:left;">
                                                <h5 class="fontClass" style="margin: 0;margin-bottom: 5px;color: #1d89cf;height: auto;font-size:11px;font-size: 10px;width: 100%;" ng-class="{chatTimeReceiver : MailRecord.SenderEmail === loggedEmail, chatTime : MailRecord.ReceiverEmail === loggedEmail}">{{('ALex Ward') | uppercase }} says</h5>
                                                <h5 class="fontClass" style="margin: 0;margin-bottom: 5px;color: #555;">{{MailRecord.Content}}</h5>

                                            </div>
                                        </div>


                                    </div>
                                </div>
                                <div class="chatBottom">
                                    <div class="chatBottomOne">
                                        <textarea ng-keypress="conversationClick($event)" ng-disabled="openConversation.sessionClosed" placeholder="{{ openConversation.sessionClosed ? 'SESSION CLOSED' : 'CLICK HERE TO TYPE MESSAGE'}}" required ng-model="conversation.Message"></textarea>
                                    </div>
                                    <div class="chatBottomTwo">
                                        <div class="iconContainer">
                                            <div class="fa fa-paperclip" style="padding: 0px 8px;"></div>
                                            <div class="fa fa-phone" style="padding: 0px 8px;" data-toggle="modal" data-target="#myMeetingSchedular"></div>
                                        </div>
                                        <div class="iconContainer">
                                            <button type="submit" class="btn btn-default" ng-disabled="conversation.Message==''" ng-click="conversationClick($event, true)">Send</button>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>                        
                    </div>
                    <div class="modal fade" id="myMeetingSchedular" tabindex="-1" role="dialog" aria-labelledby="myMeetingSchedularLabel">
                        <div class="modal-dialog">
                        <div class="modal-content SchedularContent">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            </div>
                            <div class="modal-body SchedularBody">
                                <div>
                                    <textarea style="width: 100%;" placeholder="Subject Name" ng-model="MeetingSchedular.Subject" required></textarea>
                                </div>
                                <div>
                                    <h4 style="width: 100%;" class="notificationWizName">Meeting schedule with <span class="SchedularProfile"></span>  <span style="text-transform: uppercase;">{{ReceiverName}}</span></h4>
                                </div>
                                <div>
                                    <div style="float: left; width: 40%; ">Date <input type="date" ng-model="MeetingSchedular.MeetingDate" required /></div>
                                    <div style="float: left; width: 25%; ">From <input type="time" ng-model="MeetingSchedular.TimeFrom" required /></div>
                                    <div style="float: left; width: 25%; ">To <input type="time" ng-model="MeetingSchedular.TimeTo" required /></div>
                                </div>
                                <div>
                                    <div style="float: left; width: 50%; ">
                                        <fieldset data-role="controlgroup" data-type="horizontal">
                                            <input type="radio" name="platformType" id="Skype" value="Skype" ng-model="MeetingSchedular.PlatformType" required>
                                            <label for="Skype">Skype</label>
                                            <input type="radio" name="platformType" id="Hangout" value="Hangout" ng-model="MeetingSchedular.PlatformType" required>
                                            <label for="Hangout">Hangout</label>
                                            <input type="radio" name="platformType" id="Other" value="Other" ng-model="MeetingSchedular.PlatformType" required>
                                            <label for="Other">Other</label>
                                        </fieldset>
                                    </div>
                                    <div style="float: left; width: 50%; "><input type="text" placeholder="Mention Platform" ng-model="MeetingSchedular.UserId" required /></div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="submit" class="Schedular" ng-click="saveSchedular(false);">Send</button>
                                @*<button type="button" class="btn btn-primary">Cancel</button>*@
                            </div>
                        </div>
                    </div>
                </div>
                    <div class="applicationBottomStrip">
                        <bottom-main-strip></bottom-main-strip>
                    </div>
            </div>            
            @*Coaching Status - 1 *@
            <div class="parentRoleDetailRight" ng-if="selectedMenu == '1'">

                <div class="hideCoacheeProfile" ng-class="{ showCoacheeProfileClass : showCoacheeProfile == true }">
                    <profile-Page ng-if="showCoacheeProfile && userInfo" user-Info="userInfo" close-Popup="closeProfilePic()" edit-Required="false"></profile-Page>
                </div>
                <div class="homeLabelInMainDB" style="height:7%;display: flex;border-bottom:1px solid lightgray;">
                    <h5 class="fontClass" style="font-size: 16px;margin: auto;margin-left: 2%;">
                        COACHING STATUS
                    </h5>
                </div>
                <div class="mainDashBoardWizardParent">
                    <div ng-show="coachingStatusArray.length == 0" class="topicHeadingPlaceholdr">
                        <h5 style="color:gray;margin: auto;font-size: 30px;" class="leftSideMenuLable fontClass">
                            NO COACHEE AVAILABLE
                        </h5>
                    </div>
                    <div class="statusParentDiv" ng-hide="coachingStatusArray.length == 0">

                        <div class="ngRepeatDivForStatus " ng-click="showCoacheeProfile = true;showCoacheeProfileStatus(option)" ng-repeat="option in coachingStatusArray">

                            <div class="profileImageCoachingStatus">
                                <img ng-src="{{option.PhotoURL ? option.PhotoURL : '/Images/icons/profile.png' }}" style="margin: auto auto;float: left;height: 35px;width: 35px;" />
                            </div>
                            <div class="profileNameCoachingStatus">
                                <h5 class="textAlignCoachingStatus fontClass">{{option.FirstName+" "+option.LastName}}</h5>
                            </div>
                            <div class="skillsCoachingStatus">
                                <h5 class="textAlignCoachingStatus fontClass" style="font-weight: 500;">{{option.Skill}}</h5>
                            </div>
                            <div class="progressBarCoachingStatus">
                                <div style="margin: auto auto;float: left;width: 100%; height: 18px; border: 1px solid #f6f6f6;">
                                    <div style="height: 100%; width: {{option.FeedbackCount+'0%'}};background: #F1201B;"></div>
                                </div>
                            </div>
                            <div class="statusCoachingStatus">
                                <h5 class="fontClass" style="color:#A9A9A9;margin: auto auto;float: left;margin-left: 0;">{{option.FeedbackCount == 1 ? "JUST STARTED" : (option.FeedbackCount == 6 || option.FeedbackClosed == true) ? 'SESSION OVER' : 'IN PROGRESS'}}</h5>
                            </div>
                            <div class="treeCoachingStatus">
                                <img ng-src="{{option.TreeURL}}" style="margin: auto auto;float: left;height: 45px;width: 45px;" />
                            </div>
                            <div class="communicationsCoachingStatus">
                                <img src="" class="iconOnStatusArray" style="visibility:hidden;">
                                <img src="~/Images/icons/call.png" class="iconOnStatusArray iconOnStatusArrayss">
                                <img src="" class="iconOnStatusArray" style="visibility:hidden;">

                            </div>
                        </div>

                    </div>
                </div>
                <div class="applicationBottomStrip">
                    <bottom-Main-Strip></bottom-Main-Strip>
                </div>
            </div>
            @*MY Rewards - 6 *@
            <div class="parentRoleDetailRightRewardsPoint" ng-if="selectedMenu == '6'">
                <my-Reward></my-Reward>                
            </div>
            @*DashBoard - 0*@
            <div class="parentRoleDetailRight" style="padding:1%;padding-bottom: 0;" ng-if="selectedMenu == '0'">
                <div class="userNotificationParent">
                    <div class="userRoleWizardParent">
                        <div class="notificationWiz" ng-repeat="notification in notificationData">
                            <div ng-if="true" style=" height: 100%;  width: 100%;">
                                <h6 class="notificationWizReason" style="margin: 8px;margin-bottom: 6px;">{{ notification.ConversationType | uppercase }} INVITE {{notification.skill | uppercase }} FROM </h6>
                                <h5 class="notificationWizName" style="margin: 0 10px;width : 42%;">{{notification.FirstName+" "+notification.LastName}}</h5>
                                @*<h6 class="notificationWizReason">FOR SKILL {{notification.skill}}</h6>*@
                                <div class="notificationWizButton">
                                    <button style="font-size: 10px;padding: 5px;    margin: auto;font-weight: bolder;" class="signupButton fontClass" ng-click="notificationData.splice($index,1);updateConversation(true, loggedEmail, notification.EmailAddress,notification)">ACCEPT</button>
                                    <button style="font-size: 10px;padding: 5px;    margin: auto;font-weight: bolder;" class="signupButton fontClass"  ng-click="notificationData.splice($index,1);updateConversation(false, loggedEmail, notification.EmailAddress,notification)">DECLINE</button>
                                </div>
                            </div>
                            <div ng-class="{ mentorThemeColor : notification.role =='mentor',coacheeThemeColor : notification.role =='coachee'}" style="float: left;width: 100%;height: 100%;" ng-if="notification.notificationType == '2'">
                                <div class="notificationWizReason" style="margin :4%;border:0px;color: white; padding : 0;">{{notification.name}}</div>
                                <div class="notificationTimingPanel">
                                    <h6 class="notificationTiming notificationDate">{{notification.meetingDate}}</h6>
                                    <h6 class="notificationTiming notificationTime">{{notification.meetingTime}}</h6>
                                    <h6 style="float:right;    margin-right: 8%;" class="notificationTiming notificationDiff">{{notification.meetingTimeDiff}}</h6>
                                </div>
                            </div>
                        </div>
                        @*<div class="notificationWiz" ng-repeat="notificationDash in notificationData">
                            <div>
                                <h6 class="notificationWizReason">YOU HAVE COACHING INVITE FROM</h6>
                                <h4 class="notificationWizName" style="text-transform: uppercase;">{{notificationDash.FirstName}} {{notificationDash.LastName}}</h4>
                                <div class="notificationWizButton">
                                    <button class="btnAcceptReject" ng-click="notificationData.splice($index,1);updateConversation(false, loggedEmail, notificationDash.EmailAddress,notificationDash)">R</button>
                                    <button class="btnAcceptReject" ng-click="notificationData.splice($index,1);updateConversation(true, loggedEmail, notificationDash.EmailAddress,notificationDash)">A</button>
                                </div>
                            </div>
                        </div>*@
                        <div class="notificationWiz" ng-repeat="notificationRequest in notificationRequestData | orderBy: '-CreateDate'">
                            <div>
                                <h6 class="notificationWizReason">YOU HAVE SESSION INVITE FROM</h6>
                                <h4 class="notificationWizName" style="text-transform: uppercase;">{{notificationRequest.FirstName}} {{notificationRequest.LastName}}</h4>
                                <div class="notificationWizButton">
                                    <button class="btnAcceptReject" ng-click="notificationData.splice($index,1);updateMeeting(false, notificationRequest.EmailAddress, loggedEmail, 'Coachee')">R</button>
                                    <button class="btnAcceptReject" ng-click="notificationData.splice($index,1);updateMeeting(true, notificationRequest.EmailAddress, loggedEmail, 'Coachee')">A</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="dashBoardWizard">
                    <div class="homeLabelInMainDB">
                        @*<h5 class="fontClass" style="font-size: 16px;">DASHBOARD >></h5>*@
                    </div>
                    <div class="mainDashBoardWizardParent">
                        <div class="dashBoardMenuCoach">
                            <div class="dashBoardMenuCoachRight genericPointerClass  col-md-3" ng-click="selectedOption($index,option)" ng-repeat="option in rightSideDashBoardArray " ng-class="{'dashBoardMenuCoachBottom': $index == 3}">

                                @*<div class="flipContainer" ng-class="{ flipper : option.selectedOption == true }">
                                    <div class="flipper" style="float: left; width : 100%; height : 100%;">
                                        <div class="front">


                                            <div class="flipDivOnClass">
                                                <div class="promoCodeClass">
                                                    <h5 style="font-size: 18px; margin: 5px;" ng-model="gameKey"></h5>

                                            </div>
                                        </div>
                                        </div>*@
                                @*<div class="back">*@
                                <!-- back content -->
                                <div class="dashBoardMenuCoachRightCircle">
                                    <div class="dashBoardMenuCoachRightCirclePart">
                                        <img src={{option.url}} class="dashBoardMenuCoachImage">
                                    </div>
                                </div>
                                <div class="dashBoardMenuCoachRightlabel">
                                    <h5 style="color:black;margin: auto;" class="leftSideMenuLable fontClass">{{option.name}}</h5>

                                    @*</div>*@
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="applicationBottomStrip">
                    <bottom-Main-Strip></bottom-Main-Strip>
                </div>
            </div>
            @*Knowledge feed - 4 *@
            <div class="parentRoleDetailRight" style="padding:1%;padding-bottom: 0;" ng-if="selectedMenu == '4'">
                <rss-Feed role="coach" skill="feedCategoryArray"></rss-Feed>
            </div>

        </div>
    </div>
</div>

