<div class="parentBody" ng-controller="ksDashBoardCoachController">
    <div class="applicationTopStrip">
        <top-Main-Strip></top-Main-Strip>
    </div>
    <div class="applicationMiddleStripMain">
        <div class="parentRoleDashboard">
            <div class="parentRoleMenu coachThemeColor">
                <div class="profileViewMode genericPointerClass" ng-click="GetPrfileView()">
                    <div class="profileImagePart"></div>
                    <div class="profileNamePart fontClass genericPointerClass">WELCOME {{loggedDetail.FirstName+" "+loggedDetail.LastName}}</div>
                </div>
                <div class="leftSideMenuMainDashBoard">
                    <div class="leftSideMenuParent">
                        <div class="leftSideMenu coachColor" ng-repeat="option in leftSideMenus" ng-click="menuClick($index,option)">
                            <h5 class="leftSideMenuLable fontClass genericPointerClass">{{option.name}}</h5>
                            <h5 ng-if="option.name == 'Add Skills'" style="float: right;font-size: 25px;margin: 1%;" class="leftSideMenuLable fontClass genericPointerClass">+</h5>
                        </div>
                    </div>
                </div>
            </div>
            @*Knowledge Garden - 3*@
            <div class="parentRoleDetailRight" style="padding:1%;padding-bottom: 0;" ng-if="selectedMenu == '3'">
                <div class="homeLabelInChat" style="height:7%;border-bottom:1px solid lightgray;">
                    <h5 class="fontClass" style="font-size: 16px;">KNOWLEDGE GARDEN</h5>
                </div>
                <div class="" style="float:left;width:100%;height:86%;">
                    <molecule-Map ng-if="ctsDataForMolecule" cts-Data="ctsDataForMolecule"></molecule-Map>
                </div>
                <div class="applicationBottomStrip">
                    <bottom-Main-Strip></bottom-Main-Strip>
                </div>
            </div>
            @*VCS - 8 *@
            <div class="parentRoleDetailRight" ng-if="selectedMenu == '8'">
                <vcs-Dir></vcs-Dir>
            </div>
            @*Add Skills -2 *@
            <div class="parentRoleDetailRight" ng-if="selectedMenu == '2'">
                <ctc-Role role="coach" skill-Required="true"></ctc-Role>
            </div>
            @*Value feed temp purpose - 7 *@
            <div class="parentRoleDetailRight" ng-if="selectedMenu == '7'">                
                <value-Feed></value-Feed>
            </div>
            @*Communication - 5*@
            <div class="parentRoleDetailRight" ng-if="selectedMenu == '5'">
                <div class="homeLabelInChat" style="height:7%;border-bottom:1px solid lightgray;">
                    <h5 class="fontClass" style="font-size: 16px;margin-left:2%;">NOTIFICATIONS</h5>
                </div>

                <div class="communicationMainPanel">
                    <div ng-show='feedBack.askFeedback' class="feedbackPanel" style="height: 75%;">
                        <!-- Screen 1 -->
                        <div class="popupContainer" ng-show="feedBack.formValue == '3'">
                            <img ng-click="feedBack.closeFeedBackPopup()" style="width: 15px;height: 15px;top:1%;right: 1%;bottom: 0;position: absolute;" title="Close" src="~/Images/cancel.png" />
                            <div class="popupContainerOne">

                                <img src="~/Images/communication/lineDiag1.png" />
                            </div>
                            <div class="popupContainerTwo">
                                <h1>What is the one thing that you like most about us?</h1>
                            </div>
                            <div class="popupContainerThree">
                                <textarea ng-model="feedBack.likeMostMessage" placeholder="CLICK HERE TO TYPE MESSAGE"></textarea>
                            </div>
                            <div class="popupContainerFour">
                                <div class="fa fa-angle-left arrowContainer genericPointerClass" ng-click="feedBack.formValue = '2'"></div>
                                <div class="fa fa-angle-right arrowContainer genericPointerClass" ng-click="feedBack.formValue = '4'"></div>
                            </div>
                        </div>

                        <!-- Screen 2 -->
                        <div class="popupContainer" ng-show="feedBack.formValue == '1'">
                            <img ng-click="feedBack.closeFeedBackPopup()" style="width: 15px;height: 15px;top:1%;right: 1%;bottom: 0;position: absolute;" title="Close" src="~/Images/cancel.png" />
                            <div class="popupContainerOne">
                                <img src="~/Images/communication/lineDiag2.png" />
                            </div>
                            <div class="popupContainerTwo">
                                <h1>How Do You Compare the value we provide you against our Competitor</h1>
                            </div>
                            <div class="popupContainerThree">
                                <img class="genericPointerClass" style="padding: 3%;float:left;" ng-click="feedBack.competitorSelected('1')" ng-class="{ highlightedCompetitor :  feedBack.selectedComparioson == '1'}" src="~/Images/communication/competitorsBetter.png">
                                <img class="genericPointerClass" style="padding: 3%;float:left;" ng-click="feedBack.competitorSelected('2')" ng-class="{ highlightedCompetitor :  feedBack.selectedComparioson == '2'}" src="~/Images/communication/sameasCompetitors.png">
                                <img class="genericPointerClass" style="padding: 3%;float:left;" ng-click="feedBack.competitorSelected('3')" ng-class="{ highlightedCompetitor :  feedBack.selectedComparioson == '3'}" src="~/Images/communication/betterCompetitors.png">

                            </div>
                            <div class="popupContainerFour">
                                <div class="fa"></div>
                                <div class="fa fa-angle-right arrowContainer genericPointerClass" ng-click="feedBack.formValue = '2'"></div>
                            </div>
                        </div>

                        <!-- Screen 3 -->

                        <div class="popupContainer" ng-show="feedBack.formValue == '4'">
                            <img ng-click="feedBack.closeFeedBackPopup()" style="width: 15px;height: 15px;top:1%;right: 1%;bottom: 0;position: absolute;" title="Close" src="~/Images/cancel.png" />
                            <div class="popupContainerOne">

                                <img src="~/Images/communication/lineDiag3.png" />
                            </div>
                            <div class="popupContainerTwo">
                                <h1>overall customer satisfaction</h1>
                            </div>
                            <div class="popupContainerThree">
                                <!--	<img style="padding: 3%;float:left;" ng-click="feedBack.starSelected('1')" ng-src="{{ feedBack.selectedstar == '1' && '~/Images/communication/smallSelectedStar.png' || '~/Images/communication/smallStar.png'}}" ng-class="{ highlightedCompetitor :  feedBack.selectedstar == '1'}" src="~/Images/communication/smallStar.png">
                                <img style="padding: 3%;float:left;" ng-click="feedBack.starSelected('2')" ng-src="{{ feedBack.selectedstar == '1' && '~/Images/communication/smallBigSelectedStar.png' || '~/Images/communication/smallBigStar.png'}}" ng-class="{ highlightedCompetitor :  feedBack.selectedstar == '2'}" src="~/Images/communication/smallBigStar.png">
                                <img style="padding: 3%;float:left;" ng-click="feedBack.starSelected('3')" ng-src="{{ feedBack.selectedstar == '1' && '~/Images/communication/bigSelectedStar.png' || '~/Images/communication/bigStar.png'}}" ng-class="{ highlightedCompetitor :  feedBack.selectedstar == '3'}" src="~/Images/communication/bigStar.png">		-->

                                <img class="genericPointerClass" style="padding: 3%;float:left;" ng-click="feedBack.starSelected('1')" ng-class="{ highlightedCompetitor :  feedBack.selectedstar == '1'}" src="~/Images/communication/smallStar.png">
                                <img class="genericPointerClass" style="padding: 3%;float:left;" ng-click="feedBack.starSelected('2')" ng-class="{ highlightedCompetitor :  feedBack.selectedstar == '2'}" src="~/Images/communication/smallBigStar.png">
                                <img class="genericPointerClass" style="padding: 3%;float:left;" ng-click="feedBack.starSelected('3')" ng-class="{ highlightedCompetitor :  feedBack.selectedstar == '3'}" src="~/Images/communication/bigStar.png">
                            </div>
                            <div class="popupContainerFour">
                                <div class="fa fa-angle-left arrowContainer genericPointerClass" ng-click="feedBack.formValue = '3'"></div>
                                <button type="submit" ng-click="feedBack.sendFeedBackDetail();feedBack.formValue = '5'">Submit</button>
                            </div>
                        </div>

                        <!-- Screen 4 -->

                        <div class="popupContainer" ng-show="feedBack.formValue== '2'">
                            <img ng-click="feedBack.closeFeedBackPopup()" style="width: 15px;height: 15px;top:1%;right: 1%;bottom: 0;position: absolute;" title="Close" src="~/Images/cancel.png" />
                            <div class="popupContainerOne">
                                <img src="~/Images/communication/lineDiag4.png">
                            </div>
                            <div class="popupContainerTwo">
                                <h1>What do you find most attractive about our company?</h1>
                            </div>
                            <div class="popupContainerThree">

                                <img class="genericPointerClass" style="padding: 3%;float:left;" ng-click="feedBack.findAttractiveSelected('1')" ng-class="{ highlightedCompetitor :  feedBack.selectedAttractive == '1'}" src="~/Images/communication/price_feedBack.png">
                                <img class="genericPointerClass" style="padding: 3%;float:left;" ng-click="feedBack.findAttractiveSelected('2')" ng-class="{ highlightedCompetitor :  feedBack.selectedAttractive == '2'}" src="~/Images/communication/product_feedBack.png">
                                <img class="genericPointerClass" style="padding: 3%;float:left;" ng-click="feedBack.findAttractiveSelected('3')" ng-class="{ highlightedCompetitor :  feedBack.selectedAttractive == '3'}" src="~/Images/communication/customer_service_feedBack.png">
                                <img class="genericPointerClass" style="padding: 3%;float:left;" ng-click="feedBack.findAttractiveSelected('4')" ng-class="{ highlightedCompetitor :  feedBack.selectedAttractive == '4'}" src="~/Images/communication/location_feedBack.png">
                            </div>
                            <div class="popupContainerFour">
                                <div class="fa fa-angle-left arrowContainer genericPointerClass" ng-click="feedBack.formValue = '1'"></div>
                                <div class="fa fa-angle-right arrowContainer genericPointerClass" ng-click="feedBack.formValue = '3'"></div>
                            </div>
                        </div>

                        <!-- Screen 5 -->

                        <div class="popupContainer" ng-show="feedBack.formValue== '5'">
                            <img ng-click="feedBack.closeFeedBackPopup()" style="width: 15px;height: 15px;top:1%;right: 1%;bottom: 0;position: absolute;" title="Close" src="~/Images/cancel.png" />
                            <div class="fivePopupContainerOne">
                                <div class="" style="float: left;display:flex; width: 100%;">
                                    <h1 style="margin: auto auto;margin-top: 6%;color: white;font-weight: 600;">THANK YOU</h1>
                                </div>
                                <div class="" style="float: left;display:flex; width: 100%;">
                                    <h5 style="margin: auto auto;font-size: 16px;color: white;">FOR YOUR FEEDBACK!</h5>
                                </div>


                            </div>
                            <div class="fivePopupContainerTwo">
                                <img style="position:absolute;left: 46%;width: 60px;" src="~/Images/communication/moneyBag.png">
                                <div class="" style="float: left;display:flex; width: 100%;height: 100%;">
                                    <div class="" style="border: 3px solid black;margin: auto auto;float: left;display:flex; width: 35%;height: 60%;margin-bottom: 4%;">
                                        <div class="" style="float: left; width: 100%;margin: auto auto;">
                                            <h5 class="fontClass" style="font-size: 19px;text-align: center;font-weight: 500;">YOU HAVE EARNED</h5>
                                            <h5 class="fontClass" style="font-size: 19px;text-align: center;font-weight: 700;font-weight: 700;margin: 2px;">{{rewardsPoints.balancePoints}} POINTS</h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="fivePopupContainerThree">
                                <div class="" style="float: left;width: 100%;height: 100%;">

                                    <div class="" style="float: left; width: 100%; height: 40%;">
                                        <h5 class="fontClass" style="font-size: 19px;text-align: center;font-weight: 500;">PLANT A TREE</h5>
                                    </div>
                                    <div class="" style="float: left; width: 100%; display: flex;">
                                        <button type="button" style="margin: auto auto; margin-right: 10%; padding: 6px;width: 20%;" class="signupButton fontClass btn btn-default" ng-click="signupClick()">SHARE</button>
                                        <button type="button" style="margin: auto auto; margin-left: 0%; padding: 6px;width: 20%;" class="signupButton fontClass btn btn-default" ng-click="feedBack.formValue = '6'">REDEEM POINTS</button>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <!-- Screen 6 -->
                        <div class="popupContainer" ng-show="feedBack.formValue == '6'">
                            <img ng-click="feedBack.closeFeedBackPopup()" style="width: 15px;height: 15px;top:1%;right: 1%;bottom: 0;position: absolute;" title="Close" src="~/Images/cancel.png" />
                            <div class="fivePopupContainerOne" style="height:21%;">
                                <div class="" style="float: left;display:flex; width: 100%;height: 100%;">
                                    <h5 style="margin: auto auto;font-size: 19px;">REDEEM POINTS</h5>
                                </div>
                            </div>
                            <div class="fivePopupContainerTwo" style="height:30%;">
                                <img style="position:absolute;left: 46%;width: 60px;" src="~/Images/communication/moneyBag.png">
                                <div class="" style="float: left;display:flex; width: 100%;height: 100%;">

                                    <div class="" style="border: 3px solid black;margin: 6% auto;float: left;display:flex; width: 55%;height: 60%;">
                                        <div class="" style="float: left; width: 100%;margin: auto auto;">
                                            <h5 class="fontClass" style="font-size: 22px;text-align: center;font-weight: 600;margin: 2px;">{{rewardsPoints.balancePoints}} POINTS</h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="fivePopupContainerThree" style="height: 49%;">
                                <div class="" style="float: left;width: 100%;height: 100%;">
                                    <div class="" style="float: left; width: 100%; height: 60%;display: flex;">
                                        <div class="partSubOne" style="margin: auto auto;height: 100%;margin-right: 3%;">
                                            <div class="" style="float: left;display: flex;width: 100%;height: 25%;">
                                                <input type="radio" ng-model="redeemAction.actionName" value="GAME" name="rm" style="margin: auto auto;float: left;height: 30px;width: 20px;">
                                            </div>
                                            <div class="" style="float: left;display: flex;width: 100%;height: 30%;">
                                                <img style="float: left;margin: auto;margin-right: 0;width: 35px;" src="~/Images/communication/moneyBag.png">
                                                <h5 class="fontClass" style="font-size: 27px;text-align: center;font-weight: 600;margin: 6px auto;margin: auto;margin-left: 3%;width: 35px;">{{rewardsPoints.balancePoints}}</h5>
                                            </div>
                                            <div class="" style="float: left;display: flex;width: 100%;height: 30%;">
                                                <h5 class="fontClass" style="font-size: 14px;text-align: center;font-weight: 600;margin: auto auto;">3 Brain Games</h5>
                                            </div>
                                        </div>
                                        <div class="partSubTwo" style="margin: auto auto;height: 100%;">
                                            <div class="" style="float: left;display: flex;width: 100%;height: 25%;">
                                                <input type="radio" ng-model="redeemAction.actionName" value="PSR" name="rm" style="margin: auto auto;float: left;height: 30px;width: 20px;">
                                            </div>
                                            <div class="" style="float: left;display: flex;width: 100%;height: 30%;">
                                                <img style="float: left;margin: auto;margin-right: 0;width: 35px;" src="~/Images/communication/moneyBag.png">
                                                <h5 class="fontClass" style="font-size: 27px;text-align: center;font-weight: 600;margin: 6px auto;margin: auto;margin-left: 3%;width: 35px;">{{rewardsPoints.balancePoints}}</h5>
                                            </div>
                                            <div class="" style="float: left;display: flex;width: 100%;height: 30%;">
                                                <h5 class="fontClass" style="font-size: 14px;text-align: center;font-weight: 600;margin: auto auto;cursor:help;" ng-click="feedBack.formValue='8'">PSR</h5>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="" style="float: left; width: 100%; display: flex;height: 40%;">
                                        <button type="button" style="border-radius: 0;background : #D72A1A; margin: auto auto; padding: 6px;font-size: 11px;color:white;" ng-click="redeemPointsClick()" class="fontClass btn btn-default">REDEEM POINTS</button>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <!-- Screen 8 -->

                        <div class="popupContainer" ng-show="feedBack.formValue == '8'">
                            <img ng-click="feedBack.formValue = '6'" style="width: 15px;height: 15px;top:1%;right: 1%;bottom: 0;position: absolute;" title="Close" src="~/Images/cancel.png" />
                            <div class="fivePopupContainerOne" style="height:21%;">
                                <div class="" style="float: left;display:flex; width: 100%;height: 100%;">
                                    <h5 style="margin: auto auto;font-size: 19px;">PROFESSIONAL SOCIAL RESPONSIBILITY</h5>
                                </div>
                            </div>

                            <img style="position:absolute;left: 46%;width: 60px;top:15%;" src="~/Images/tree_psr.png">
                            <div class="fivePopupContainerTwo" style="height:64%;">

                                <div class="" style="float: left;display:flex; width: 100%;height: 100%;">

                                    <div class="" style="border: 3px solid rgb(212,169,3);margin: auto;margin-top: 6%;float: left;display:flex; width: 78%;height: 81%;">
                                        <div class="" style="padding:20px;width: auto;float: left;overflow:auto;">
                                            <p style="float: left;width: 100%;height: 100%;font-size: 14px; white-space: inherit;word-break: break-all;	margin: 0;">
                                                LORUM OSSD GERIG GR REGIRE GB RGB RGB 4IGBREIGBREILGB IREGREILGRELIGBREIGB RIEGBREIGBREIGI UGB EG ERIUGB IBGS IREGBERG GREG ERGSE FGTERBRHTH BTFRSV ES FDV TGR E GFRG FV RTGFD GTH RGFE DG TYHRG EFDG GTRE F RED E E FE  DFS AD GREFG ERG REHGRBJKGB  REG ERG RGERJ GHRILU GRILU R.GFRG FV RTGFD GTH RGFE DG TYHRG EFDG GTRE F RED E E FE  DFS AD GREFG ERG REHGRBJKGB  REG ERG.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="" style="float: left; width: 100%; display: flex;height: 15%;">
                                @*<button type="button" style="border-radius: 0;background : rgb(64,64,64); margin: auto auto; margin-right: 10%;padding: 3px; width: 20%;font-size: 11px;color:white;" ng-click="feedBack.formValue = '6'" class="fontClass btn btn-default">BACK</button>*@
                                <button type="button" style="border-radius: 0;background : rgb(64,64,64); margin: auto auto; margin-left: 0; padding: 3px;width: 20%;font-size: 11px;color:white;" class="fontClass btn btn-default">SHARE</button>
                            </div>

                        </div>

                    </div>
                    <div class="conversationPanel">
                        <div class="conversationPanelDiv">
                            <div class="conversationList " ng-click="conversationLoad($index,conversation)" ng-repeat="conversation in conversationList">
                                <div class="conversationListPanel genericPointerClass" ng-class="{ highlightedGrayClass : conversation.selectedConversation == true }">
                                    <div style="float:left;    margin: auto auto;width: 85%;">
                                        <h5 style="margin:auto auto;margin-left: 0;font-size: large;float: left;width: 88%;    font-weight: 700;    font-size: 15px;">{{conversation.name}}</h5>
                                        <div class="applicationNotiCount" title="5" style=" display: flex; float:left; text-align: center; height: 15px; width : 15px;">
                                            <h6 class="fontClass" style=" font-size:10px;display :inline-block;text-align: center; text-overflow: clip; margin: auto auto;color:white;">5</h6>
                                        </div>
                                    </div>
                                </div>
                                <div ng-show="conversation.selectedConversation == true" class="triangleArrowRight trangleOveRideBlack" style="float: left;margin-top: 15px;"></div>
                            </div>
                        </div>
                    </div>
                    <div class="communicationPanel">
                        <div class="chatParent">
                            <div class="chatHeader">
                                <div class="chatStrongHeader">
                                    <div class="chatHalfContainer">
                                        <span class="chatHalfContainerSpan">
                                            <h5>Paresh Patil</h5>
                                        </span>
                                        <span class="chatHalfContainerSpanNxt">
                                            <h6 class="genericPointerClass">Close Session</h6>
                                            <h6 class="genericPointerClass" ng-click="askFeedBackFunc()">Ask Feedback</h6>
                                        </span>
                                    </div>
                                    <div class="chatHalfContainer">
                                        <span class="chatHalfContainerSpanNxt" style="align-items: center;">
                                            <h6 style="padding: 0px;">UI-UX Designer | PUNE AREA | INDIA</h6>
                                        </span>
                                    </div>
                                </div>


                            </div>
                            <div class="chatMiddle">
                                <div class="chatOuterContainer">
                                    <div class="chatSender">
                                        <h5>I would like to request couching from you.</h5>
                                    </div>
                                    <div class="chatTime">
                                        <h5>02/20</h5>
                                    </div>
                                </div>
                                <div class="chatOuterContainer">
                                    <div class="chatReceiver">
                                        <h5>Couching Request from Paresh has been accepted</h5>
                                    </div>
                                    <div class="chatTime">
                                        <h5 style="text-align : right">02/20</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="chatBottom">
                                <div class="chatBottomOne">
                                    <textarea placeholder="CLICK HERE TO TYPE MESSAGE"></textarea>
                                </div>
                                <div class="chatBottomTwo">
                                    <div class="iconContainer">
                                        <div class="fa fa-paperclip" style="padding: 0px 8px;"></div>
                                        <div class="fa fa-phone" style="padding: 0px 8px;"></div>
                                    </div>
                                    <div class="iconContainer" style="justify-content: center;">
                                        <button type="submit">Submit</button>
                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>


            </div>
            @*Coaching Status - 1 *@
            <div class="parentRoleDetailRight" ng-if="selectedMenu == '1'">

                <div class="hideCoacheeProfile" ng-class="{ showCoacheeProfileClass : showCoacheeProfile == true }">
                    <profile-Page ng-if="showCoacheeProfile && userInfo" user-Info="userInfo" close-Popup="closeProfilePic()" edit-Required="false"></profile-Page>
                </div>
                <div class="homeLabelInMainDB style="height:7%;border-bottom:1px solid lightgray;">
                    <h5 class="fontClass" style="font-size: 16px;">COACHING STATUS</h5>
                </div>
                <div class="mainDashBoardWizardParent">
                    <div ng-show="coachingStatusArray.length == 0" class="topicHeadingPlaceholdr">
                        <h5 style="color:gray;margin: auto;font-size: 30px;" class="leftSideMenuLable fontClass">
                            No Coachee Available
                        </h5>
                    </div>
                    <div class="statusParentDiv" ng-hide="coachingStatusArray.length == 0">
                        
                        <div class="ngRepeatDivForStatus " ng-click="showCoacheeProfile = true;showCoacheeProfileStatus(option)" ng-repeat="option in coachingStatusArray">

                            <div class="profileImageCoachingStatus">
                                <img ng-src="{{option.PhotoURL ? option.PhotoURL : '/Images/icons/profile.png' }}" style="margin: auto auto;float: left;height: 35px;width: 35px;" />
                            </div>
                            <div class="profileNameCoachingStatus">
                                <h5 class="textAlignCoachingStatus fontClass">{{option.FirstName+" "+option.LastName}}</h5>
                            </div>
                            <div class="skillsCoachingStatus">
                                <h5 class="textAlignCoachingStatus fontClass" style="font-weight: 500;">{{option.Skill}}</h5>
                            </div>
                            <div class="progressBarCoachingStatus">
                                <div style="margin: auto auto;float: left;width: 100%; height: 18px; border: 1px solid #f6f6f6;">
                                    <div style="height: 100%; width: {{option.FeedbackCount+'0%'}};background: #F1201B;"></div>
                                </div>
                            </div>
                            <div class="statusCoachingStatus">
                                <h5 class="fontClass" style="color:#A9A9A9;margin: auto auto;float: left;margin-left: 0;">{{option.FeedbackCount == 1 ? "JUST STARTED" : (option.FeedbackCount == 6) ? 'SESSION OVER' : 'IN PROGRESS'}}</h5>
                            </div>
                            <div class="treeCoachingStatus">
                                <img ng-src="{{option.TreeURL}}" style="margin: auto auto;float: left;height: 45px;width: 45px;" />
                            </div>
                            <div class="communicationsCoachingStatus">
                                <img src="" class="iconOnStatusArray" style="visibility:hidden;">
                                <img src="~/Images/icons/call.png" class="iconOnStatusArray iconOnStatusArrayss">
                                <img src="" class="iconOnStatusArray" style="visibility:hidden;">

                            </div>
                        </div>

                    </div>
                </div>
                <div class="applicationBottomStrip">
                    <bottom-Main-Strip></bottom-Main-Strip>
                </div>
            </div>
            @*MY Rewards - 6 *@
            <div class="parentRoleDetailRightRewardsPoint" ng-if="selectedMenu == '6'">

                <div class="homeLabelInChat" style="display: flex;height:6%;">
                    <h5 class="fontClass" style="margin: auto 0;font-size: 16px;">POINT STATUS</h5>
                </div>
                <div ng-show='feedBack.askFeedback' class="feedbackPanel" style="height: 75%;">

                    <!-- Screen 6 -->
                    <div class="popupContainer" ng-show="feedBack.formValue == '6'">
                        <img ng-click="feedBack.closeFeedBackPopup()" style="width: 15px;height: 15px;top:1%;right: 1%;bottom: 0;position: absolute;" title="Close" src="~/Images/cancel.png" />
                        <div class="fivePopupContainerOne" style="height:21%;">
                            <div class="" style="float: left;display:flex; width: 100%;height: 100%;">
                                <h5 style="margin: auto auto;font-size: 19px;">REDEEM POINTS</h5>
                            </div>
                        </div>
                        <div class="fivePopupContainerTwo" style="height:30%;">
                            <img style="position:absolute;left: 46%;width: 60px;" src="~/Images/communication/moneyBag.png">
                            <div class="" style="float: left;display:flex; width: 100%;height: 100%;">

                                <div class="" style="border: 3px solid black;margin: 6% auto;float: left;display:flex; width: 55%;height: 60%;">
                                    <div class="" style="float: left; width: 100%;margin: auto auto;">
                                        <h5 class="fontClass" style="font-size: 22px;text-align: center;font-weight: 600;margin: 2px;">{{rewardsPoints.balancePoints}} POINTS</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="fivePopupContainerThree" style="height: 49%;">
                            <div class="" style="float: left;width: 100%;height: 100%;">
                                <div class="" style="float: left; width: 100%; height: 60%;display: flex;">
                                    <div class="partSubOne" style="margin: auto auto;height: 100%;margin-right: 3%;">
                                        <div class="" style="float: left;display: flex;width: 100%;height: 25%;">
                                            <input type="radio" ng-model="redeemAction.actionName" value="GAME" name="rm" style="margin: auto auto;float: left;height: 30px;width: 20px;">
                                        </div>
                                        <div class="" style="float: left;display: flex;width: 100%;height: 30%;">
                                            <img style="float: left;margin: auto;margin-right: 0;width: 35px;" src="~/Images/communication/moneyBag.png">
                                            <h5 class="fontClass" style="font-size: 27px;text-align: center;font-weight: 600;margin: 6px auto;margin: auto;margin-left: 3%;width: 35px;">{{rewardsPoints.balancePoints}}</h5>
                                        </div>
                                        <div class="" style="float: left;display: flex;width: 100%;height: 30%;">
                                            <h5 class="fontClass" style="font-size: 14px;text-align: center;font-weight: 600;margin: auto auto;">3 Brain Games</h5>
                                        </div>
                                    </div>
                                    <div class="partSubTwo" style="margin: auto auto;height: 100%;">
                                        <div class="" style="float: left;display: flex;width: 100%;height: 25%;">
                                            <input type="radio" ng-model="redeemAction.actionName" value="PSR" name="rm" style="margin: auto auto;float: left;height: 30px;width: 20px;">
                                        </div>
                                        <div class="" style="float: left;display: flex;width: 100%;height: 30%;">
                                            <img style="float: left;margin: auto;margin-right: 0;width: 35px;" src="~/Images/communication/moneyBag.png">
                                            <h5 class="fontClass" style="font-size: 27px;text-align: center;font-weight: 600;margin: 6px auto;margin: auto;margin-left: 3%;width: 35px;">{{rewardsPoints.balancePoints}}</h5>
                                        </div>
                                        <div class="" style="float: left;display: flex;width: 100%;height: 30%;">
                                            <h5 class="fontClass" style="font-size: 14px;text-align: center;font-weight: 600;margin: auto auto;" ng-click="feedBack.formValue='8'">PSR</h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="" style="float: left; width: 100%; display: flex;height: 40%;">
                                    <button type="button" style="border-radius: 0;background : #D72A1A; margin: auto auto; padding: 6px;font-size: 11px;color:white;" ng-click="redeemPointsClick()" class="fontClass btn btn-default">REDEEM POINTS</button>
                                </div>

                            </div>
                        </div>
                    </div>


                </div>
                <div class="pointStatusParents">
                    <div class="rewardsPointsPanel">
                        <div class="progressReport">
                            <img style="float: left;width: 140px;margin: auto;height: 100%;" src="~/Images/pointStatusPanel.png" />

                        </div>
                        <div class="rewardPointRecord">
                            <div class="countRecordPartOne">
                                <div class="totalPointsPanel">
                                    <h5 class="fontClass" style="float: left;font-size: 40px;color: orange;">{{rewardsPoints.totalPoints}}</h5>
                                    <h5 class="fontClass" style="float: left;font-size: 17px;text-align: center;width: 50%;color: lightgray;">TOTAL POINTS</h5>
                                </div>
                                <div class="redeemedPointsPanel">
                                    <h5 class="fontClass" style="float: left;font-size: 40px;color: green;">{{rewardsPoints.redeemedPoints}}</h5>
                                    <h5 class="fontClass" style="float: left;font-size: 17px;text-align: center;width: 50%;color: lightgray;">REDEEMED POINTS</h5>
                                </div>
                                <div class="balancePointsPanel">
                                    <h5 class="fontClass" style="float: left;font-size: 40px;color: skyblue;">{{rewardsPoints.balancePoints}}</h5>
                                    <h5 class="fontClass" style="float: left;font-size: 17px;text-align: center;width: 50%;color: lightgray;">BALANCE POINTS</h5>
                                </div>
                            </div>
                            <div class="countRecordPartTwo">
                                <div class="roleNamePointStatus">
                                    <div class="rolesPointStatus mentorThemeColor">
                                        <h5 class="fontClass roleLabelPointStatus">MENTOR</h5>
                                    </div>
                                    <h5 class="fontClass" style="float: left;text-align: center;width: 100%;margin-top:15px;">{{rewardsPoints.mentorPoints}}</h5>
                                </div>
                                <div class="roleNamePointStatus">
                                    <div class="rolesPointStatus coachThemeColor">
                                        <h5 class="fontClass roleLabelPointStatus">COACH</h5>
                                    </div>
                                    <h5 class="fontClass" style="float: left;text-align: center;width: 100%;margin-top:15px;">{{rewardsPoints.coachPoints}}</h5>
                                </div>
                                <div class="roleNamePointStatus">
                                    <div class="rolesPointStatus menteeThemeColor">
                                        <h5 class="fontClass roleLabelPointStatus">MENTEE</h5>
                                    </div>
                                    <h5 class="fontClass" style="float: left;text-align: center;width: 100%;margin-top:15px;">{{rewardsPoints.menteePoints}}</h5>
                                </div>
                                <div class="roleNamePointStatus">
                                    <div class="rolesPointStatus coacheeThemeColor">
                                        <h5 class="fontClass roleLabelPointStatus">COACHEE</h5>
                                    </div>
                                    <h5 class="fontClass" style="float: left;text-align: center;width: 100%;margin-top:15px;">{{rewardsPoints.coacheePoints}}</h5>
                                </div>

                            </div>
                            <div class="countRecordPartThree">
                                <button type="button" style="width: 90px;border-radius: 0;background : #D72A1A; margin: auto auto; padding: 3px;font-size: 11px;color:white;" class="fontClass btn btn-default" ng-click="openRedeemPanel()">REDEEM</button>
                            </div>


                        </div>
                    </div>
                    <div class="myRewardsPointsPanel">
                        <div class="myRewardsPoints">
                            <div class="myRewardsLabelParent">
                                <h5 class="fontClass" style="margin: auto auto;font-weight: 700;">MY REWARDS</h5>
                            </div>
                            <div class="myRewardsPointParent">
                                <div ng-show="myRewardsArray.length >0" class="myRewardsPointRepeatParent" ng-class="{ psrRewardColor : myRewards.PSR == true}" ng-repeat="myRewards in myRewardsArray">
                                    <div class="medalIconsMyReward">
                                        <img ng-show="myRewards.PSR == true" style="float: left;height: 100%;" src="~/Images/psrPlant.png">
                                        <img style="float: right;height: 100%;" src="~/Images/normalMedal.png">
                                    </div>
                                    <div class="rewardsLabelDivMyReward">
                                        <h5 class="fontClass" style="margin: auto auto;margin-left:0;font-size: 16px;font-weight: 600;">{{myRewards.Name}}</h5>
                                    </div>
                                    <div class="rewardsDateDivMyReward">
                                        <div class="unlockParent">
                                            <h5 class="fontClass" style="margin: auto auto;margin-left:0;font-size: 9px;">Unlock Date</h5>
                                            <h5 class="fontClass" style="margin: auto auto;margin-left:0;font-size: 12px;font-weight: 600;margin-top: 4%;">{{myRewards.date}}</h5>
                                        </div>
                                        <div class="unlockParent" style="float:right;width:40%;">
                                            <h5 class="fontClass" style="margin: auto auto;margin-left:0;font-size: 9px;">Unlock Key</h5>
                                            <h5 class="fontClass" style="margin: auto auto;margin-left:0;font-size: 12px;font-weight: 600;margin-top: 4%;">{{myRewards.Key}}</h5>
                                        </div>

                                    </div>
                                    <div class="rewardsDateDivMyReward" style="height: auto;">
                                        <h5 class="fontClass" style="margin: auto auto;margin-left:0;font-size: 9px;">Status : N/A</h5>
                                    </div>

                                </div>
                                <div ng-show="myRewardsArray.length == 0" class="topicHeadingPlaceholdr">
                                    <h5 style="color:gray;margin: auto;font-size: 30px;" class="leftSideMenuLable fontClass">
                                        No Rewards
                                    </h5>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="applicationBottomStrip">
                    <bottom-Main-Strip></bottom-Main-Strip>
                </div>
            </div>
            @*DashBoard - 0*@
            <div class="parentRoleDetailRight" style="padding:1%;padding-bottom: 0;"  ng-if="selectedMenu == '0'">
                <div class="userNotificationParent">
                    <div class="userRoleWizardParent" >
                        <div class="notificationWiz " ng-repeat="notification in notifications">
                            <div ng-if="notification.notificationType == '1'">
                                <h6 class="notificationWizReason">{{notification.name}}</h6>
                                <h4 class="notificationWizName">{{notification.assignPerson}}</h4>
                                <div class="notificationWizButton">
                                    <button style="width:100%;font-size: 10px;padding: 5px;font-weight: bolder;" class="signupButton fontClass genericPointerClass">ACCEPT</button>
                                </div>
                            </div>
                            <div ng-class="{ mentorThemeColor : notification.role =='mentor',coacheeThemeColor : notification.role =='coachee'}" style="float: left;width: 100%;height: 100%;" ng-if="notification.notificationType == '2'">
                                <div class="notificationWizReason" style=" margin 4%;border:0px;color: white; padding 0;">{{notification.name}}</div>
                                <div class="notificationTimingPanel">
                                    <h6 class="notificationTiming notificationDate">{{notification.meetingDate}}</h6>
                                    <h6 class="notificationTiming notificationTime">{{notification.meetingTime}}</h6>
                                    <h6 style="float:right;    margin-right: 8%;" class="notificationTiming notificationDiff">{{notification.meetingTimeDiff}}</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="dashBoardWizard">
                    <div class="homeLabelInMainDB">
                        @*<h5 class="fontClass" style="font-size: 16px;">DASHBOARD >></h5>*@
                    </div>
                    <div class="mainDashBoardWizardParent">
                        <div class="dashBoardMenuCoach">
                            <div class="dashBoardMenuCoachRight genericPointerClass  col-md-3" ng-click="selectedOption($index,option)" ng-repeat="option in rightSideDashBoardArray " ng-class="{'dashBoardMenuCoachBottom': $index == 3}"  >

                                @*<div class="flipContainer" ng-class="{ flipper : option.selectedOption == true }">
                                    <div class="flipper" style="float: left; width : 100%; height : 100%;">
                                        <div class="front">


                                            <div class="flipDivOnClass">
                                                <div class="promoCodeClass">
                                                    <h5 style="font-size: 18px; margin: 5px;" ng-model="gameKey"></h5>

                                            </div>
                                        </div>
                                        </div>*@
                                @*<div class="back">*@
                                <!-- back content -->
                                <div class="dashBoardMenuCoachRightCircle">
                                    <div class="dashBoardMenuCoachRightCirclePart">
                                        <img src={{option.url}} class="dashBoardMenuCoachImage">
                                    </div>
                                </div>
                                <div class="dashBoardMenuCoachRightlabel">
                                    <h5 style="color:black;margin: auto;" class="leftSideMenuLable fontClass">{{option.name}}</h5>

                                    @*</div>*@
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="applicationBottomStrip">
                    <bottom-Main-Strip></bottom-Main-Strip>
                </div>
            </div>
            @*Knowledge feed - 4 *@
            <div class="parentRoleDetailRight" style="padding:1%;padding-bottom: 0;" ng-if="selectedMenu == '4'">
                <rss-Feed ng-if="feedCategoryArray.length > 0" skill="feedCategoryArray"></rss-Feed>               
            </div>
          
    </div>
    </div>
</div>

