<div class="parentBody" ng-controller="ksDashBoardCoacheeController">
    <div class="applicationTopStrip">
        <div style="position:absolute;" class="hiddenErrorNotificationClass" ng-class="{ 'showErrorNotificationClass' : displayAlert.showAlert  == true}">
            <div class="alert-message success" ng-show="displayAlert.formatType == '1'">
                <a class="close" href="#" ng-click="displayAlert.showAlert = false">×</a>
                <p>{{displayAlert.message}}</p>
            </div>
            @*Green*@

            <div class="alert-message error" ng-show="displayAlert.formatType == '2'">
                <a class="close" href="#" ng-click="displayAlert.showAlert = false">×</a>
                <p>{{displayAlert.message}}</p>
            </div>
            @*red*@
        </div>
        <top-main-strip></top-main-strip>
    </div>
    <div class="applicationMiddleStripMain">
        <div class="parentRoleDashboard">
            <div class="parentRoleMenu coacheeThemeColor">
                <div class="profileViewMode genericPointerClass" ng-click="navigateToProfile()">
                    <div class="profileImagePart" style="background: url({{ loggedDetail.Photo ?  loggedDetail.Photo  : '../../../Images/icons/If no Profile photo.png'}}) no-repeat;  "></div>
                    <div class="profileNamePart fontClass genericPointerClass">WELCOME {{(loggedDetail.FirstName) | uppercase }}</div>
                </div>
                <div class="leftSideMenuMainDashBoard">
                    <div class="leftSideMenuParent">
                        <div class="leftSideMenu coacheeColor" ng-repeat="option in leftSideMenus" ng-click="menuClick($index,option)">
                            <h5 class="leftSideMenuLable fontClass genericPointerClass">{{option.name}}</h5>
                        </div>
                    </div>
                </div>
            </div>
            @*DashBoard - 0*@
            <div class="parentRoleDetailRight" ng-show="selectedMenu == 0">
                <div class="userNotificationParent">
                    <div class="userRoleWizardParent" style="display: inline-flex;overflow: auto;float:left; overflow-x:scroll; overflow-y:hidden;width:96%;margin-left:2%;">

                        <div class="notificationWiz" ng-repeat="notificationDash in notificationData">
                            <div>
                                <h6 class="notificationWizReason">YOU HAVE COACHING INVITE FROM</h6>
                                <h4 class="notificationWizName" style="text-transform: uppercase;">{{notificationDash.FirstName}} {{notificationDash.LastName}}</h4>
                                <div class="notificationWizButton">
                                    <button class="btnAcceptReject" ng-click="notificationData.splice($index,1);updateConversation(false, loggedEmail, notificationDash.EmailAddress,notificationDash)">R</button>
                                    <button class="btnAcceptReject" ng-click="notificationData.splice($index,1);updateConversation(true, loggedEmail, notificationDash.EmailAddress,notificationDash)">A</button>
                                </div>
                            </div>
                        </div>
                        <div class="notificationWiz" ng-repeat="notificationRequest in notificationRequestData | orderBy: '-CreateDate'">
                            <div>
                                <h6 class="notificationWizReason">YOU HAVE SESSION INVITE FROM</h6>
                                <h4 class="notificationWizName" style="text-transform: uppercase;">{{notificationRequest.FirstName}} {{notificationRequest.LastName}}</h4>
                                <div class="notificationWizButton">
                                    <button class="btnAcceptReject" ng-click="notificationData.splice($index,1);updateMeeting(false, notificationRequest.EmailAddress, loggedEmail, 'Coachee')">R</button>
                                    <button class="btnAcceptReject" ng-click="notificationData.splice($index,1);updateMeeting(true, notificationRequest.EmailAddress, loggedEmail, 'Coachee')">A</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                      
                <div class="dashBoardWizard">
                    <div class="homeLabelInMainDB">
                        @*<h5 class="fontClass">DASHBOARD >></h5>*@
                    </div>
                    <div class="mainDashBoardWizardParent">
                        <div class="dashBoardMenuCoach">
                            <div class="dashBoardMenuCoachRight genericPointerClas col-md-3 " ng-click="selectedOption($index,option)" ng-repeat="option in rightSideDashBoardArray" ng-class="{'dashBoardMenuCoachBottom': $index == 3}">
                                <div class="dashBoardMenuCoachRightCircle">

                                    <div class="dashBoardMenuCoachRightCirclePart">
                                        <img src={{option.url}} class="dashBoardMenuCoachImage">
                                    </div>
                                </div>
                                <div class="dashBoardMenuCoachRightlabel">
                                    <h5 style="color:black;margin: auto;" class="leftSideMenuLable fontClass">{{option.name}}</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="applicationBottomStrip">
                    <bottom-main-strip></bottom-main-strip>
                </div>
            </div>
            @*Search Coach - 3 *@
            <div class="parentRoleDetailRight" ng-show="selectedMenu == '3'">
                <div class="ctsParent">
                    <div class="ctsParentMain">
                        <div class="ctsParentMainPanel">
                            <div class="ctsCategoryHeading row">
                                <div class="homeLabelInChat" style="height:7%;border-bottom:1px solid lightgray;">
                                    <h5 class="fontClass" style="font-size: 16px;">SEARCH COACH</h5>
                                </div>
                                <div class="col-md-2 search-mentor">
                                    <div class="inner-addon left-addon">
                                        <span ng-show="searchKey.length > 0" class="filter-icon" ng-click="clearSearch()"><i class="fa fa-times-circle"></i></span>
                                        <span ng-show="searchKey.length == 0" class="filter-icon"><i class="fa fa-search"></i></span>
                                        <input type="text" class="auto-complete" cts-dropdown ng-model="searchKey" key="searchKey" searching="searching" skill="selectedSkill" placeholder="Type to search" />
                                    </div>
                                    <div class="auto-complete-container" ng-show="searching" ng-class="{hide:!searching}">
                                        <div class="item" ng-repeat="skill in skills = (availableSkills | filter: skillFilter)">
                                            <div ng-click="selectSkill(skill)">{{skill.Name}}</div>
                                        </div>
                                        <div ng-show="!skills.length && searching" class="no-result">
                                            No result found.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="ctsCategoryPanelMainPanel" style="overflow-y:scroll;">
                                <h5 class="margin-small">RECOMMENDED COACHES</h5>
                                <div class="filterListContainer">
                                    <div class="mentor-list">
                                        <div class="row" style="margin:0px;">
                                            <div class="mentor-card" ng-repeat="coach in Coaches" cts-mentor-card>
                                                <div class="mentor-info">
                                                    <span class="profile-close" style="float:right;top:10px;right:10px;"><i class="fa fa-times"></i></span>
                                                    <div class="profile-image">                                                        
                                                        <img ng-src="{{coach.PhotoURL ? coach.PhotoURL : '~/Images/icons/If no Profile photo.png'}}" class="img-circle" />
                                                    </div>
                                                    <div class="profile-info">
                                                        <p class="mentor-name">{{ coach.FirstName +" "+coach.LastName }}</p>
                                                        <p class="mentor-skils">{{coach.Skill.Name}}</p>
                                                        <p class="mentor-location"> {{coach.Country ? coach.Country : 'India'}}</p>
                                                    </div>
                                                </div>
                                                <div class="mentor-actions" style="display:none; position:absolute">
                                                    <div class="row">
                                                        <i class="btn col-md-2 fa fa-linkedin btn-blue" style="border-radius:0px;"></i>
                                                        <button class="btn col-md-9 btn-gray" data-toggle="modal" data-target="#myModal" style="border-radius:0px;">View Profile</button>
                                                    </div>
                                                    <br />
                                                    <button class="btn signupButton" style="margin-left: 30%;" ng-click="sendCoachingRequest(false, coach)">Request</button>
                                                    <br />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="applicationBottomStrip">
                        <bottom-main-strip></bottom-main-strip>
                    </div>
                </div>
            </div>
            @*Communication - 5*@
            <div class="parentRoleDetailRight" ng-if="selectedMenu == '5'">
                <div class="homeLabelInChat" style="height:7%;border-bottom:1px solid lightgray;">
                    <h5 class="fontClass" style="font-size: 16px;margin-left:2%;">NOTIFICATIONS</h5>
                </div>

                <div ng-show="conversationListNew.length == 0" class="topicHeadingPlaceholdr">
                    <h5 style="color:gray;margin: auto;font-size: 14px;" class="leftSideMenuLable fontClass">
                        NO CONVERSATIONS
                    </h5>
                </div>
                <div class="communicationMainPanel" ng-hide="conversationListNew.length == 0">
                    <div ng-if='feedBack.askFeedback' class="feedbackPanel" style="height: 75%;">
                        <feedback-Page role="Coachee" question="array" feedback-Closed="feedBack.icloseFeedBack" conv-Object="openConversation" submit-Feedback="feedBackSave()" close-Callback="closeCallBack()"></feedback-Page>
                    </div>
                    <div class="conversationPanel">
                        <div class="conversationPanelDiv">
                            <div class="conversationList " ng-click="conversationLoad($index,conversation)" ng-repeat="conversation in conversationListNew">
                                <div class="conversationListPanel genericPointerClass" ng-class="{ highlightedGrayClass : conversation.selectedConversation == true }">
                                    <div style="float:left; margin: auto auto;width: 85%; text-transform: uppercase;">
                                        <h5 style="margin:auto auto;margin-left: 0;font-size: large;float: left;width: 88%;    font-weight: 700;    font-size: 15px;">{{conversation.FirstName +" "+conversation.LastName+" - "+conversation.skill }}</h5>
                                        <div class="applicationNotiCount" title="5" style="display:flex;float:left;text-align: center;height: 15px;width: 15px;">
                                            <h6 class="fontClass" style="font-size:10px;display:inline-block;text-align:center; text-overflow:clip; margin: auto auto;color:white;">5</h6>
                                        </div>
                                    </div>
                                </div>
                                <div class="triangleArrowRight trangleOveRideBlack" ng-if="conversation.selectedConversation == true" style="float: left; margin-top: 9px;"></div>
                            </div>
                        </div>
                    </div>
                    <div class="communicationPanel">
                        <div class="chatParent" style="height: 90%;">
                            <div class="chatHeader">
                                <div class="chatStrongHeader">
                                    <div class="chatHalfContainer">
                                        <span class="chatHalfContainerSpan">
                                            <h5>{{ReceiverName}}</h5>
                                        </span>
                                        <span ng-hide="openConversation.sessionClosed" class="chatHalfContainerSpanNxt">
                                            <h6 class="genericPointerClass" ng-click="askFeedBackFunc(true)">Close Session</h6>
                                            <h6 class="genericPointerClass" ng-click="askFeedBackFunc(false)">Give Feedback</h6>
                                        </span>
                                    </div>
                                    <div class="chatHalfContainer">
                                        <span class="chatHalfContainerSpanNxt" style="align-items: center;">
                                            <h6 style="padding: 0px;">{{openConversation.skill}}</h6>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="chatMiddle">
                                <div class="chatOuterContainer" ng-repeat="MailRecord in MailRecords">
                                    <div class="" ng-class="{chatReceiver : MailRecord.SenderEmail === loggedEmail, chatSender : MailRecord.ReceiverEmail === loggedEmail}">
                                        <h5>{{MailRecord.Content}}</h5>
                                    </div>
                                    <div class="" ng-class="{chatTimeReceiver : MailRecord.SenderEmail === loggedEmail, chatTime : MailRecord.ReceiverEmail === loggedEmail}">{{MailRecord.UpdateDate | date:'yyyy-MM-dd HH:mm a' }}</div>

                                </div>
                            </div>
                            <div class="chatBottom">
                                <div class="chatBottomOne">
                                    <textarea ng-disabled="openConversation.sessionClosed" placeholder="{{ openConversation.sessionClosed ? 'SESSION CLOSED' : 'CLICK HERE TO TYPE MESSAGE'}}" required ng-model="conversation.Message"></textarea>
                                </div>
                                <div class="chatBottomTwo">
                                    <div class="iconContainer">
                                        <div class="fa fa-paperclip" style="padding: 0px 8px;"></div>
                                        <div class="fa fa-phone" style="padding: 0px 8px;" data-toggle="modal" data-target="#myMeetingSchedular"></div>
                                    </div>
                                    <div class="iconContainer">
                                        <button type="submit" ng-disabled="openConversation.sessionClosed" ng-click="conversationClick(true, '')">Send</button>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="applicationBottomStrip">
                    <bottom-main-strip></bottom-main-strip>
                </div>
                <div class="modal fade" id="myMeetingSchedular" tabindex="-1" role="dialog" aria-labelledby="myMeetingSchedularLabel">
                    <div class="modal-dialog">
                        <div class="modal-content SchedularContent">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            </div>
                            <div class="modal-body SchedularBody">
                                <div>
                                    <textarea style="width: 100%;" placeholder="Subject Name" ng-model="MeetingSchedular.Subject" required></textarea>
                                </div>
                                <div>
                                    <h4 style="width: 100%;" class="notificationWizName">Meeting schedule with <span class="SchedularProfile"></span>  <span style="text-transform: uppercase;">{{ReceiverName}}</span></h4>
                                </div>
                                <div>
                                    <div style="float: left; width: 40%; ">Date <input type="date" ng-model="MeetingSchedular.MeetingDate" required /></div>
                                    <div style="float: left; width: 25%; ">From <input type="time" ng-model="MeetingSchedular.TimeFrom" required /></div>
                                    <div style="float: left; width: 25%; ">To <input type="time" ng-model="MeetingSchedular.TimeTo" required /></div>
                                </div>
                                <div>
                                    <div style="float: left; width: 50%; ">
                                        <fieldset data-role="controlgroup" data-type="horizontal">
                                            <input type="radio" name="platformType" id="Skype" value="Skype" ng-model="MeetingSchedular.PlatformType" required>
                                            <label for="Skype">Skype</label>
                                            <input type="radio" name="platformType" id="Hangout" value="Hangout" ng-model="MeetingSchedular.PlatformType" required>
                                            <label for="Hangout">Hangout</label>
                                            <input type="radio" name="platformType" id="Other" value="Other" ng-model="MeetingSchedular.PlatformType" required>
                                            <label for="Other">Other</label>
                                        </fieldset>
                                    </div>
                                    <div style="float: left; width: 50%; "><input type="text" placeholder="Mention Platform" ng-model="MeetingSchedular.UserId" required /></div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="submit" class="Schedular" ng-click="saveSchedular(false);">Send</button>
                                @*<button type="button" class="btn btn-primary">Cancel</button>*@
                            </div>
                        </div>
                    </div>
                </div>
           </div>
            @*Rss feed - 4*@
            <div class="parentRoleDetailRight" style="padding:1%;padding-bottom: 0;" ng-if="selectedMenu == '4'">
                <rss-Feed ng-if="feedCategoryArray.length > 0" role="coachee" skill="feedCategoryArray"></rss-Feed>
            </div>
            @*Knowledge Garden - 1*@
            <div class="parentRoleDetailRight" style="padding:1%;padding-bottom: 0;" ng-if="selectedMenu == '1'">
                <div class="homeLabelInChat" style="height:7%;border-bottom:1px solid lightgray;">
                    <h5 class="fontClass" style="font-size: 16px;">KNOWLEDGE GARDEN</h5>
                </div>
                <div class="" style="float:left;width:100%;height:86%;">
                    <molecule-Map ng-if="ctsDataForMolecule" cts-Data="ctsDataForMolecule"></molecule-Map>
                </div>
                <div class="applicationBottomStrip">
                    <bottom-Main-Strip></bottom-Main-Strip>
                </div>
            </div>
            @*Select skills - 2*@
            <div class="parentRoleDetailRight" ng-if="selectedMenu == '2'">
                <ctc-Role role="coachee" skill-Required="true"></ctc-Role>
            </div>
            @*MY Rewards - 6 *@
            <div class="parentRoleDetailRightRewardsPoint" ng-if="selectedMenu == '6'">
                <my-Reward></my-Reward>    
           </div>
        </div>
    </div>   
</div>



<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Modal title</h4>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

