<div class="parentBody" ng-controller="ksDashBoardMentorController">
    <div class="applicationTopStrip">
        <top-Main-Strip></top-Main-Strip>
    </div>
    <div class="applicationMiddleStripMain">
        <div class="parentRoleDashboard">
            <div class="parentRoleMenu mentorThemeColor">
                <div class="profileViewMode genericPointerClass">
                    <div class="profileImagePart"></div>
                    <div class="profileNamePart fontClass genericPointerClass">WELCOME {{(loggedDetail.FirstName+" "+loggedDetail.LastName) | uppercase }}</div>
                </div>
                <div class="leftSideMenuMainDashBoard">
                    <div class="leftSideMenuParent">
                        <div class="leftSideMenu mentorColor" ng-repeat="option in leftSideMenus">
                            <h5 class="leftSideMenuLable fontClass genericPointerClass">{{option.name}}</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="parentRoleDetailRight">
                <div class="userNotificationParent">
                    <div class="userRoleWizardParent" style="display: block;overflow: auto;
float:left;">
                        <div class="notificationWiz " ng-repeat="notification in notifications">
                            <div ng-if="notification.notificationType == '1'">
                                <h6 class="notificationWizReason">{{notification.name}}</h6>
                                <h4 class="notificationWizName">{{notification.assignPerson}}</h4>
                                <div class="notificationWizButton">
                                    <button style="width:100%;font-size: 10px;padding: 5px;font-weight: bolder;" class="signupButton fontClass genericPointerClass">ACCEPT</button>
                                </div>
                            </div>
                            <div ng-class="{ mentorThemeColor : notification.role =='mentor',coacheeThemeColor : notification.role =='coachee'}" style="float: left;width: 100%;height: 100%;" ng-if="notification.notificationType == '2'">
                                <div class="notificationWizReason" style=" margin 4%;border:0px;color: white; padding 0;">{{notification.name}}</div>
                                <div class="notificationTimingPanel">
                                    <h6 class="notificationTiming notificationDate">{{notification.meetingDate}}</h6>
                                    <h6 class="notificationTiming notificationTime">{{notification.meetingTime}}</h6>
                                    <h6 style="float:right;    margin-right: 8%;" class="notificationTiming notificationDiff">{{notification.meetingTimeDiff}}</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="dashBoardWizard">
                    <div class="homeLabelInMainDB">
                        <h5 class="fontClass">DASHBOARD >></h5>
                    </div>
                    <div class="mainDashBoardWizardParent">
                        <div class="dashBoardMenuCoach">
                            <div class="dashBoardMenuCoachRight genericPointerClass" ng-repeat="option in rightSideDashBoardArray">
                                <div class="dashBoardMenuCoachRightCircle">
                                    <div class="dashBoardMenuCoachRightCirclePart"></div>
                                </div>
                                <div class="dashBoardMenuCoachRightlabel">
                                    <h5 style="color:black;margin: auto;" class="leftSideMenuLable fontClass">{{option.name}}</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="applicationBottomStrip">
                        <bottom-Main-Strip></bottom-Main-Strip>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

