<div class="parentBody" ng-controller="ksDashBoardMentorController">
        <div class="parentRoleDashboard">
            <div class="parentRoleMenu mentorThemeColor">
                <div class="profileViewMode genericPointerClass" ng-click="navigateToProfile()">
                    <div class="imageConversation">
                        <img style="border: 2px solid white;margin:auto auto;margin-top: 0;width: 40px;height: 40px;border-radius: 50%;" ng-src="{{loggedDetail.Photo ?  loggedDetail.Photo  : '../../../Images/icons/If no Profile photo.png'}}" />
                    </div>
                    <div style="width: 75%;" class="profileNamePart fontClass genericPointerClass">
                        <h5 style="width: 100%;margin: 0;" class="leftSideMenuLable fontClass genericPointerClass eliipsisClass">{{(loggedDetail.FirstName+" "+loggedDetail.LastName) | uppercase }}</h5>
                        <h5 style="font-size: 12px;float: right;" class="leftSideMenuLable fontClass genericPointerClass eliipsisClass">- Coach</h5>
                    </div>
                </div>
                <div class="leftSideMenuMainDashBoard">
                    <div class="leftSideMenuParent">
                        <div class="leftSideMenu" ng-class="{ selectedLeftSideMenu : selectedMenu == $index }" ng-repeat="option in leftSideMenus" ng-click="menuClick($index,option)">
                            <h5 class="leftSideMenuLable fontClass genericPointerClass">{{option.name}}</h5>
                            <h5 ng-if="option.name == 'Add Skills'" style="float: right;font-size: 25px;margin: 1%;" class="leftSideMenuLable fontClass genericPointerClass">@*+*@</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="parentRoleDetailRight" style="padding:1%;padding-bottom: 0;" ng-if="loadingMiddleObject.showLoading">
                <cube-Strct class="cubeParentClass" loading-Object="loadingMiddleObject"></cube-Strct>
            </div>
            <div class="parentRoleDetailRight" style="padding:1%;padding-bottom: 0;" ng-if="loadingMiddleObject.showLoading == false" ng-switch="selectedMenu">
                @*rss feed -4 *@
                <div class="fullWidthHeightClass" ng-switch-when='4'>
                    <rss-Feed role="mentor" skill="feedCategoryArray"></rss-Feed>
                </div>
                @*RESOURCES - 7*@
                <div class="fullWidthHeightClass" ng-switch-when='7'>
                    <div class="applicationMiddleStripMain" style="display:flex;height:100%;">
                        <common-Repository extra-Param="objectForResourceTab"></common-Repository>
                    </div>
                </div>
                @*Add topics -2 *@
                <div class="fullWidthHeightClass" ng-switch-when='2'>
                    <ctc-Role role="mentor" skill-Required="false"></ctc-Role>
                </div>
                @*dashboard -0 *@
                <div class="fullWidthHeightClass" ng-switch-when='0'>
                    <div class="userNotificationParent">
                        <div class="userRoleWizardParent">
                            <div class="notificationWiz" ng-repeat="notification in notificationData">
                                <div ng-if="true" style=" height 100%; width 100%;">
                                    <h6 class="notificationWizReason" style="margin: 8px;margin-bottom: 6px;">{{ notification.ConversationType | uppercase }} INVITE {{notification.skill | uppercase }} FROM </h6>
                                    <h5 class="notificationWizName" style="margin: 0 10px;width : 42%;">{{notification.FirstName+" "+notification.LastName}}</h5>
                                    @*<h6 class="notificationWizReason">FOR SKILL {{notification.skill}}</h6>*@
                                    <div class="notificationWizButton">
                                        <button style="font-size: 10px;padding: 5px;    margin: auto;font-weight: bolder;" class="signupButton fontClass" ng-click="notificationData.splice($index,1);updateConversation(true, loggedEmail, notification.EmailAddress,notification)">ACCEPT</button>
                                        <button style="font-size: 10px;padding: 5px;    margin: auto;font-weight: bolder;" class="signupButton fontClass" ng-click="notificationData.splice($index,1);updateConversation(false, loggedEmail, notification.EmailAddress,notification)">DECLINE</button>
                                    </div>
                                </div>
                                <div ng-class="{ mentorThemeColor : notification.role =='mentor',coacheeThemeColor : notification.role =='coachee'}" style="float: left;width: 100%;height: 100%;" ng-if="notification.notificationType == '2'">
                                    <div class="notificationWizReason" style="margin :4%;border:0px;color: white; padding : 0;">{{notification.name}}</div>
                                    <div class="notificationTimingPanel">
                                        <h6 class="notificationTiming notificationDate">{{notification.meetingDate}}</h6>
                                        <h6 class="notificationTiming notificationTime">{{notification.meetingTime}}</h6>
                                        <h6 style="float:right;    margin-right: 8%;" class="notificationTiming notificationDiff">{{notification.meetingTimeDiff}}</h6>
                                    </div>
                                </div>
                            </div>
                            <div class="notificationWiz" ng-repeat="notificationRequest in notificationRequestData | orderBy: '-CreateDate'">
                                <div>
                                    <h6 class="notificationWizReason">YOU HAVE SESSION INVITE FROM</h6>
                                    <h4 class="notificationWizName" style="text-transform: uppercase;">{{notificationRequest.FirstName}} {{notificationRequest.LastName}}</h4>
                                    <div class="notificationWizButton">
                                        <button class="btnAcceptReject" ng-click="notificationData.splice($index,1);updateMeeting(false, notificationRequest.EmailAddress, loggedEmail, 'Coachee')">R</button>
                                        <button class="btnAcceptReject" ng-click="notificationData.splice($index,1);updateMeeting(true, notificationRequest.EmailAddress, loggedEmail, 'Coachee')">A</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="dashBoardWizard">
                        <div class="homeLabelInMainDB">
                            @*<h5 class="fontClass">DASHBOARD >></h5>*@
                        </div>
                        <div class="mainDashBoardWizardParent">
                            <div class="dashBoardMenuCoach">
                                <div class="dashBoardMenuCoachRight genericPointerClass col-md-3" ng-click="selectedOption($index,option)" ng-repeat="option in rightSideDashBoardArray" ng-class="{'dashBoardMenuCoachBottom': $index == 3}">
                                    <div class="dashBoardMenuCoachRightCircle">
                                        <div class="dashBoardMenuCoachRightCirclePart">
                                            <img src={{option.url}} class="dashBoardMenuCoachImage">
                                        </div>
                                    </div>
                                    <div class="dashBoardMenuCoachRightlabel">
                                        <h5 style="color:black;margin: auto;" class="leftSideMenuLable fontClass">{{option.name}}</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                @*MY Rewards - 6 *@
                <div class="fullWidthHeightClass" ng-switch-when='6'>
                    <my-Reward></my-Reward>
                </div>
                @*Mentoring Status - 1 *@
                <div class="fullWidthHeightClass" ng-switch-when='1'>
                    <div class="hideCoacheeProfile" ng-class="{ showCoacheeProfileClass : showCoacheeProfile == true }">
                        <profile-Page ng-if="showCoacheeProfile && userInfo" user-Info="userInfo" close-Popup="closeProfilePic()" edit-Required="false"></profile-Page>
                    </div>
                    <div class="homeLabelInMainDB" style="height:7%;display: flex;border-bottom:1px solid lightgray;">
                        <h5 class="fontClass" style="font-size: 16px;margin: auto;margin-left: 1%;">
                            MENTORING STATUS
                        </h5>
                    </div>                   
                    <div class="mainDashBoardWizardParent">
                        <place-Holder message="No Mentee Available" ng-show="coachingStatusArray.length == 0"></place-Holder>
                        <div class="statusParentDiv" ng-hide="coachingStatusArray.length == 0">

                            <div class="ngRepeatDivForStatus " ng-click="showCoacheeProfile = true;showCoacheeProfileStatus(option)" ng-repeat="option in coachingStatusArray">

                                <div class="profileImageCoachingStatus">
                                    <img ng-src="{{option.PhotoURL ? option.PhotoURL : '/Images/icons/profile.png' }}" style="margin: auto auto;float: left;height: 35px;width: 35px;" />
                                </div>
                                <div class="profileNameCoachingStatus">
                                    <h5 class="textAlignCoachingStatus fontClass">{{option.FirstName+" "+option.LastName}}</h5>
                                </div>
                                <div class="skillsCoachingStatus">
                                    <h5 class="textAlignCoachingStatus fontClass" style="font-weight: 500;">{{option.Skill}}</h5>
                                </div>
                                <div class="progressBarCoachingStatus">
                                    <div style="margin: auto auto;float: left;width: 100%; height: 18px; border: 1px solid #f6f6f6;">
                                        <div style="height: 100%; width: {{option.FeedbackCount+'0%'}};background: #F1201B;"></div>
                                    </div>
                                </div>
                                <div class="statusCoachingStatus">
                                    <h5 class="fontClass" style="color:#A9A9A9;margin: auto auto;float: left;margin-left: 0;">{{option.FeedbackCount == 1 ? "JUST STARTED" : (option.FeedbackCount == 6 || option.FeedbackClosed == true) ? 'SESSION OVER' : 'IN PROGRESS'}}</h5>
                                </div>
                                <div class="treeCoachingStatus">
                                    <img ng-src="{{option.TreeURL}}" style="margin: auto auto;float: left;height: 45px;width: 45px;" />
                                </div>
                                <div class="communicationsCoachingStatus">
                                    <img src="" class="iconOnStatusArray" style="visibility:hidden;">
                                    <img src="~/Images/icons/call.png" class="iconOnStatusArray iconOnStatusArrayss">
                                    <img src="" class="iconOnStatusArray" style="visibility:hidden;">

                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                @* Knowledge garden - 3 *@
                <div class="fullWidthHeightClass" ng-switch-when='3'>
                    <div class="homeLabelInChat" style="height:7%;border-bottom:1px solid lightgray;">
                        <h5 class="fontClass" style="font-size: 16px;margin-left: 1%;">KNOWLEDGE GARDEN</h5>
                    </div>
                    <div class="" style="float:left;width:100%;height:93%;">
                        <molecule-Map ng-if="ctsDataForMolecule" cts-Data="ctsDataForMolecule"></molecule-Map>
                    </div>
                </div>
                @*Communication - 5*@
                <div class="fullWidthHeightClass" ng-switch-when='5'>
                    <div class="homeLabelInChat" style="height:7%;border-bottom:1px solid lightgray;">
                        <h5 class="fontClass" style="font-size: 16px;margin-left:1%;">COMMUNICATION</h5>
                    </div>
                    <place-Holder message="No Conversations" ng-show="conversationListNew.length == 0"></place-Holder>
                    <div class="communicationMainPanel" ng-hide="conversationListNew.length == 0">
                        <div ng-if='feedBack.askFeedback' class="feedbackPanel" style="height: 75%;">
                            <feedback-Page role="Mentor" feedback-Type="feedBack.feedBackType" question="array" feedback-Closed="feedBack.icloseFeedBack" conv-Object="openConversation" submit-Feedback="feedBackSave()" close-Callback="closeCallBack()"></feedback-Page>
                        </div>

                        <div class="conversationPanel">
                            <div class="conversationPanelDiv">
                                <div class="conversationList" ng-class="{ highlightedSelctedConversationParent  : conversation.selectedConversation == true}" ng-click="conversationLoad($index,conversation)" ng-repeat="conversation in conversationListNew">
                                    <div class="conversationParentDiv">
                                        <div class="imageConversation">
                                            <img ng-class="{ activeSessionCLass :  conversation.sessionClosed == false, closeSessionClass :  conversation.sessionClosed == true }" style="margin:auto auto;width: 40px;height: 40px;border-radius: 50%;"  ng-src="{{ conversation.Photo ? conversation.Photo : '/Images/icons/If no Profile photo.png' }}"  />
                                        </div>
                                        <div class="nameMessageConversation">
                                            <div style="margin:auto auto;float:left; width: 100%;height: 55%;">
                                                <h5 class="textFormatConversation eliipsisClass fontClass" style="color:#797979;">{{(conversation.FirstName +" "+conversation.LastName) | uppercase }}</h5>
                                                <h5 class="textFormatConversation eliipsisClass fontClass" style="color:#aaa; font-size: 12px;font-weight: 100;" title="{{conversation.skill  | uppercase }}">{{conversation.skill  | uppercase }}</h5>
                                            </div>
                                        </div>
                                        <div ng-show="conversation.selectedConversation == true" class="highlightedSelctedConversation"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="communicationPanel">
                            <cube-Strct ng-show="loadingMessageObject.showLoading" class="cubeParentClass" loading-Object="loadingMessageObject"></cube-Strct>
                            <div ng-hide="loadingMessageObject.showLoading" class="chatParent">
                                <div class="chatHeader">
                                    <div class="chatStrongHeader">
                                        <div class="chatHalfContainer">
                                            <span style="color:#797979;" class="chatHalfContainerSpan">
                                                <h5 class="fontClass">{{ReceiverName}}</h5>
                                            </span>
                                            <div style="margin: auto;margin-right: 0;width: 29px;">
                                                <img ng-click="loadMyFeedback = true;" class="mod model-1" style="width: 35px;height: 35px;" title="Feedback" src="~/Images/communication/preSessionIcon.png" />
                                                <img ng-click="askFeedBackFunc(3)" class="mod model-1" style="width: 35px;height: 35px;" title="Pre Session Feedback" src="~/Images/communication/preSessionIcon.png" />
                                                <section style="position: absolute;top: 4px;width: 44px;z-index: 1;background: transparent;" class="mod model-1">
                                                    <div class="spinner"></div>
                                                </section>
                                            </div>
                                            <span style="margin: auto;height: 35px;margin-left: 0;margin-right: 0;" ng-hide="openConversation.sessionClosed" class="chatHalfContainerSpanNxt">
                                                <h6 class="fontClass genericPointerClass" style="margin: auto;" ng-click="askFeedBackFunc(true)">Close Session</h6>
                                                <h6 class="fontClass genericPointerClass" style="margin: auto;" ng-click="askFeedBackFunc(false)">Give Feedback</h6>
                                            </span>
                                        </div>
                                        <div class="chatHalfContainer">
                                            <span class="chatHalfContainerSpanNxt" style="align-items: center;">
                                                <h6  class="fontClass" style="padding: 0px;">{{openConversation.skill}} </h6>
                                            </span>
                                        </div>
                                    </div>


                                </div>
                                <div class="chatMiddle" id="messagebox">
                                    <div style="display: flex;width: 100%;height: 35px;" ng-repeat-start="timeSlot in timeSlots">
                                        <div style="margin:auto;width: 100%;display: flex;">
                                            <div style="width:33.33%;height:100%;float:left;margin: auto;">
                                                <div style="height:1px;width:100%;border-bottom:1px solid rgba(214,214,214,.61);"></div>
                                            </div>
                                            <div style="width:33.33%;height:100%;float:left;margin: auto;display:flex;">
                                                <h5 class="genericEventHeadings genericMarginZero genericEllipsis" style="margin: auto;color: #a9a9a9;font-size:13px;" title="{{timeSlot.displayDate}}">{{timeSlot.displayDate}}</h5>
                                            </div>
                                            <div style="width:33.33%;height:100%;float:left;margin: auto;">
                                                <div style="height:1px;width:100%;border-bottom:1px solid rgba(214,214,214,.61);"></div>
                                            </div>

                                        </div>

                                    </div>
                                    <div class="chatOuterContainer" ng-repeat-end="" ng-repeat="MailRecord in MailRecords" ng-if="MailRecord.displayDate == timeSlot.displayDate">
                                        <div class="" ng-class="{ chatReceiverImage : MailRecord.SenderEmail === loggedEmail, chatSenderImage : MailRecord.ReceiverEmail === loggedEmail }">
                                            <div class="imageConversation" style="width: 100%;display: block;">
                                                <img style="box-shadow: 0 0 19px 0px #969595;width: 40px;height: 40px;border-radius: 50%;"  ng-src="{{ MailRecord.Photo ? MailRecord.Photo : '/Images/icons/If no Profile photo.png' }}" />
                                                <h5 class="fontClass" style="margin: 0;width: 50px;color: #aaa;font-size: 10px;height: auto;margin-top:3px;">{{MailRecord.UpdateDate | date:'hh:mm a' }}</h5>
                                            </div>
                                        </div>
                                        <div style="border-radius: 7px;display:flex;" ng-class="{chatReceiver : MailRecord.SenderEmail === loggedEmail, chatSender : MailRecord.ReceiverEmail === loggedEmail}">
                                            <div style="margin:auto;float:left;">
                                                <h5 class="fontClass" style="margin: 0;margin-bottom: 5px;color: #1d89cf;height: auto;font-size:11px;font-size: 10px;width: 100%;" ng-class="{chatTimeReceiver : MailRecord.SenderEmail === loggedEmail, chatTime : MailRecord.ReceiverEmail === loggedEmail}">{{(MailRecord.Name) | uppercase }} </h5>
                                                <h5 class="fontClass" style="margin: 0;margin-bottom: 5px;color: #555;">{{MailRecord.Content}}</h5>
                                                
                                                <div ng-show="MailRecord.messageType =='media'" class="imageConversation" style="width: 100%;display: block;height:auto;">
                                                    <div class="ImpactZoneChildDiv mouseOverEffectDiv" style="border-top: 1px solid #ddd;" ng-repeat="option in MailRecord.messages">
                                                        <div class="profileImageCoachingStatus">
                                                            <img ng-src="{{option.PhotoURL ? option.PhotoURL : '/Images/icons/Microsoft_Word_2013_icon.png' }}" style="margin: auto auto;float: left;height: 35px;width: 35px;" />
                                                        </div>
                                                        <div class="statusCoachingStatus" style="width: 50%;">
                                                            <h5 class="fontClass" style="color:#A9A9A9;margin: auto auto;float: left;margin-left: 0;">{{option.Name}}</h5>
                                                        </div>
                                                        <div class="communicationsCoachingStatus" style="width: 14%;    margin-right: 0;">
                                                            <h5 class="fontClass" style="color:#A9A9A9;margin: auto auto;float: left;margin-left: 0;">{{option.size}}</h5>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>


                                    </div>
                                </div>
                                <div class="chatBottom">
                                    <div class="chatBottomOne">
                                        <textarea ng-keypress="conversationClick($event)" ng-disabled="openConversation.sessionClosed" placeholder="{{ openConversation.sessionClosed ? 'SESSION CLOSED' : 'CLICK HERE TO TYPE MESSAGE'}}" required ng-model="conversation.Message"></textarea>
                                    </div>
                                    <div class="chatBottomTwo">
                                        <div class="iconContainer">
                                            <div class="fa fa-paperclip" style="padding: 0px 8px;" ng-click="loadAttachment()"></div>
                                            <div class="fa fa-phone" style="padding: 0px 8px;" ng-click="scheduleMeeting()"></div>
                                        </div>
                                        <div class="iconContainer">
                                            <button type="submit" class="btn btn-default" ng-disabled="conversation.Message==''" ng-click="conversationClick($event, true)">Send</button>
                                        </div>

                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>               
       </div>
</div>



