<div class="popupContainer" ng-class="{ coachThemeColor : role == 'Coach' , coacheeThemeColor : role == 'Coachee' , mentorThemeColor : role == 'Mentor' , menteeThemeColor : role == 'Mentee' }" ng-show="feedBack.formValue == '1'" >
    <div id="carousel-example" class="carousel slide fullWidthHeightClass" data-slide-to="carousel" data-interval="false">
        <!-- Wrapper for slides -->
        <div class="carousel-inner fullWidthHeightClass" role="listbox">
            <div class="item active fullWidthHeightClass">
                <div class="feedBackParent">
                    <img ng-click="feedBack.closeFeedBackPopup()" style="width: 15px;height: 15px;top:1%;right: 1%;bottom: 0;position: absolute;cursor:pointer" title="Close" src="~/Images/cancel.png" />
                    <div class="feedBackLabel">
                        <h5 class="resetClass fontClass">FEEDBACK FORM</h5>
                    </div>
                    <div class="feedbackPanelCom">
                        <div class="questionBox" ng-repeat="question in displayArray">
                            <div class="questionBoxparentHide" ng-class="{ questionBoxparentShow : question.showLoad == true }">
                                <div class="questionLabel">
                                    <h5 class="resetClass fontClass">{{question.name}}</h5>
                                </div>
                                <div class="questionAnswer">
                                    <div class="" style="margin: auto;display:flex;width:95%;height:95%;" ng-show="question.type == 'radio'">
                                        <input style="margin: auto;" ng-checked="selected=='yes'" ng-true-value="'yes'" ng-model="selected" title="Yes" class="radioFeedBack" type="checkbox" unchecked>
                                        <input style="margin: auto;" ng-checked="selected=='no'" ng-true-value="'no'" ng-model="selected" title="No" class="radioFeedBack radioFeedBackNo" type="checkbox" unchecked>
                                        <input style="margin: auto;" ng-checked="selected=='na'" ng-true-value="'na'" ng-model="selected" title="Not Applicable" class="radioFeedBack radioFeedBackNotApplicable" type="checkbox" unchecked>
                                    </div>
                                    <textArea class="fontClass" ng-show="question.type == 'textArea'" ng-model="question.actionValue" placeholder="Enter here Description"></textArea>
                                    <div class="ratingFeedBack" ng-show="question.type == 'rating'">
                                        <img ng-click="showRatingColor(1,question)" ng-src="{{ indexArray.indexOf(1) > -1 ? 'Images/redstar.png' : 'Images/silverstar.png' }}" class="ratingStarOne" src="~/Images/silverstar.png" />
                                        <img ng-click="showRatingColor(2,question)" ng-src="{{ indexArray.indexOf(2) > -1 ? 'Images/redstar.png' : 'Images/silverstar.png' }}" class="ratingStarTwo" src="~/Images/silverstar.png" />
                                        <img ng-click="showRatingColor(3,question)" ng-src="{{ indexArray.indexOf(3) > -1 ? 'Images/redstar.png' : 'Images/silverstar.png' }}" class="ratingStarThree" src="~/Images/silverstar.png" />
                                        <img ng-click="showRatingColor(4,question)" ng-src="{{ indexArray.indexOf(4) > -1 ? 'Images/redstar.png' : 'Images/silverstar.png' }}" class="ratingStarFour" src="~/Images/silverstar.png" />
                                        <img ng-click="showRatingColor(5,question)" ng-src="{{ indexArray.indexOf(5) > -1 ? 'Images/redstar.png' : 'Images/silverstar.png' }}" class="ratingStarFive" src="~/Images/silverstar.png" />
                                    </div>
                                    <div class="ratingFeedBack" ng-show="question.type == 'checkBoxTime'">
                                        <img ng-click="showRatingColor(1,question)" ng-src="{{ indexArray.indexOf(1) > -1 ? 'Images/redstar.png' : 'Images/silverstar.png' }}" class="ratingStarOne" src="~/Images/silverstar.png" />
                                        <img ng-click="showRatingColor(2,question)" ng-src="{{ indexArray.indexOf(2) > -1 ? 'Images/redstar.png' : 'Images/silverstar.png' }}" class="ratingStarTwo" src="~/Images/silverstar.png" />
                                        <img ng-click="showRatingColor(3,question)" ng-src="{{ indexArray.indexOf(3) > -1 ? 'Images/redstar.png' : 'Images/silverstar.png' }}" class="ratingStarThree" src="~/Images/silverstar.png" />
                                        <img ng-click="showRatingColor(4,question)" ng-src="{{ indexArray.indexOf(4) > -1 ? 'Images/redstar.png' : 'Images/silverstar.png' }}" class="ratingStarFour" src="~/Images/silverstar.png" />
                                        <img ng-click="showRatingColor(5,question)" ng-src="{{ indexArray.indexOf(5) > -1 ? 'Images/redstar.png' : 'Images/silverstar.png' }}" class="ratingStarFive" src="~/Images/silverstar.png" />
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="pageNavigateView"style="display:flex;">
                        <button type="button" style="margin: auto auto; margin-right: 45%; padding: 6px;background-color: white;color:#333;" class="signupButton fontClass btn btn-default" ng-click="loadSlideData(1)">Next</button>
                    </div>
                </div>
            </div>
            <div class="item fullWidthHeightClass">
                <div class="feedBackParent">
                    <img ng-click="feedBack.closeFeedBackPopup()" style="width: 15px;height: 15px;top:1%;right: 1%;bottom: 0;position: absolute;cursor:pointer;" title="Close" src="~/Images/cancel.png" />
                    <div class="feedBackLabel">
                        <h5 class="resetClass fontClass">FEEDBACK FORM</h5>
                    </div>
                    <div class="feedbackPanelCom">
                        <div class="questionBox" ng-repeat="question in displayArray">
                            <div class="questionBoxparentHide" ng-class="{ questionBoxparentShow : question.showLoad == true }">
                                <div class="questionLabel">
                                    <h5 class="resetClass fontClass">{{question.name}}</h5>
                                </div>
                                <div class="questionAnswer">
                                    <div class="" style="margin: auto;display:flex;width:95%;height:95%;" ng-show="question.type == 'radio'">
                                        <input style="margin: auto;" ng-checked="question.actionValue=='yes'" ng-true-value="'yes'" ng-model="question.actionValue" title="Yes" class="radioFeedBack" type="checkbox" unchecked>
                                        <input style="margin: auto;" ng-checked="question.actionValue=='no'" ng-true-value="'no'" ng-model="question.actionValue" title="No" class="radioFeedBack radioFeedBackNo" type="checkbox" unchecked>
                                        <input style="margin: auto;" ng-checked="question.actionValue=='na'" ng-true-value="'na'" ng-model="question.actionValue" title="Not Applicable" class="radioFeedBack radioFeedBackNotApplicable" type="checkbox" unchecked>
                                    </div>
                                    <textArea ng-show="question.type == 'textArea'" ng-model="question.actionValue" placeholder="Enter here Description" style="font-size:12px"></textArea>
                                    <div class="ratingFeedBack" ng-show="question.type == 'rating'">
                                        <img ng-click="showRatingColor(1,question)" ng-src="{{ indexArray.indexOf(1) > -1 ? 'Images/redstar.png' : 'Images/silverstar.png' }}" class="ratingStarOne" src="~/Images/silverstar.png" />
                                        <img ng-click="showRatingColor(2,question)" ng-src="{{ indexArray.indexOf(2) > -1 ? 'Images/redstar.png' : 'Images/silverstar.png' }}" class="ratingStarTwo" src="~/Images/silverstar.png" />
                                        <img ng-click="showRatingColor(3,question)" ng-src="{{ indexArray.indexOf(3) > -1 ? 'Images/redstar.png' : 'Images/silverstar.png' }}" class="ratingStarThree" src="~/Images/silverstar.png" />
                                        <img ng-click="showRatingColor(4,question)" ng-src="{{ indexArray.indexOf(4) > -1 ? 'Images/redstar.png' : 'Images/silverstar.png' }}" class="ratingStarFour" src="~/Images/silverstar.png" />
                                        <img ng-click="showRatingColor(5,question)" ng-src="{{ indexArray.indexOf(5) > -1 ? 'Images/redstar.png' : 'Images/silverstar.png' }}" class="ratingStarFive" src="~/Images/silverstar.png" />
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="pageNavigateView" style="display:flex;">
                        <button type="button" style="margin: auto auto; margin-right: 5%; padding: 6px;background-color: white;color:#333;" class="signupButton fontClass btn btn-default" ng-click="loadSlideData(0,true)">Previous</button>
                        <button type="button" style="margin: auto auto; margin-left: 0%; padding: 6px;" class="signupButton fontClass btn btn-default" ng-click="feedBack.sendFeedBackDetail();feedBack.formValue = '5'">Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Screen 5 -->
<div class="popupContainer" ng-class="{ coachThemeColor : role == 'Coach' , coacheeThemeColor : role == 'Coachee' , mentorThemeColor : role == 'Mentor' , menteeThemeColor : role == 'Mentee' }" ng-show="feedBack.formValue== '5'">
    <img ng-click="feedBack.closeFeedBackPopup()" style="width: 15px;height: 15px;top:1%;right: 1%;bottom: 0;position: absolute;cursor:pointer;" title="Close" src="~/Images/cancel.png" />
    <div class="fivePopupContainerOne">
        <div class="" style="float: left;display:flex; width: 100%;">
            <h1 style="margin: auto auto;margin-top: 6%;color: white;font-weight: 600;">THANK YOU</h1>
        </div>
        <div class="" style="float: left;display:flex; width: 100%;">
            <h5 style="margin: auto auto;font-size: 16px;color: white;">FOR YOUR FEEDBACK!</h5>
        </div>


    </div>
    <div class="fivePopupContainerTwo" style="height: 50%;">
        <img style="position:absolute;left: 46%;width: 60px;" src="~/Images/communication/moneyBag.png">
        <div class="" style="float: left;display:flex; width: 100%;height: 100%;">
            <div class="" style="border: 3px solid black;margin: auto auto;float: left;display:flex; width: 35%;height: 60%;margin-bottom: 6%;">
                <div class="" style="float: left; width: 100%;margin: auto auto;">
                    <h5 class="fontClass" style="font-size: 19px;text-align: center;font-weight: 500;">YOU HAVE EARNED</h5>
                    <h5 class="fontClass" style="font-size: 19px;text-align: center;font-weight: 700;font-weight: 700;margin: 2px;">{{rewardsPoints.balancePoints}} POINTS</h5>
                </div>
            </div>
        </div>
    </div>
    <div class="fivePopupContainerThree" style="height: 20%;">
        <div class="" style="float: left;width: 100%;height: 100%;">

            <div class="" style="float: left; width: 100%; display: flex;">
                <button type="button" style="margin: auto auto; margin-right: 10%; padding: 6px;width: 20%;" class="signupButton fontClass btn btn-default" ng-click="signupClick()">SHARE</button>
                <button type="button" style="margin: auto auto; margin-left: 0%; padding: 6px;width: 20%;" class="signupButton fontClass btn btn-default" ng-disabled="rewardsPoints.balancePoints < 10"  ng-click="feedBack.formValue = '6'">REDEEM POINTS</button>
            </div>

        </div>
    </div>
</div>

<!-- Screen 6 -->
<div class="popupContainer" ng-show="feedBack.formValue == '6'">
    <img ng-click="feedBack.closeFeedBackPopup()" style="width: 15px;height: 15px;top:1%;right: 1%;bottom: 0;position: absolute;cursor:pointer;" title="Close" src="~/Images/cancel.png" />
    <div class="fivePopupContainerOne" style="height:21%;">
        <div class="" style="float: left;display:flex; width: 100%;height: 100%;">
            <h5 style="margin: auto auto;font-size: 19px;">REDEEM POINTS</h5>
        </div>
    </div>
    <div class="fivePopupContainerTwo" style="height:30%;">
        <img style="position:absolute;left: 46%;width: 60px;" src="~/Images/communication/moneyBag.png">
        <div class="" style="float: left;display:flex; width: 100%;height: 100%;">

            <div class="" style="border: 3px solid black;margin: 6% auto;float: left;display:flex; width: 55%;height: 60%;">
                <div class="" style="float: left; width: 100%;margin: auto auto;">
                    <h5 class="fontClass" style="font-size: 22px;text-align: center;font-weight: 600;margin: 2px;">{{rewardsPoints.balancePoints}} POINTS</h5>
                </div>
            </div>
        </div>
    </div>
    <div class="fivePopupContainerThree" style="height: 49%;">
        <div class="" style="float: left;width: 100%;height: 100%;">
            <div class="" style="float: left; width: 100%; height: 60%;display: flex;">
                <div class="partSubOne" style="margin: auto auto;height: 100%;margin-right: 3%;">
                    <div class="" style="float: left;display: flex;width: 100%;height: 25%;">
                        <input type="radio" ng-model="redeemAction.actionName" value="GAME" name="rm" style="margin: auto auto;float: left;height: 30px;width: 20px;">
                    </div>
                    <div class="" style="float: left;display: flex;width: 100%;height: 30%;">
                        <img style="float: left;margin: auto;margin-right: 0;width: 35px;" src="~/Images/communication/moneyBag.png">
                        <h5 class="fontClass" style="font-size: 27px;text-align: center;font-weight: 600;margin: 6px auto;margin: auto;margin-left: 3%;width: 35px;">10</h5>
                    </div>
                    <div class="" style="float: left;display: flex;width: 100%;height: 30%;">
                        <h5 class="fontClass" style="font-size: 14px;text-align: center;font-weight: 600;margin: auto auto;">3 Brain Games</h5>
                    </div>
                </div>
                <div class="partSubTwo" style="margin: auto auto;height: 100%;">
                    <div class="" style="float: left;display: flex;width: 100%;height: 25%;">
                        <input type="radio" ng-model="redeemAction.actionName" value="PSR" name="rm" style="margin: auto auto;float: left;height: 30px;width: 20px;">
                    </div>
                    <div class="" style="float: left;display: flex;width: 100%;height: 30%;">
                        <img style="float: left;margin: auto;margin-right: 0;width: 35px;" src="~/Images/communication/moneyBag.png">
                        <h5 class="fontClass" style="font-size: 27px;text-align: center;font-weight: 600;margin: 6px auto;margin: auto;margin-left: 3%;width: 35px;">10</h5>
                    </div>
                    <div class="" style="float: left;display: flex;width: 100%;height: 30%;">
                        <h5 class="fontClass" style="font-size: 14px;text-align: center;font-weight: 600;margin: auto auto;cursor:help;" ng-click="feedBack.formValue='8'">PSR</h5>
                    </div>
                </div>
            </div>
            <div class="" style="float: left; width: 100%; display: flex;height: 40%;">
                <button type="button" style="border-radius: 0;background : #D72A1A; margin: auto auto; padding: 6px;font-size: 11px;color:white;" ng-disabled="rewardsPoints.balancePoints < 10"  ng-click="redeemPointsClick()" class="fontClass btn btn-default">REDEEM POINTS</button>
            </div>

        </div>
    </div>
</div>
<!-- Screen 8 -->

<div class="popupContainer" ng-show="feedBack.formValue == '8'">
    <img ng-click="feedBack.formValue = '6'" style="width: 15px;height: 15px;top:1%;right: 1%;bottom: 0;position: absolute;cursor:pointer;" title="Close" src="~/Images/cancel.png" />
    <div class="fivePopupContainerOne" style="height:21%;">
        <div class="" style="float: left;display:flex; width: 100%;height: 100%;">
            <h5 style="margin: auto auto;font-size: 19px;">PROFESSIONAL SOCIAL RESPONSIBILITY</h5>
        </div>
    </div>

    <img style="position:absolute;left: 46%;width: 60px;top:15%;" src="~/Images/tree_psr.png">
    <div class="fivePopupContainerTwo" style="height:64%;">

        <div class="" style="float: left;display:flex; width: 100%;height: 100%;">

            <div class="" style="border: 3px solid rgb(212,169,3);margin: auto;margin-top: 6%;float: left;display:flex; width: 78%;height: 81%;">
                <div class="" style="padding:20px;width: auto;float: left;overflow:auto;">
                    <p style="float: left;width: 100%;height: 100%;font-size: 14px; white-space: inherit;word-break: break-all;	margin: 0;">
                        LORUM OSSD GERIG GR REGIRE GB RGB RGB 4IGBREIGBREILGB IREGREILGRELIGBREIGB RIEGBREIGBREIGI UGB EG ERIUGB IBGS IREGBERG GREG ERGSE FGTERBRHTH BTFRSV ES FDV TGR E GFRG FV RTGFD GTH RGFE DG TYHRG EFDG GTRE F RED E E FE  DFS AD GREFG ERG REHGRBJKGB  REG ERG RGERJ GHRILU GRILU R.GFRG FV RTGFD GTH RGFE DG TYHRG EFDG GTRE F RED E E FE  DFS AD GREFG ERG REHGRBJKGB  REG ERG.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="" style="float: left; width: 100%; display: flex;height: 15%;">
        @*<button type="button" style="border-radius: 0;background : rgb(64,64,64); margin: auto auto; margin-right: 10%;padding: 3px; width: 20%;font-size: 11px;color:white;" ng-click="feedBack.formValue = '6'" class="fontClass btn btn-default">BACK</button>*@
        <button type="button" style="border-radius: 0;background : rgb(64,64,64); margin: auto auto; margin-left: 0; padding: 3px;width: 20%;font-size: 11px;color:white;" class="fontClass btn btn-default">SHARE</button>
    </div>

</div>
