<div class="parentBody" ng-controller="ksDashBoardCoachController">
    <div class="applicationTopStrip">
        <top-Main-Strip></top-Main-Strip>
    </div>
    <div class="applicationMiddleStripMain" style="height:85%;">
        <div class="middleLandingParent">
            <div class="landingPageStructure">
                
                <div class="centerCircleWithBoxShadow">

                </div>

            </div>
        </div>
    </div>
    <div class="applicationBottomStrip">
        <bottom-Main-Strip></bottom-Main-Strip>
    </div>
</div>