<div class="parentBody" ng-controller="ksHomePageController">   
    <div class="applicationTopStrip">
        <top-Main-Strip notification="false"></top-Main-Strip>
    </div>
    <div class="applicationMiddleStripMain" style="height:85%;">
        <div class="middleLandingParent">           
            <div class="landingPageStructure">    
                    @*<div class="lwpleftClassSlider" ng-class="{ lwpanimationleftClassSlider  :lwp == true}">
                        <div><h5 style="font-weight:bold">MENTORING AND COACHING</h5></div>
                        <div>
                            <h6>
                         
                                For the Professional and Individual who wants to Grow,  wants to transform career, wants to be better than Self or
                                wants to go ahead of Peers, KindleSpur provides a platform to define your own Value Creation Goals and
                                leverage the power of Mentoring and Coaching, to accelerate your achievement !
                            </h6>
                        </div>
                        <div>
                            <h6>
                                When an employee is able to unlock the immense potential s/he has, s/he grows and along with her, does the organisation.
                                The increasing significance of mentoring and coaching owes a lot to this pragmatic belief.
                            </h6>
                        </div>
                        <div>
                            <h6>
                                It makes me shade off my preconceived notions about myself and the environment I am in
                                It helps me set a definite and realistic goal
                                It prepares me for the desirable change/s to meet that goal
                                In the process, I grow as a better person, more open, more confident and of course, more successful than I was before
                            </h6>
                        </div>
                        <div>
                            <h6>
                                The Mentor-Mentee or Coach-Coachee are Unique relationships and the beauty of these relationships is that,
                                these are always mutually nurturing and rewarding !


                            </h6>
                        </div>

                    </div>*@
                    @*<div class="barLandingPage">
                        <svg height='100%' width='100%' viewBox='0 0 100 100' preserveAspectRatio='xMidYMin meet'>
                            <defs>
                                <linearGradient id='gradw'>
                                    <stop stop-color='black' />
                                    <stop offset='100%' stop-color='magenta' />
                                </linearGradient>
                            </defs>
                            <line id='line2' x1='95' y1='5' x2='5' y2='95' />
                        </svg>
                    </div>*@
                    <div class="defaultcentral" ng-class="{showpopup  :lwp == true}"></div>
                    <div class="mentoringStatusClass" ng-mouseleave="lwp=false;" ng-mouseover="lwp=true;" ng-click="loadMentoringView()">
                        <h5 class="mentoringStatusLable">MENTORING AND COACHING</h5>
                        <img class="mentoringStatusImg" ng-src="{{ lwp == true ? 'Images/doorEntryRed.png' : 'Images/doorEntry.png' }}" src="~/Images/doorEntry.png" />
                    </div>
                    <div class="defaultlwpcentral" ng-class="{shownewpopup  :lwp2 == true}"></div>               
                    <div class="vcsPanelClass" ng-click="loadVcsView()" ng-mouseleave="lwp2=false;" ng-mouseover="lwp2=true;">
                        <img class="vcsPanelImg" style="width: 135px;" ng-src="{{ lwp2 == true ? 'Images/coaching 2.png' : 'Images/gameConsole.png' }}" />
                        <h5 class="vcsPanelLable" style="">THE VALUE CREATION GAME</h5>
                    </div>           
                    @*<div class="defaultClassSlider" ng-class="{animationClassSlider  :lwp2 == true }">
                        <div>
                            <div><h5 style="font-weight:bold">THE VALUE CREATION GAME</h5></div>
                            <h6>
                           
                                For the Professional and Individual who wants to Grow,  wants to transform career, wants to be better than Self or
                                wants to go ahead of Peers, KindleSpur provides a platform to define your own Value Creation Goals and
                                leverage the power of Mentoring and Coaching, to accelerate your achievement !
                            </h6>
                        </div>
                        <div>
                            <h6>
                           
                                Is this an expectation that you often face as a professional or individual ?

                            </h6>
                        </div>

                        <div>
                            <h6>
                                Value Addition is the most frequently faced ‘expectation’ by Professionals and Other Individuals across the globe today !
                                AND Yet, most people struggle to understand, to do value addition means to do What and How.
                                How do I define what value I will create/ add, how do I measure it and how do I get appreciation for it ?
                            </h6>
                        </div>
                        <div>
                            <h6>
                                Select the areas of Impact where you want to create/ add value
                                Measure and track it using regular scoring by Self, Supervisors, Customers, Peers and Sub-ordinates
                                Generate and Share Your Value Creation dashboard to get recognition and appreciation

                            </h6>
                        </div>
                        <div>
                        </div>
                </div>*@
             </div>
         </div>
    </div>
    <div class="applicationBottomStrip">
        <bottom-Main-Strip></bottom-Main-Strip>
    </div>
</div>