<div class="parentBody" ng-controller="ksHomePageController">   
        <div class="middleLandingParent">           
            <div class="landingPageStructure">    
                    
                    <div class="barLandingPage">
                        <img style="float: left;height: 100%;width: 62%;" src="~/Images/1.png" />
                    </div>
                    <div class="defaultcentral" ng-class="{showpopup  :lwp == true}"></div>
                    <div class="mentoringStatusClass fontClass" id="popoverOption" ng-mouseover="fff()" rel="popover" data-placement="left" data-original-title="MENTORING AND COACHING" data-trigger="hover" data-content="For the Professional and Individual who wants to Grow,  wants to transform career, wants to be better than Self or wants to go ahead of Peers, KindleSpur provides a platform to define your own Value Creation Goals and leverage the power of Mentoring and Coaching, to accelerate your achievement !" ng-click="loadMentoringView()">
                        <h5 class="mentoringStatusLable fontClass">MENTORING AND COACHING</h5>
                        <img class="mentoringStatusImg" ng-src="{{'Images/doorEntry.png' }}"/>
                    </div>
                    <div class="defaultlwpcentral" ng-class="{shownewpopup  :lwp2 == true}"></div>               
                    <div class="vcsPanelClass fontClass" ng-click="loadVcsView()"  id="popoverOption1" ng-mouseover="fff()" rel="popover" data-placement="right" data-original-title="THE VALUE CREATION GAME" data-trigger="hover" data-content="For the Professional and Individual who wants to Grow,  wants to transform career, wants to be better than Self or wants to go ahead of Peers, KindleSpur provides a platform to define your own Value Creation Goals and leverage the power of Mentoring and Coaching, to accelerate your achievement !">
                        <img class="vcsPanelImg" ng-src= "{{'Images/gameConsole.png' }}" />
                        <h5 class="vcsPanelLable fontClass">THE VALUE CREATION GAME</h5>
                    </div>           
                 
             </div>
         </div>
</div>