<div class="parentBody" style="display:flex;" ng-controller="monthlyParent">
    <monthly module-Name="Calendar" style="margin:auto;float:left;width:70%;height:100%;position: relative;border-right: 1px solid #ddd;"></monthly>
</div>
