<div ng-show='feedBack.redeemPoint' class="feedbackPanel" style="height: 75%;">
    <!-- Screen 6 -->
    <div class="popupContainer" style="background-color  :#F8C301;" ng-show="feedBack.formValue == '1'">
        <img ng-click="feedBack.closeFeedBackPopup()" style="width: 15px;height: 15px;top:1%;right: 1%;bottom: 0;position: absolute;cursor:pointer;" title="Close" src="~/Images/cancel.png" />
        <div class="fivePopupContainerOne" style="height:21%;">
            <div class="" style="float: left;display:flex; width: 100%;height: 100%;">
                <h5 style="margin: auto auto;font-size: 19px;">REDEEM POINTS</h5>
            </div>
        </div>
        <div class="fivePopupContainerTwo" style="height:30%;">
            @*<img style="position:absolute;left: 4%;width: 100%;margin-top:-22%;" src="~/Images/communication/moneyBag.png">*@
            <div class="" style="float: left;display:flex; width: 100%;height: 100%;">

                <div class="" style="border: 3px solid black;margin: 6% auto;float: left;display:flex; width: 55%;height: 60%;">
                    <div class="" style="float: left; width: 100%;margin: auto auto;">
                        <h5 class="fontClass" style="font-size: 22px;text-align: center;font-weight: 600;margin: 2px;">{{rewardsPoints.balancePoints}} POINTS</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="fivePopupContainerThree" style="height: 49%;">
            <div class="" style="float: left;width: 100%;height: 100%;">
                <div class="" style="float: left; width: 100%; height: 60%;">
                    <div class="partSubOne" style="float: left;height :100%;width: 12%;"></div>
                    <div class="partSubOne" style="float: left;height :100%;width: 40%;">
                        <div class="" style="float: left;display: flex;width: 100%;height: 25%;">
                            <input type="radio" ng-model="feedBack.redeemAction.actionName" value="GAME" name="rm" style="margin: auto auto;float: left;height: 30px;width: 20px;">
                        </div>
                        <div class="" style="float: left;display: flex;width: 100%;height: 30%;">
                            <img style="float: left;margin: auto;margin-right: 0;width: 15%;margin-top: 0%;" src="~/Images/gamepad.png" />
                            <h5 class="fontClass" style="font-size: 27px;text-align: center;font-weight: 600;margin: 6px auto;margin: auto;margin-left: 3%;width: 35px;">10</h5>
                        </div>
                        <div class="" style="float: left;display: flex;width: 100%;height: 30%;">
                            <h5 class="fontClass" style="font-size: 14px;text-align: center;font-weight: 600;margin: auto auto;">Brain Games</h5>
                        </div>
                    </div>
                    <div class="partSubTwo" style="float: left;height :100%;width: 40%;">
                        <div class="" style="float: left;display: flex;width: 100%;height: 25%;">
                            <input type="radio" ng-model="feedBack.redeemAction.actionName" value="PSR" name="rm" style="margin: auto auto;float: left;height: 30px;width: 20px;">
                        </div>
                        <div class="" style="float: left;display: flex;width: 100%;height: 30%;">
                            <img style="float: left;margin: auto;width: 30px; height: 38px;margin-right: 0;" src="~/Images/girlchild.png" />
                            <h5 class="fontClass" style="font-size: 27px;text-align: center;font-weight: 600;margin: 6px auto;margin: auto;margin-left: 3%;width: 35px;">10</h5>
                        </div>
                        <div class="" style="float: left;display: flex;width: 100%;height: 30%;">
                            <h5 class="fontClass" style="cursor: help;font-size: 14px;text-align: center;font-weight: 600;margin: auto auto;" ng-click="feedBack.formValue='2'">PSR</h5>
                        </div>
                    </div>
                </div>
                <div class="" style="float: left; width: 100%; display: flex;height: 40%;">
                    <button type="button" style="border-radius: 0;background : #D72A1A; margin: auto auto; padding: 6px;font-size: 11px;color:white;" ng-disabled="rewardsPoints.balancePoints < 10" ng-click="feedBack.redeemPointsClick()" class="fontClass btn btn-default">REDEEM POINTS</button>
                </div>

            </div>
        </div>
    </div>
    <div class="popupContainer" style="background-color  :#F8C301;" ng-show="feedBack.formValue == '2'">
        <img ng-click="feedBack.formValue = '1'" style="width: 15px;height: 15px;top:1%;right: 1%;bottom: 0;position: absolute;cursor:pointer;" title="Close" src="~/Images/cancel.png" />
        <div class="fivePopupContainerOne" style="height:21%;">
            <div class="" style="float: left;display:flex; width: 100%;height: 100%;">
                <h5 style="margin: auto auto;font-size: 19px;">PERSONAL SOCIAL RESPONSIBILITY</h5>
            </div>
        </div>

        <img style="position:absolute;left: 45%;width: 52px;top:15%;height: 62px;" src="~/Images/girlchild.png">
        <div class="fivePopupContainerTwo" style="height:64%;">

            <div class="" style="float: left;display:flex; width: 100%;height: 100%;">

                <div class="" style="border: 3px solid rgb(212,169,3);margin: auto;margin-top: 6%;float: left;display:flex; width: 78%;height: 81%;">
                    <div class="" style="padding:20px;width: auto;float: left;overflow:auto;">
                        <p style="float: left;width: 100%;height: 100%;font-size: 14px; white-space: inherit;word-break: break-all;	margin: 0;">
                            Personal Social Responsibility (PSR) is an intiative by KindleSpur. The number of points you decide to redeem for PSR, KindleSPur in turn will

                            convert that into rupees and donate it towards "Girl Child Education".

                            You will receive an acknoweledgement of the donation done.

                            We urge all the users of KindleSpur platform to redeem as many points as you can.

                            How will you earn maximum points? - By giving feedback your mentor/mentee/coach/coachee during your mentoring/coaching sessions.

                            We look forward for a huge response from you all!!
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="" style="float: left; width: 100%; display: flex;height: 15%;">
            @*<button type="button" style="border-radius: 0;background : rgb(64,64,64); margin: auto auto; margin-right: 10%;padding: 3px; width: 20%;font-size: 11px;color:white;" ng-click="feedBack.formValue = '6'" class="fontClass btn btn-default">BACK</button>*@
            <button type="button" style="border-radius: 0;background : rgb(64,64,64); margin: auto auto; padding: 3px;width: 20%;font-size: 11px;color:white;" class="fontClass btn btn-default">SHARE</button>
        </div>
    </div>
</div>

<div class="myRewardsPoints" ng-style="{'transition':'all 0.8s ease','overflow' : 'hidden', 'height':  gridViewLoaded == true ? '0%' : '50%'}">
    <div class="homeLabelInChat" style="display: flex;height:7%;" ng-style="{ 'transition':'all 0.8s ease','overflow' : 'hidden','height':  gridViewLoaded == true ? '0%' : '15%'}">
        <h5 class="fontClass" style="font-size: 16px;margin: auto; margin-left: 1%;">MY REWARDS</h5>
    </div>

    <div class="pointStatusParents" ng-style="{'transition':'all 0.8s ease','overflow' : 'hidden', 'height':  gridViewLoaded == true ? '0%' : '85%'}">
        <div class="rewardsPointsPanel" style="height: 100%;">
            <div class="progressReport">
                <img style="float: left;width: 140px;margin: auto;height: 100%;" src="~/Images/pointStatusPanel.png" />

            </div>
            <div class="rewardPointRecord">
                <div class="countRecordPartOne">
                    <div class="totalPointsPanel">
                        <h5 class="fontClass" style="float: left;font-size: 40px;color: orange;">{{rewardsPoints.totalPoints}}</h5>
                        <h5 class="fontClass" style="float: left;font-size: 17px;text-align: center;width: 50%;color: lightgray;">TOTAL POINTS</h5>
                    </div>
                    <div class="redeemedPointsPanel">
                        <h5 class="fontClass" style="float: left;font-size: 40px;color: green;">{{rewardsPoints.redeemedPoints}}</h5>
                        <h5 class="fontClass" style="float: left;font-size: 17px;text-align: center;width: 50%;color: lightgray;">REDEEMED POINTS</h5>
                    </div>
                    <div class="balancePointsPanel">
                        <h5 class="fontClass" style="float: left;font-size: 40px;color: skyblue;">{{rewardsPoints.balancePoints}}</h5>
                        <h5 class="fontClass" style="float: left;font-size: 17px;text-align: center;width: 50%;color: lightgray;">BALANCE POINTS</h5>
                    </div>
                </div>
                <div class="countRecordPartTwo">
                    <div class="roleNamePointStatus">
                        <div class="rolesPointStatus mentorThemeColor">
                            <h5 class="fontClass roleLabelPointStatus">MENTOR</h5>
                        </div>
                        <h5 class="fontClass" style="float: left;text-align: center;width: 100%;margin-top:15px;">{{rewardsPoints.mentorPoints}}</h5>
                    </div>
                    <div class="roleNamePointStatus">
                        <div class="rolesPointStatus coachThemeColor">
                            <h5 class="fontClass roleLabelPointStatus">COACH</h5>
                        </div>
                        <h5 class="fontClass" style="float: left;text-align: center;width: 100%;margin-top:15px;">{{rewardsPoints.coachPoints}}</h5>
                    </div>
                    <div class="roleNamePointStatus">
                        <div class="rolesPointStatus menteeThemeColor">
                            <h5 class="fontClass roleLabelPointStatus">MENTEE</h5>
                        </div>
                        <h5 class="fontClass" style="float: left;text-align: center;width: 100%;margin-top:15px;">{{rewardsPoints.menteePoints}}</h5>
                    </div>
                    <div class="roleNamePointStatus">
                        <div class="rolesPointStatus coacheeThemeColor">
                            <h5 class="fontClass roleLabelPointStatus">COACHEE</h5>
                        </div>
                        <h5 class="fontClass" style="float: left;text-align: center;width: 100%;margin-top:15px;">{{rewardsPoints.coacheePoints}}</h5>
                    </div>
                    <div class="roleNamePointStatus">
                        <div class="rolesPointStatus" style="background:#2dc3e8;">
                            <h5 class="fontClass roleLabelPointStatus">INVITE</h5>
                        </div>
                        <h5 class="fontClass" style="float: left;text-align: center;width: 100%;margin-top:15px;">{{rewardsPoints.invitePoints}}</h5>
                    </div>

                </div>
                <div class="countRecordPartThree">
                    <button type="button" ng-disabled="rewardsPoints.balancePoints < 10" style="width: 70px;height:30px 0;background : #D72A1A; margin: auto auto; padding: 3px;font-size: 11px;color:white;" class="fontClass btn btn-default signupButton" ng-click="feedBack.openRedeemPanel()">REDEEM</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div ng-init="gridViewLoaded= false"class="myRewardsPoints" ng-style="{ 'transition':'all 0.8s ease','overflow' : 'hidden', 'height':  gridViewLoaded == true ? '100%' : '50%'}">
    <div class="homeLabelInChat" style="display: flex;height:15%;border-bottom: 1px solid lightgray;" ng-style="{'transition':'all 0.8s ease', 'overflow' : 'hidden', 'height':  gridViewLoaded == true ? '7%' : '15%'}">
        <h5 class="fontClass" style="font-size: 16px;margin: auto; margin-left: 1%;">REDEEMED CARDS</h5>
        <img ng-class="{ rotateIconDownWord : gridViewLoaded == true,rotateIconupWord :  gridViewLoaded == false,}" style="width:35px;height : 35px;float:right;margin: auto auto;margin-right: 0;border-radius: 30px;padding: 5px;cursor:pointer;" ng-click="gridViewLoaded =! gridViewLoaded;" src="~/Images/left_circle.png" />
    </div>
    <div class="myRewardsPointParent" style="height:85%;" ng-style="{'transition':'all 0.8s ease','height':  gridViewLoaded == true ? '93%' : '85%'}">
        <div ng-show="rewardsPoints.myRewardsArray.length >0" class="myRewardsPointRepeatParent" ng-class="{ psrRewardColor : myRewards.PSR == true}" ng-repeat="myRewards in rewardsPoints.myRewardsArray">
            <div class="medalIconsMyReward">
                <img ng-show="myRewards.PSR == true" style="float: left;height: 100%;" src="~/Images/psrPlant.png">
                <img style="float: right;height: 100%;width:50%" src="~/Images/normalMedal.png">
                <img ng-show="myRewards.PSR == false" style="float: right;height: 56%;width: 27%;margin-right: 21%; margin-top: 7%;" src="~/Images/icons/Game2.png">
            </div>
            <div class="rewardsLabelDivMyReward">
                <h5 class="fontClass" style="margin: auto auto;margin-left:0;font-size: 16px;font-weight: 600;">{{myRewards.Name}}</h5>
            </div>
            <div class="rewardsDateDivMyReward">
                <div class="unlockParent">
                    <h5 ng-show="myRewards.PSR == false" class="fontClass" style="margin: auto auto;margin-left:0;font-size: 9px;">Unlock Date</h5>
                    <h5 ng-show="myRewards.PSR == true" class="fontClass" style="margin: auto auto;margin-left:0;font-size: 9px;">Request Date</h5>
                    <h5 class="fontClass" style="margin: auto auto;margin-left:0;font-size: 12px;font-weight: 600;margin-top: 4%;">{{myRewards.date}}</h5>
                </div>
                <div class="unlockParent" style="float:right;width:40%;">
                    <h5 ng-show="myRewards.PSR == false" class="fontClass" style="margin: auto auto;margin-left:0;font-size: 9px;">Unlock Key</h5>
                    <h5 ng-show="myRewards.PSR == false"  class="fontClass" style="margin: auto auto;margin-left:0;font-size: 12px;font-weight: 600;margin-top: 4%;">{{myRewards.Key}}</h5>
                </div>

            </div>
            <div ng-show="myRewards.PSR == false" class="rewardsDateDivMyReward">
                <h5 class="fontClass genericPointerClass" ng-click="loadFeedOnNextTab('http://www.brainhq.com/')" style="margin: auto auto;margin-left:0;font-size: 9px;">http://www.brainhq.com/</h5>
            </div>

        </div>
        <div ng-show="rewardsPoints.myRewardsArray.length == 0" class="topicHeadingPlaceholdr">
            <h5 style="color:gray;margin: auto;font-size: 14px;" class="leftSideMenuLable fontClass">
                No Rewards
            </h5>
        </div>
    </div>
</div>