<div class="parentBody" ng-controller="ksStateHomeController">
    <div style="position:absolute;z-index:1;" class="hiddenErrorNotificationClass" ng-class="{ 'showErrorNotificationClass' : displayAlert.showAlert  == true}">
        <div class="alert-message success" ng-show="displayAlert.formatType == '1'">
            <p class="alert-message1">{{displayAlert.message}}</p>
            <h5 class="close" ng-click="displayAlert.showAlert = false">×</h5>
        </div>
        @*Green*@

        <div class="alert-message error" ng-show="displayAlert.formatType == '2'">
            <p class="alert-message1">{{displayAlert.message}}</p>
            <h5 class="close" ng-click="displayAlert.showAlert = false">×</h5>

        </div>
        @*red*@
    </div>
    <div class="newApplicationStripInvitation" ng-init="load=false" ng-class="{ AminationStrip : load == true }">
        <div class="roundedCornerShape" ng-click="load=!load;invitation={}">
            <img ng-hide="load" src="~/Images/Mail_Send_Email_Envelope.png" />
            <img ng-show="load" src="~/Images/cancelWhiteIcon.png" />
        </div>
        <div ng-if="true" class="stripInvitationBody">
            <div class="headingInvitation">
                <h5 style="float: left;margin: auto;color: #333333;">INVITE A FRIEND</h5>
            </div>
            <div class="middleMainBody">
                <div style="float: left;width: 100%;display: flex;height: 30%;">
                    <input class="inputTagStyle fontClass" style="font-size: 13px;margin: auto;padding:5px;width: 80%;" type="text" ng-model="invitation.email" ng-keyup="checkEmailValidation({ event : $event, email : invitation.email, otherCall : false })" placeholder="Enter email addresses" ng-required />
                </div>
                <div style="float: left;width: 100%;display: flex;height: 70%;">
                    <textArea class="fontClass" style="padding: 5px;margin: auto;resize: none; font-size: 13px;height: 87%;width: 80%;" placeholder="Invite your friends to Grow Knowledge and Get Rewarded!" ng-model="invitation.description"></textArea>
                </div>
            </div>
            <div class="buttonSubmit">
                <button type="button" ng-click="sendInvitation($event)" style="margin: auto;width: 20%;padding: 0%;height: 22px;font-size: 9px;" class="signupButton fontClass btn btn-default">SEND</button>
            </div>
        </div>
    </div>
    <div ng-click="$event.stopPropagation();" class="defaultProfileContainClass" ng-class="{ loadProfileContain : uiFlag.loadProfileView == true}">
        <div class="profileImageNameTagClass" >
            <div style="float:left;width:100%;height:20%;display: flex;text-align: center;">
                <h5 style="font-size: 19px;margin: auto;margin-bottom: 0%;width: 85%;font-weight: 700;color: rebeccapurple;" class="leftSideMenuLable fontClass eliipsisClass">WELCOME</h5>
            </div>
            <div class="imageConversation" style="width:100%;height: 45%;">
                <img style="border: 5px solid white;margin:auto auto;margin-bottom: 0;width: 80px;height: 80px;border-radius: 50%;" ng-src="{{loggedDetail.Photo ?  loggedDetail.Photo  : '../../../Images/icons/If no Profile photo.png'}}" />
            </div>
            <div class="profileNamePart fontClass" style="cursor: default;height: 20%;width:100%;display: flex;padding: 0;border-bottom: 2px solid;">              
                <div style="margin:auto auto;width:100%;height:80%;">
                    <div style="float:left;width:100%;height:60%;display: flex;text-align: center;">
                        <h5 style="font-size: 19px;margin: auto;margin-bottom: 0%;width: 85%;" class="leftSideMenuLable fontClass eliipsisClass">{{(loggedDetail.FirstName) | uppercase }}</h5>
                    </div>
                    <div style="float:left;width:100%;height:40%;display: flex;text-align: center;">
                        <h5 style="font-size: 11px;margin: auto;width: 93%;" class="leftSideMenuLable fontClass eliipsisClass">{{(loggedDetail.EmailAddress)}}</h5>
                    </div>                      
                 </div>
            </div>
            <div class="profileNamePart fontClass" style="height: 15%;width:100%;display: flex;padding: 0;">
                <h5 style="font-size: 13px;margin: auto;" ng-click="$event.stopPropagation();uiFlag.loadProfileView = false;extraParam.profile($event)" class="leftSideMenuLable fontClass eliipsisClass genericPointerClass">PROFILE</h5>
                <h5 style="font-size: 13px;margin: auto;" ng-click="$event.stopPropagation();uiFlag.loadProfileView = false;extraParam.logout($event)" class="leftSideMenuLable fontClass eliipsisClass genericPointerClass">LOGOUT</h5>
            </div>
        </div>
    </div>
    <div ng-click="uiFlag.loadBottomContain=false;" ng-class="{ loadBottomContain : uiFlag.loadBottomContain == true}" style="overflow: hidden;display:none; position:absolute;width:100%;height:100%;">
        <div class="aboutUsParent"> 

        </div>
    </div>
    <div ng-click="uiFlag.loadRepository=false;uiFlag.loadModule = null" ng-class="{ loadRepository : uiFlag.loadRepository == true}" style="overflow: hidden;display:none; position:absolute;width:100%;height:100%;">
        <div class="fullWidthHeightClass" style="display: flex;" ng-click="$event.stopPropagation()">
            <common-Repository ng-if="uiFlag.loadModule == 'Attachment'" extra-Param="extraParam" style="width:75%;height:85%;margin:auto;"></common-Repository>
            <schedule-Meeting  ng-if="uiFlag.loadModule == 'Meeting'"  extra-Param="extraParam" style="width:50%;height:60%;margin:auto;"></schedule-Meeting>
        </div>
    </div>
    <div class="applicationTopStrip" ui-view="topMainPanel"></div>
    <div class="applicationMiddleStrip" ui-view="mainBody"></div>
    <div class="applicationBottomStrip" ui-view="bottomPanel"></div>
</div>
