<div class="parentBody" ng-controller="ksProfileController">
    <div class="applicationTopStrip"></div>
    <div class="applicationMiddleStrip">
        <div class="applicationProfilePanel" style="position : relative;width  	 : 100%;height 	 : 100%;float  	 : left;">
            <div class="profileBackgroundImageParent" style="background:gray;">
                <!--displayBackgroundImage over here -->
                <div class="profileDetailsPickerParent">
                    <div class="profilePicker">
                        <img ng-click="triggerUpload('orgImage','orgImageInput')" style="width: 20px; height: 20px; float: right;margin: 1% auto;margin-right: 1%;" id="orgImage" src="~/Images/camera.png" />
                        <input type="file" onchange="angular.element(this).scope().uploadFileFunction()" ng-model="acceptedFile" style="display: none" id="fileInputIdRv" name="filedata" />
                    </div>
                    <div class="profileDetails" style="background: white;">
                        <div class="profileImageParent">
                            <div class="profileImageProfile" style="width: 85%;height: 82%;">
                                <img  ng-click="triggerUpload('orgImage','orgImageInput')" style="width: 20px; height: 20px; background: white;float: right;margin: 1% auto;margin-right: 1%;" id="orgImage"  src="~/Images/camera.png" />
                                <input type="file" onchange="angular.element(this).scope().uploadFileFunction()" ng-model="acceptedFile" style="display: none" id="fileInputIdRv" name="filedata" />
                            </div>
                        </div>
                        <div class="profileDetailsParent">
                            <div ng-init="editModeProfile = false"class="profileDetailsParents">
                               
                                <img ng-click="editModeProfile = true" ng-hide="editModeProfile" style="width: 15px;float: right;height: 15px;background: white;margin: auto 0;margin-left: 1%;right: 2%;position: absolute;" src="~/Images/edit_Icon.png" />
                                <div ng-hide="editModeProfile" class="userNameProfile">
                                    <h3 style="font-weight:bold;float:left;width:auto;max-width:100%;margin: auto 0;">{{ myInfo.firstName+" "+myInfo.lastName }}</h3>
                                </div>
                                <div ng-show="editModeProfile" class="userNameProfile">
                                    <div style="margin : 0;" class="formDetails">
                                        <input style="padding:2px;" ng-model="myInfo.firstName" class="inputTagStyle fontClass widthForFirstNameProfile" type="text" placeholder="FIRST NAME" />
                                        <input ng-model="myInfo.lastName" class="inputTagStyle widthForFirstNameProfile fontClass" style="padding:2px;margin-left: 2%;" type="text" placeholder="LAST NAME" />
                                    </div>
                                </div>
                                @*<div ng-hide="editModeProfile" class="designationProfile">
        <h4 style="color: #333333;float:left;width:auto;max-width:50%;text-overflow:ellipsis;margin: auto 0;">Software Developer at LWP</h4>
        <img style="width: 20px;float: left;height: 20px;background: white;margin: auto 0;margin-left: 1%;" ng-src="{{organisation}}" ng-click="editDesignation = true">
    </div>
    <div ng-show="editModeProfile" class="designationProfile">

        <div style="margin: auto 0;" class="formDetails">
            <input style="padding:0;" class="inputTagStyle fontClass widthForFirstNameProfile" type="text" placeholder="Designation" />
            <input class="inputTagStyle widthForFirstNameProfile fontClass" style="padding:0;margin-left: 2%;" type="text" placeholder="Company Name" />

        </div>
    </div>*@
                                <div class="emailmobileProfile">
                                    <div class="subParentEmailMobile">
                                        <div style="float: left;width: 100%;height: 25px;display: flex;">
                                            <h5 style="float: left;width: 15%;margin: auto 0;color: #333333;">Email</h5>
                                            <h5 style="float: left;width: auto;max-width: 30%;text-overflow: ellipsis;margin: auto 0;color: #333333;">test@user.com</h5>
                                        </div>
                                        <div style="float: left;width: 100%;height: 25px;display: flex;">
                                            <h5 style="float: left;width: 15%;margin: auto 0;color: #333333;">Mobile</h5>
                                            <h5 ng-hide="editModeProfile" style="float: left;width: auto;max-width: 30%;text-overflow: ellipsis;margin: auto 0;color: #333333;">+91 {{myInfo.mobileNumber}}</h5>
                                            
                                            <input ng-show="editModeProfile" ng-model="myInfo.mobileNumber" class="inputTagStyle widthForFirstNameProfile fontClass" style="padding:5px;width: 16%;" type="text" placeholder="Mobile Number" />
                                        </div>
                                    </div>

                                </div>
                                <div class="linkedInLinkProfile">
                                    
                                    <img style="width: 20px;float: left;height: 20px;background: white;margin: auto 0;" src="~/Images/linkedin_square_gray.png" />
                                    <h5 ng-hide="editModeProfile" style="float: left;margin: auto 0;color: #333333;margin-left: 1%;">{{myInfo.linkedInLink}}</h5>
                                    <input ng-show="editModeProfile"  ng-model="myInfo.linkedInLink" class="inputTagStyle widthForFirstNameProfile fontClass" style="padding:5px; float: left;margin: auto 0;color: #333333;margin-left: 1%;" type="text" placeholder="linkedIn link" />
                                </div>
                                <img ng-click="editModeProfile = false" ng-show="editModeProfile" style="width: 15px;float: right;height: 15px;background: white;margin: auto 0;margin-left: 1%;right: 2%;bottom: 0;position: absolute;" title="Cancel" src="~/Images/cancel.png" />
                                <img ng-click="sendDetailsToServer()"  ng-show="editModeProfile" style="width: 15px;float: right;height: 15px;background: white;margin: auto 0;margin-left: 1%;right: 7%;bottom: 0;position: absolute;" title="Save"  src="~/Images/save.png" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="profileDescSkillParent">
                <div class="descriptionProfileParent">
                    <div class="descriptionLabel">
                        <div class="descriptionLabelParent">
                            <h5 class="descHeading">Brief Description</h5>
                            <img style="width: 15px;float: left;height: 15px;background: white;margin: auto 0;margin-left: 1%;" src="~/Images/edit_Icon.png" ng-click="editDescription =! editDescription">
                        </div>
                    </div>
                    <div ng-init="editDescription = false" class="descriptionLabelMessage">
                        <p ng-hide="editDescription" class="descriptionMessage">
                            {{myInfo.description}}
                        </p>
                        <div class="descriptionMessage" style="height: 100%;" ng-show="editDescription">
                            <textArea style="resize: none;     font-size: 13px;   height: 80%;width: 100%;" ng-model="myInfo.description"></textArea>
                            <img ng-click="editDescription = false" style="width: 15px;float: right;height: 15px;margin: auto 0;margin-left: 1%;right: 2%;bottom: 0;" title="Cancel" src="~/Images/cancel.png" />
                            <img ng-click="sendDescDetailsToServer()" style="width: 15px;float: right;height: 15px;margin: auto 0;margin-left: 1%;right: 7%;bottom: 0;" title="Save" src="~/Images/save.png" />
                        </div>
                </div>
                <div class="skillsProfileParent">
                    <div class="descriptionLabel">
                        <div class="descriptionLabelParent">
                            <h5 class="descHeading">Skills</h5>
                            <img style="width: 15px;float: left;height: 15px;background: white;margin: auto 0;margin-left: 1%;" src="~/Images/edit_Icon.png">
                        </div>
                    </div>
                    <div class="skillParent">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>