<div class="parentBody">
    <div class="applicationTopStrip">
        <top-Main-Strip></top-Main-Strip>
    </div>
    <div class="applicationMiddleStrip">
        <profile-Page user-Info="loggedDetail" edit-Required="true"></profile-Page>
    </div>
</div>

