    <div style="background-color:white;margin:auto;width:74%;height:94%;overflow:scroll;">
        <div style="display:flex;"><img style="height: 4%; width: 11%; margin: auto; margin: 6px 0px 0px 14px;" src="~/Images/icons/kindlespurlogo.png" /></div>
        <div style="padding:0px 2px 2px 2px">
            <div><h1 style="padding:7px 0px 9px 8px;background-color:#e15049;">Privacy Policy</h1></div>
            <div style="text-align:center;margin-bottom: 17px;">
            </div>
        </div>
        <br />
        <div style="width:95%;height:100%;margin: 0px 0px 0px 39px;font-size: 12px;">
            <div>
                This privacy policy sets out how RIIT uses and protects any information that you provide to RIIT when you use this website.
            </div>
            <div>RIIT is committed to ensuring that your privacy is protected. Should we ask you to provide certain information by which you can be identified when using this website, then you can be assured that it will only be used in accordance with this privacy statement.</div>
            <div> RIIT may change this policy from time to time by updating this page. You should check this page from time to time to ensure that you are happy with any changes. This policy is revised and effective from 01/08/2016. </div>
            <div>
                <span style="font-weight:bold">What we collect:</span>We may collect the following information
            </div>

            <div style="display:inline-flex">
                <div><h6 style="border-radius:15%;border:3px solid;color:black;width:2%;"></h6></div>&nbsp;&nbsp;
                <div><h6>Name</h6></div>
            </div>
            <br />
            <div style="display:inline-flex">
                <div><h6 style="border-radius:15%;border:3px solid;color:black;width:2%;"></h6></div>&nbsp;&nbsp;
                <div><h6>Contact Information including email address</h6></div>
            </div>
            <br />
            <div style="display:inline-flex">
                <div><h6 style="border-radius:15%;border:3px solid;color:black;width:2%;"></h6></div>&nbsp;&nbsp;
                <div><h6>Demographic Information such as, preferences and interests (Category, Topic, Skill)</h6></div>
            </div>
            <br />
            <div style="display:inline-flex">
                <div><h6 style="border-radius:15%;border:3px solid;color:black;width:2%;"></h6></div>&nbsp;&nbsp;
                <div><h6>Other Information relevant to service enquiry, feedbacks</h6></div>
            </div>

            <div><span style="font-weight:bold;">What we do with the information we gather</span></div>
            <div>We require this information to understand your needs and provide you with a best service, and in particular for the following reasons:</div>


            <div style="display:inline-flex">
                <div><h6 style="border-radius:15%;border:3px solid;color:black;width:2%;"></h6></div>&nbsp;&nbsp;
                <div><h6>Internal record keeping.</h6></div>
            </div>
            <br />
            <div style="display:inline-flex">
                <div><h6 style="border-radius:15%;border:3px solid;color:black;width:2%;"></h6></div>&nbsp;&nbsp;
                <div><h6>We may use the information to improve our products and services.</h6></div>
            </div>
            <br />
            <div style="display:inline-flex">
                <div><h6 style="border-radius:15%;border:3px solid;color:black;width:2%;"></h6></div>&nbsp;&nbsp;
                <div><h6>We may periodically send promotional emails about new products, special offers or other information which we think you may find interesting using the email address which you have provided.</h6></div>
            </div>
            <br />
            <div style="display:inline-flex">
                <div><h6 style="border-radius:15%;border:3px solid;color:black;width:2%;"></h6></div>&nbsp;&nbsp;
                <div><h6>From time to time, we may also use your information to contact you for feedback, market research purposes. We may contact you by email or phone. We may use the information to customize the website according to your interests.</h6></div>
            </div>
            <br />


            <div>  <h5 style="font-weight:bold">Security</h5>  </div>

            <div style="display:inline-flex">
                <div><h6 style="border-radius:15%;border:3px solid;color:black;width:2%;"></h6></div>&nbsp;&nbsp;
                <div><h6>if you have previously agreed to us using your personal information for promotional purposes, you may change your mind at any time by writing to or emailing us at contact@kindlespur.com</h6></div>
            </div>
            <br />

            <div>
                We will not sell, distribute or lease your personal information to third parties unless we have your permission or are required by law to do so. We may use your personal information to send you promotional information about third parties which we think you may find interesting.
            </div>
            <div>  <h5 style="font-weight:bold">Contacting Us</h5>  </div>
            <div>
                If there are any questions regarding this privacy policy you may contact us using the information below:
                RIIT Solutions Pvt. Ltd.
                C3/103 Kumar Parisar, Behind Gandhi Bhavan, Sahajanand society, Kothrud,Pune   411038
                Tel.: +91 9881019550

            </div>

        </div>



    </div>



