<div class="feedPanel">
    <div class="homeLabelfeed">
        <h5 class="fontClass" style="font-size: 16px;margin-top:25px">KNOWLEDGE FEED</h5>
    </div>
    <div ng-show="skill.length == 0" class="topicHeadingPlaceholdr">
        <h5 style="color:gray;margin: auto;font-size: 30px;" class="leftSideMenuLable fontClass">
            Skills is not available.You need to add Skill to see feed.
        </h5>
    </div>
    <div class="skillTaggingArray" ng-hide="skill.length == 0" style="margin-top:12px">
        <h5 class="tagTasks fontClass genericPointerClass" style="float: left;margin: 7px;width: 131px;height: 40px;" ng-class="{ coachThemeColor : option.selected == true &&  role == 'coach' , mentorThemeColor : option.selected == true && role == 'mentor' , menteeThemeColor : option.selected == true && role == 'mentee',coacheeThemeColor : option.selected == true && role == 'coachee'}" ng-click="selectedFeedTag($index,option)" ng-repeat="option in skill">{{option.name | uppercase}}</h5>
    </div>

    <div class="feedParentArray" ng-hide="skill.length == 0">
        <div class="feedParentMainArray">
            <div class="feedContainRepeatDiv genericPointerClass" ng-click="loadFeedOnNextTab(feed)" ng-repeat="feed in feedContainArray">
                <div class="backgroundIamgeFeed" style="background : url('{{feed.imagePath}}');float: left;display:flex; width: 100%;height: 50%;background-size: contain;background-position-x: 50%;background-repeat: no-repeat;">
                    @*Image*@

                </div>
                <div class="" style="float: left; width: 100%;height: 20%;">
                    @*title*@
                <div class="" style="width: 100%;float: left;display:flex;">
                    <p style="float: left;font-weight: 700; font-size: 14px; white-space: inherit;word-break: break-all;margin: auto;">
                        {{feed.name}}
                    </p>
                </div>
            </div>
            <div class="" style="float: left;display:flex; width: 100%;height: 30%;">
                @*theory*@
            <div class="" style="width: auto;float: left;display:flex;overflow:auto;">
                <p style="float: left;width: 100%;height: 100%;font-size: 14px; white-space: inherit;word-break: break-all;	margin: auto;">
                    {{feed.snippet}}
                </p>
            </div>
        </div>
    </div>
</div>
</div>
<div class="applicationBottomStrip">
    <bottom-Main-Strip></bottom-Main-Strip>
</div>
</div>