<div class="feedPanel">
    <div class="homeLabelfeed">
        <h5 class="fontClass" style="font-size: 16px;margin : auto;margin-left:1%;">KNOWLEDGE FEED</h5>
    </div>
    <place-Holder message="{{placeHolderString}}" ng-show="skill.length == 0"></place-Holder>                    
    <div class="skillTaggingArray" ng-hide="skill.length == 0" >
        <h5 class="tagTasks fontClass genericPointerClass eliipsisClass" style="float: left;margin: 7px;width: 131px;height: 30px;" ng-class="{whiteBackground : (role == 'coach' && option.selected == true) || (role == 'mentor' && option.selected == true),  coachThemeColor : option.selected == true &&  role == 'coach' , mentorThemeColor : option.selected == true && role == 'mentor' , menteeThemeColor : option.selected == true && role == 'mentee',coacheeThemeColor : option.selected == true && role == 'coachee'}" ng-click="selectedFeedTag($index,option)" ng-repeat="option in skill">{{option.name | uppercase}}</h5>
    </div>

    <div class="feedParentArray" ng-hide="skill.length == 0">
        <div class="feedParentMainArray">
            <cube-Strct class="cubeParentClass" ng-show="loadingObject.showLoading" loading-Object="loadingObject"></cube-Strct>
            <div ng-hide="loadingObject.showLoading" class="feedContainRepeatDiv genericPointerClass" ng-click="loadFeedOnNextTab(feed)" ng-repeat="feed in feedContainArray">
                <div class="backgroundIamgeFeed" style="background : url('{{feed.imagePath}}'); display:flex; width: 80%;height: 40%;background-size: contain;background-position-x: 72%;background-repeat: no-repeat;">
                    @*Image*@

                </div>
                <div class="" style="float: left; width: 100%;height: 20%;">
                    @*title*@
                    <div class="" style="width: 100%;float: left;display:flex;">
                        <p style="float: left;font-weight: 700; font-size: 12px; white-space: inherit;margin: auto;">
                            {{feed.name}}
                        </p>
                    </div>
                </div>
                <div class="" style="float: left;display:flex; width: 100%;height: 30%;">
                @*theory*@
                    <div class="" style="width: auto;float: left;display:flex;overflow:auto;">
                        <p style="float: left;width: 100%;height: 100%;font-size: 11px; white-space: inherit;word-break: break-all;	margin: auto;">
                            {{feed.snippet}}
                        </p>
                    </div>
                </div>
            </div>
      </div>
    </div>    
</div>