<div class="applicationLogo"></div>
<div class="applicationSearch">
    <input class="applicationSearchTag" type="search" placeholder="SEARCH">
</div>
<div class="applicationRightCornerStrip">
    <div class="logoutOption">
        <div class="logoutOptionParent">
            <h5 class="fontClass genericPointerClass">LOGOUT</h5>
        </div>
    </div>
    <div class="notificationDiv">
        <div class="notificationDivParent">
            <h5 style="color: red;float:left;margin: auto 0;" class="fontClass genericPointerClass">NOTIFICATIONS</h5>					<div class="applicationNotiCount" title="5" style="float:left;text-align: center;margin: auto 5%;">
                <h4 style="margin:auto;font-weight: 700;line-height: 19px;color:white;">5</h4>
            </div>
        </div>
    </div>
    <div class="roleIcons">
        <div class="roleIconCircle coacheeBorderColor genericPointerClass" ng-click="navigateAsPerRole(0)"></div>
        <div class="roleIconCircle coachBorderColor genericPointerClass" ng-click="navigateAsPerRole(1)"></div>
        <div class="roleIconCircle menteeBorderColor genericPointerClass" ng-click="navigateAsPerRole(2)"></div>
        <div class="roleIconCircle mentorBorderColor genericPointerClass" ng-click="navigateAsPerRole(3)"></div>
        @*<div class="triangleArrowUp"></div>*@
    </div>
</div>