<div class="applicationLogo">
    <img ng-click="navigateAsPerRole(4)" class="genericPointerClass" src="~/Images/icons/kindlespurlogo.png" alt="logo" style="height: auto; width: 72%; margin: auto;" />
</div>
@*<div class="applicationSearch">
        <input class="applicationSearchTag" type="search" placeholder="SEARCH">
    </div>*@
<div class="applicationRightCornerStrip">
    @*<div class="profileNamePartMain fontClass">
            <h6 class="profileName">WELCOME</h6>
            <h6 class="profileName">&nbsp{{loggedDetail.FirstName}}</h6>
        </div>*@
    <div class="logoutOption" style="width: 6%;">
        <div class="logoutOptionParent">
            @*<h5 style="margin: auto;"class="fontClass genericPointerClass" ng-click="logout()">LOGOUT</h5>*@
            <div class="imageConversation" style="width: 100%;">
                <img ng-click="loadProfleView()" title="{{loggedDetail.FirstName+' '+loggedDetail.LastName}}" style="border: 2px solid white;margin:auto auto;margin-top: 0;width: 40px;height: 40px;border-radius: 50%;cursor:pointer;" ng-src="{{loggedDetail.Photo ?  loggedDetail.Photo  : '../../../Images/icons/If no Profile photo.png'}}" />
            </div>
            @*<img style="margin: auto;width:20px;" class="genericPointerClass" ng-click="loadProfleView()" src="~/Images/logout1.png" />*@
        </div>
    </div>
    <div class="notificationDiv" ng-show="false">
        <div class="notificationDivParent">
            <h5 style="color: red;float:left;margin: auto 0;" class="fontClass genericPointerClass">NOTIFICATIONS</h5>
            <div class="applicationNotiCount" title="5" style="float:left;text-align: center;margin: auto 5%;display: flex;">
                <h4 class="fontClass" style="margin:auto;font-weight: 700;line-height: 19px;color:white;">5</h4>
            </div>
        </div>
    </div>
    <div class="roleIcons" ng-show="uiFlag.roleIcon">
        <div class="roleIconCircle coacheeBorderColor genericPointerClass" ng-click="navigateAsPerRole(0)"></div>
        <div class="roleIconCircle coachBorderColor genericPointerClass" ng-click="navigateAsPerRole(1)"></div>
        <div class="roleIconCircle menteeBorderColor genericPointerClass" ng-click="navigateAsPerRole(2)"></div>
        <div class="roleIconCircle mentorBorderColor genericPointerClass" ng-click="navigateAsPerRole(3)"></div>
        @*<div class="triangleArrowUp"></div>*@
    </div>
    @*<div class="profileViewModeMain" style="margin-left: 0;" ng-click="navigateToProfile()" ng-show="uiFlag.profileLogo" >
        <div class="profileImagePartMain">
            <div class="profileImage"></div>
        </div>
        <div class="profileNamePartMain fontClass">
            <h2 class="profileName" >WELCOME</h2>
            <h2 class="profileName">&nbsp {{(loggedDetail.FirstName) | uppercase }}</h2>
        </div>
    </div>*@
    <div class="profileViewModeMain" ng-show="uiFlag.calendar">
        <div class="profileImagePartMain" style="width: 35px;"><img class="calendarImage" ng-click="loadCalendarView()" src="~/Images/calendar.png" /></div>
    </div>
</div>