<div class="parentBody" ng-controller="ksMainDashBoardController">
    <div class="newApplicationStripInvitation" ng-init="load=false" ng-class="{ AminationStrip : load == true }">
        <div class="roundedCornerShape" ng-click="load=!load;invitation={}">
            <img ng-hide="load" src="~/Images/Mail_Send_Email_Envelope.png" />
            <img ng-show="load" src="~/Images/cancelWhiteIcon.png" />
        </div>
        <div class="stripInvitationBody">
            <div class="headingInvitation">                
                <h5 style="float: left;margin: auto;color: #333333;">SEND INVITATION TO FRIEND</h5>
            </div>
            <div class="middleMainBody">
                <div style="float: left;width: 100%;display: flex;height: 30%;">                   
                    <input ng-model="invitation.email" class="inputTagStyle fontClass" style="font-size: 13px;margin: auto;padding:5px;width: 80%;" type="email" placeholder="Enter email addresses" />
                </div>
                <div style="float: left;width: 100%;display: flex;height: 70%;">                    
                    <textArea class="fontClass" style="padding: 5px;margin: auto;resize: none; font-size: 13px;height: 87%;width: 80%;" placeholder="Invite your friends to Grow Knowledge and Get Rewarded!" ng-model="invitation.description"></textArea>
                </div>
            </div>
            <div class="buttonSubmit">
                <button type="button" ng-click="sendInvitation()" style="margin: auto;width: 20%;padding: 0%;height: 22px;font-size: 9px;" class="signupButton fontClass btn btn-default">SEND</button>                  
            </div>
        </div>
    </div>
     <div class="applicationTopStrip">
        <top-Main-Strip notification="false"></top-Main-Strip>
    </div>
    <div class="applicationMiddleStripMain">
        <div class="parentRoleDashboard">
            @*<div class="userImageParent">
                <div class="userImageParentcenter">
                   
                </div>
            </div>*@
            <div class="userRoleWizardParentMain">
                <div class="userRoleWizardParent">
                    <div class="notificationWiz" style="display:none;" ng-repeat="notification in notificationsArr">
                        <div ng-if="notification.notificationType == '1'">
                            <h6 class="notificationWizReason">{{notification.name}}</h6>
                            <h4 class="notificationWizName">{{notification.assignPerson}}</h4>
                            <div class="notificationWizButton">
                                <button style="width:100%;font-size: 10px;padding: 5px;    margin: auto;font-weight: bolder;" class="notificationaccept-Button signupButton fontClass">ACCEPT</button>
                            </div>
                        </div>
                        <div ng-class="{ mentorThemeColor : notification.role =='mentor',coacheeThemeColor : notification.role =='coachee'}" style="float: left;width: 100%;height: 100%;" ng-if="notification.notificationType == '2'">
                            <div class="notificationWizReason" style="margin :4%;border:0px;color: white; padding : 0;">{{notification.name}}</div>
                            <div class="notificationTimingPanel">
                                <h6 class="notificationTiming notificationDate">{{notification.meetingDate}}</h6>
                                <h6 class="notificationTiming notificationTime">{{notification.meetingTime}}</h6>
                                <h6 style="float:right;    margin-right: 8%;" class="notificationTiming notificationDiff">{{notification.meetingTimeDiff}}</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="userRolesParent">
                 <div class="userRoleChild">
                     <div class="roleRepeatWizardMain" ng-mouseover="wizard.selectedOption = true" ng-mouseout="wizard.selectedOption = false" ng-class="{ flipper : wizard.selectedOption == true  ,mentorThemeColor : wizard.name =='MENTOR',menteeThemeColor : wizard.name =='MENTEE',coachThemeColor : wizard.name =='COACH',coacheeThemeColor : wizard.name =='COACHEE'}" ng-click="roleClick($event,wizard)" ng-repeat="wizard in applicationRole">
                         <div class="flipper flip-DataFront">
                             <div class="front">
                                 <!-- front content -->
                                 <div class="flip-DataBack">                                   
                                     <h5 class="fontClass" ng-class="{ whiteBackground : wizard.name =='MENTOR' || wizard.name =='COACH' }" style="margin:auto;width: 70%;font-size: 14px;">{{wizard.message}}</h5>
                                 </div>
                             </div>
                             <div class="back">
                                 <!-- back content -->
                                 <div class="rolelabelPart">
                                     <div class="roleNameLabel">
                                         <h1 class="notificationWizName role-Name" ng-class="{ whiteBackground : wizard.name =='MENTOR' || wizard.name =='COACH' }">{{wizard.name}}</h1>
                                     </div>
                                     <div class="roleImage">
                                         <img src={{wizard.img}} class="homePageLogo">
                                     </div>
                                 </div>
                                 <div class="roleCountPart">
                                     <div class="fullWidthHeightClass" style="float:left;">
                                         <div class='roleWiseClass'>

                                         </div>
                                     </div>
                                 </div>
                             </div>
                         </div>
                     </div>
                  </div>                  
            </div>           
            <div class="bottom-BodyParent">
                 <div class="bottom-BodyChild">
                     <div class="trending-TopicDiv">
                         <h5 class="fontClass trending-Topic">TRENDING TOPICS</h5>
                     </div>
                     <div class="trending-TopicParent">
                         <div class="trending-TopicChildLeft">
                             <div class="trending-LogoLeft">
                                 <img style="margin: auto" src="~/Images/icons/trending topics1.png" class="TradingTopicsLogo" />
                             </div>
                             <div style="float:left; width:75%;height:100%;" >
                                 <h5 class="fontClass eliipsisClass" style="font-size: 9px;padding: 2px;font-weight: bold;float: left;width: 50%;height: auto;" ng-repeat="option in trendingTopicLeftArray">
                                     {{option.skill | uppercase}}
                                 </h5>
                             </div>

                         </div>
                         <div class="trending-ToicChildRight">
                             <div class="trending-LogoRight">
                                 <img style="margin: auto" src="~/Images/icons/trending topics2.png" class="TradingTopicsLogo" />
                             </div>
                             <div style="float:left; width:75%;height:100%;">
                                 <h5 class="fontClass eliipsisClass" style="font-size: 9px;padding: 2px;font-weight: bold;float: left; width: 50%;height: auto;" ng-repeat="option in trendingTopicRightArray">
                                     {{option.skill | uppercase}}
                                 </h5>
                             </div>

                         </div>
                     </div>                                    
                </div>
            </div>
            <div class="bottomStripParent">
                <div class="applicationBottomStrip">
                    <bottom-Main-Strip></bottom-Main-Strip>
                </div>
            </div>
        </div>
    </div>
</div>

