<div class="parentBody" ng-controller="ksMainDashBoardController">
    <div class="applicationTopStrip">
        <top-Main-Strip notification="false"></top-Main-Strip>
    </div>
    <div class="applicationMiddleStripMain">
        <div class="parentRoleDashboard">
            @*<div class="userImageParent">
                <div class="userImageParentcenter">
                   
                </div>
            </div>*@
            <div class="userRoleWizardParentMain">
                <div class="userRoleWizardParent" style="display: inline-flex;overflow: auto;float:left; overflow-x:scroll; overflow-y:hidden;width:98%;margin-left: -16px;">
                    <div class="notificationWiz" style="display:none;" ng-repeat="notification in notificationsArr">
                        <div ng-if="notification.notificationType == '1'">
                            <h6 class="notificationWizReason">{{notification.name}}</h6>
                            <h4 class="notificationWizName">{{notification.assignPerson}}</h4>
                            <div class="notificationWizButton">
                                <button style="width:100%;font-size: 10px;padding: 5px;    margin: auto;font-weight: bolder;" class="signupButton fontClass">ACCEPT</button>
                            </div>
                        </div>
                        <div ng-class="{ mentorThemeColor : notification.role =='mentor',coacheeThemeColor : notification.role =='coachee'}" style="float: left;width: 100%;height: 100%;" ng-if="notification.notificationType == '2'">
                            <div class="notificationWizReason" style="margin :4%;border:0px;color: white; padding : 0;">{{notification.name}}</div>
                            <div class="notificationTimingPanel">
                                <h6 class="notificationTiming notificationDate">{{notification.meetingDate}}</h6>
                                <h6 class="notificationTiming notificationTime">{{notification.meetingTime}}</h6>
                                <h6 style="float:right;    margin-right: 8%;" class="notificationTiming notificationDiff">{{notification.meetingTimeDiff}}</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="userRolesParent">
                 <div style="margin:auto;width: 65%;height: 100%;">
                     <div class="roleRepeatWizardMain" ng-mouseover="wizard.selectedOption = true" ng-mouseout="wizard.selectedOption = false" ng-class="{ flipper : wizard.selectedOption == true  ,mentorThemeColor : wizard.name =='MENTOR',menteeThemeColor : wizard.name =='MENTEE',coachThemeColor : wizard.name =='COACH',coacheeThemeColor : wizard.name =='COACHEE'}" ng-click="roleClick($event,wizard)" ng-repeat="wizard in applicationRole">
                         <div class="flipper" style="float: left; width : 100%; height : 100%;">
                             <div class="front">
                                 <!-- front content -->
                                 <div style="display:flex;width:100%;height:100%;">                                   
                                     <h5 class="fontClass" ng-class="{ whiteBackground : wizard.name =='MENTOR' || wizard.name =='COACH' }" style="margin:auto;width: 70%;font-size: 14px;">{{wizard.message}}</h5>
                                 </div>
                             </div>
                             <div class="back">
                                 <!-- back content -->
                                 <div class="rolelabelPart">
                                     <div class="roleNameLabel">
                                         <h1 style="width: 80%;margin: 10%; font-size:30px" class="notificationWizName" ng-class="{ whiteBackground : wizard.name =='MENTOR' || wizard.name =='COACH' }">{{wizard.name}}</h1>
                                     </div>
                                     <div class="roleImage">
                                         <img src={{wizard.img}} class="homePageLogo">
                                     </div>
                                 </div>
                                 <div class="roleCountPart">
                                     <div class="fullWidthHeightClass" style="float:left;">
                                         <div class='roleWiseClass'>

                                         </div>
                                     </div>
                                 </div>
                             </div>
                         </div>
                     </div>
                  </div>                  
            </div>           
            <div class="" style="height: 22%; float: left; width: 100%;display:flex;" >
                 <div style="margin:auto;width: 60%;">
                     <h5 class="fontClass TrendingTopicsHeader" style="margin: 0;">TRENDING TOPICS</h5>
                     <div class="col-md-6">
                         <div class="roleImage col-md-2">
                             <img src="~/Images/icons/trending topics1.png" class="TradingTopicsLogo" />
                         </div>
                         <div class="trandingTopicLeftArray col-md-4" ng-repeat="option in trendingTopicLeftArray">
                             <div class="TrendingTopicName">
                                 {{option.skill | uppercase}}
                             </div>
                             <div class="col-md-12 TrandingTopicDescription">
                                 {{option.description}}
                             </div>
                         </div>
                         
                     </div>

                     <div class="col-md-6">
                         <div class="roleImage col-md-2" style="float: left; margin-top: 2%;height:96px;">
                             <img src="~/Images/icons/trending topics2.png" class="TradingTopicsLogo" />
                         </div>
                         <div class="trandingTopicLeftArray col-md-4" ng-repeat="option in trendingTopicRightArray">
                             <div class="TrendingTopicName">
                                 {{option.skill | uppercase}}
                             </div>
                             <div style="height:30px; font-size: 9px;">
                                 {{option.description}}
                             </div>
                         </div>

                     </div>
                                    
                </div>
            </div>
            <div class="bottomStripParent">
                <div class="applicationBottomStrip">
                    <bottom-Main-Strip></bottom-Main-Strip>
                </div>
            </div>
        </div>
    </div>
</div>

