@*<link href="~/Scripts/css/ksDashBoard/ksDashBoardHover.css" rel="stylesheet" />*@
<div class="parentBody" ng-controller="ksMainDashBoardController">
        <cube-Strct class="cubeParentClass" ng-show="loadingObject.showLoading" loading-Object="loadingObject"></cube-Strct>
        <div ng-hide="loadingObject.showLoading"  class="parentRoleDashboard">
            <div ng-show="gridViewLoaded == true" ng-mouseover="showRotateIcon = true;" ng-mouseleave="showRotateIcon = false;" style="border:0;" class="homeLabelInMainDB" ng-init="gridViewLoaded = false">
                <div ng-show="gridViewLoaded == true" style="height: 100%;width: 64%;margin: auto;" class="homeLabelInMainDB" ng-init="gridViewLoaded = false">
                    <h5 class="fontClass" style="font-size: 16px;">INVITES</h5>
                    <img class="rotateIconDownWord" ng-show="showRotateIcon" ng-class="{ rotateIconupWord : gridViewLoaded == true }" style="width:35px;height : 35px;padding: 5px;cursor:pointer;position:absolute;right:0;top: 4px;" ng-click="gridViewLoaded =! gridViewLoaded;loadGridView()" src="~/Images/left_circle.png" />
                </div>
            </div>
            <div ng-init="gridViewLoaded = false" ng-class="{ gridViewLoadedClassForInbox : gridViewLoaded == true }"style="display: flex;"class="userNotificationParent">                
                <div class="userRoleWizardParent" style="margin: auto;width: 64%;position: relative;" ng-mouseover="showRotateIcon = true;" ng-mouseleave="showRotateIcon = false;">
                    <img class="rotateIconDownWord" ng-show="showRotateIcon && gridViewLoaded == false" ng-class="{ rotateIconupWord : gridViewLoaded == true }" style="width:35px;height : 35px;z-index: 1;padding: 5px;cursor:pointer;position:absolute;right:0;top: 13px;" ng-click="gridViewLoaded =! gridViewLoaded;loadGridView()" src="~/Images/left_circle.png" />
                    <invites-View  ng-class="{ inlineBlockClass : gridViewLoaded == true }" style="overflow-x: scroll;overflow-y: hidden;display: inline-flex;width: 100%;height: 100%;float: left;position: relative;" role="All" required-Field="['REQ','MTG']"></invites-View>
                </div>
            </div>
            <div class="userRolesParent" ng-class="{ gridViewLoadedClass : gridViewLoaded == true }">
                 <div class="userRoleChild">
                     <div class="roleRepeatWizardMain" ng-class="{ mentorThemeColor : wizard.name =='MENTOR',menteeThemeColor : wizard.name =='MENTEE',coachThemeColor : wizard.name =='COACH',coacheeThemeColor : wizard.name =='COACHEE'}" ng-click="roleClick($event,wizard)" ng-repeat="wizard in applicationRole">
                         <div class='containerHover'>
                             <ul class="ulClassFOrHover">
                                 <li class="liClassFOrHover">
                                     <div class="ddddd" style="float:left;width: 100%;height: 100%;">
                                         <div class="rolelabelPart">
                                             <div class="roleNameLabel">
                                                 <h1 class="notificationWizName role-Name" ng-class="{ whiteBackground : wizard.name =='MENTOR' || wizard.name =='COACH' }">{{wizard.name}}</h1>
                                             </div>
                                             <div class="roleImage">
                                                 <img ng-src={{wizard.img}} class="homePageLogo">
                                             </div>
                                         </div>
                                         <div class="roleCountPart">
                                             <div class="fullWidthHeightClass" style="float:left;">
                                                 <div class='roleWiseClass'>

                                                 </div>
                                             </div>
                                         </div>
                                     </div>
                                     <div class='info' style="border: 1px solid #FFF;" ng-class="{ mentorThemeColor : wizard.name =='MENTOR',menteeThemeColor : wizard.name =='MENTEE',coachThemeColor : wizard.name =='COACH',coacheeThemeColor : wizard.name =='COACHEE'}">
                                         <div class="flip-DataBack">
                                             <h5 class="fontClass" ng-class="{ whiteBackground : wizard.name =='MENTOR' || wizard.name =='COACH' }" style="margin:auto;width: 70%;font-size: 14px;">{{wizard.message}}</h5>
                                         </div>
                                     </div>
                                 </li>
                             </ul>
                         </div>
                            @*<div class="flipper flip-DataFront">
                             <div class="front">
                                  front content 
                                 <div class="flip-DataBack">                                   
                                     <h5 class="fontClass" ng-class="{ whiteBackground : wizard.name =='MENTOR' || wizard.name =='COACH' }" style="margin:auto;width: 70%;font-size: 14px;">{{wizard.message}}</h5>
                                 </div>
                             </div>
                             <div class="back">
                                 back content 
                                 <div class="rolelabelPart">
                                     <div class="roleNameLabel">
                                         <h1 class="notificationWizName role-Name" ng-class="{ whiteBackground : wizard.name =='MENTOR' || wizard.name =='COACH' }">{{wizard.name}}</h1>
                                     </div>
                                     <div class="roleImage">
                                         <img src={{wizard.img}} class="homePageLogo">
                                     </div>
                                 </div>
                                 <div class="roleCountPart">
                                     <div class="fullWidthHeightClass" style="float:left;">
                                         <div class='roleWiseClass'>

                                         </div>
                                     </div>
                                 </div>
                             </div>
                         </div>*@
                     </div>
                  </div>                  
            </div>           
            <div class="bottom-BodyParent" ng-class="{ gridViewLoadedClass : gridViewLoaded == true }">
                 <div class="bottom-BodyChild">
                     <div class="trending-TopicDiv">
                         <h5 class="fontClass trending-Topic">TRENDING TOPICS</h5>
                     </div>
                     <div class="trending-TopicParent">
                         <div class="trending-TopicChildLeft">
                             <div class="trending-LogoLeft">
                                 <img style="margin: auto" src="~/Images/icons/trending topics1.png" class="TradingTopicsLogo" />
                             </div>
                             <div style="float:left; width:75%;height:100%;" >
                                 <h5 class="fontClass eliipsisClass" style="font-size: 9px;padding: 2px;font-weight: bold;float: left;width: 50%;height: auto;" ng-repeat="option in trendingTopicLeftArray">
                                     {{option | uppercase}}
                                 </h5>
                             </div>

                         </div>
                         <div class="trending-ToicChildRight">
                             <div class="trending-LogoRight">
                                 <img style="margin: auto" src="~/Images/icons/trending topics2.png" class="TradingTopicsLogo" />
                             </div>
                             <div style="float:left; width:75%;height:100%;">
                                 <h5 class="fontClass eliipsisClass" style="font-size: 9px;padding: 2px;font-weight: bold;float: left; width: 50%;height: auto;" ng-repeat="option in trendingTopicRightArray">
                                     {{option | uppercase}}
                                 </h5>
                             </div>

                         </div>
                     </div>                                    
                </div>
            </div>            
        </div>
</div>
<script>

</script>
