<div class="labelInRightPanelVCG" style="height:7%;border-bottom:1px solid lightgray;">
    <h5 class="fontClass" style="font-size: 16px;">VALUE SCORE CARD</h5>
</div>

<div class="addActivityStrip" ng-init="addActivityShowFlag = false" ng-click="toggleAddActivityPopup(true);setFocusToActivityPart()">
    <div class="plusIconAddActivity">
        <h5 class="plusSymbolActivity">+</h5>
    </div>
    <div class="addActivityStripLabel">
        <h5 class="labelAddActivity fontClass">ADD ACTIVITY</h5>
    </div>
</div>
<div class="addActivityPanelHide" ng-class="{ addActivityPanelShow : addActivityShowFlag == true }">
    <div class="activityNameDivShow" style="height: 12% !important;">
        <div class="activityNameInputBox">
            <input class="homeLogininput" type="text" required ng-keydown="autoCompleteEmailId($event);" ng-blur="resetAutoComplete();closeAlertMessage()" ng-change='selectedIndex=-1;showRecentlyLoggedName(credentials.username)' name="username" id="userId" ng-model="activity.eventTitle" tabindex="0" autocomplete="off">
            <span class="highlight"></span>
            <span class="bar"></span>
            <label class="homeLoginlabel fontClass">ACTIVITY NAME</label>
        </div>
        <div class="taskLeveliCon">
            <img src="../../Images/save.png" title="Save" ng-click="saveActvity()" style="margin: auto auto;float: left;height: 44px;width: 41px;cursor:pointer;" />
            <img src="../../Images/cancel.png" title="Cancel" ng-click="toggleAddActivityPopup(false)" style="margin: auto auto;float: left;height: 30px;width: 33px;cursor:pointer;" />
        </div>
    </div>
    <div class="taskListPanelDivShow">
        <div class="addTaskInput">
            <div class="activityNameInputBox">
                <input class="addTaskinputClass addTaskInputClass" type="text" required ng-keydown="autoCompleteEmailId($event);" ng-blur="resetAutoComplete();closeAlertMessage()" ng-change='selectedIndex=-1;showRecentlyLoggedName(credentials.username)' name="username" id="userIdTask" ng-model="addTaskObject.eventTitle" tabindex="0" autocomplete="off">
                <span class="highlight"></span>
                <span class="bar"></span>
                <label class="addTaskLabel fontClass">TASK NAME</label>
            </div>
        </div>

        <div class="impactMeasureDescription">
            <div class="impactZoneParent">
                <div class="impactLabel">
                    <h5 class="labelAddActivity fontClass" style="color:#272424;    margin: auto;">IMPACT ZONE</h5>
                </div>
                <div class="impactZoneTag">

                    <h5 class="tagTasks fontClass" style="float: left;margin: 10px;margin-bottom: 0;margin-right: 0;width: 131px;height: 28px;" ng-class="{ selectedZoneClass : addTaskObject.impactZone == $index }" ng-click="impactZoneSelection($index,option)" ng-repeat="option in leftSideMenus">{{option.name | uppercase}}</h5>

                </div>
            </div>
            <div class="impactZoneMeasureParent">
                <div class="impactLabel">
                    <h5 class="labelAddActivity fontClass" style="color:#272424;margin: auto;">MEASURE OF IMPACT</h5>
                </div>
                <div class="impactZoneTag" style="display: flex;">
                    <div style="float:left;margin:auto;width: 81%;height: 100%;">
                        <h5 class="tagTasks fontClass" style="float: left;margin: 10px;margin-bottom: 0;margin-right: 0;width: 131px;height: 28px;" ng-class="{ selectedZoneClass : addTaskObject.measureImapact == $index }" ng-click="measureOfImapactSelection($index,option)" ng-repeat="option in measureOfImpact">{{option.name | uppercase}}</h5>
                    </div>
                </div>
            </div>
            <div class="impactZoneTypeParent">
                <div class="impactLabel">
                    <h5 class="labelAddActivity fontClass" style="color:#272424;    margin: auto;">TYPE OF IMPACT</h5>
                </div>
                <div class="impactZoneTag" style="display: flex;">
                    <div style="float:left;margin:auto;width: 81%; height: 100%;">
                        <h5 class="tagTasks fontClass" style="float: left;margin: 10px;margin-bottom: 0;margin-right: 0;width: 131px;height: 28px;" ng-class="{ selectedZoneClass : addTaskObject.typeImapact == $index }" ng-click="typeOfImapactSelection($index,option)" ng-repeat="option in typeOfImpact">{{option.name | uppercase}}</h5>
                    </div>
                </div>
            </div>
            <h5 class="labelAddActivity fontClass" style="color:#272424;margin-top: 8px;;">DESCRIPTION</h5>
            <div class="impactZoneTaskDescParent">
                <textArea ng-model="addTaskObject.description" style="margin:auto;resize:none;color:#6C6C6C;background: #F3F3F3;width: 80%; height: 86%; white-space: inherit;padding: 7px; word-break: break-all;" placeholder="Description"> </textArea>
            </div>
        </div>
        <div class="buttonClassImpactMeasure">
            <button style="background: #D72C28;width: 70px; height: 30px;font-size: 10px;padding: 5px;font-weight: 100;margin: auto;" class="signupButton fontClass genericPointerClass" ng-click="saveTask()">SAVE</button>
        </div>

    </div>
</div>

<div class="taskListPanelDivHide" ng-class="{ dummyTaskDisplay  : dummyTaskArray.length > 0 }">
    <div class="taskListPanelRepeatDiv" ng-repeat="tasks in dummyTaskArray">
        <div class="taskLavelParentDiv">
            <div class="taskLabelParentDiv">
                <h5 style="font-size: 14px;font-weight: bold;" class="fontClass">{{tasks.eventTitle}}</h5>
                <h5 style="font-size: 11px;margin-top: 5px" class="fontClass">{{ tasks.date | date :'dd/MM/yyyy'}}</h5>
            </div>
            <div class="taskLevelImpactZone">
                <h5 class="tagTasks selectedZoneClass fontClass">{{leftSideMenus[tasks.impactZone].name}}</h5>
                <h5 class="tagTasks selectedZoneClass fontClass">{{measureOfImpact[tasks.measureImapact].name}}</h5>
                <h5 class="tagTasks selectedZoneClass fontClass">{{typeOfImpact[tasks.typeImapact].name}}</h5>
            </div>
            <div class="taskLevelDescription">
                <h5 class="tasksDescription fontClass">
                    {{tasks.description}}
                </h5>
            </div>
            <div class="taskLevelMedal">
                <img ng-show="tasks.measureImapact == 0 && tasks.typeImapact == 1 || tasks.measureImapact == 1 && tasks.typeImapact == 1 || tasks.measureImapact == 0 && tasks.typeImapact == 0" src="../../Images/MedalImage/bronzeMedal.png" style="margin: auto auto;float: left;height: 65px;width: 65px;" />
                <img ng-show="tasks.measureImapact == 2 && tasks.typeImapact == 1 || tasks.measureImapact == 1 && tasks.typeImapact == 0" src="../../Images/MedalImage/silverMedal.png" style="margin: auto auto;float: left;height: 65px;width: 65px;" />
                <img ng-show="tasks.measureImapact == 2 && tasks.typeImapact == 0" src="../../Images/MedalImage/goldMedal.png.png" style="margin: auto auto;float: left;height: 65px;width: 65px;" />

            </div>
            <div class="taskLeveliCon">
                <!--<img src="../../Images/MedalImage/bronzeMedal.png" style="margin: auto auto;float: left;height: 35px;width: 35px;" />-->
                <img src="../../Images/delete.png" title="Delete" ng-click="dummyTaskArray.splice($index,1);" style="margin: auto auto;float: left;height: 35px;width: 35px;" />
            </div>
        </div>

    </div>
</div>


<div class="activityListPanelHide" ng-class="{ activityListPanelShow : addActivityShowFlag == true && dummyTaskArray.length == 0, dummyTaskListPanelShow	 : addActivityShowFlag == true && dummyTaskArray.length > 0}">


    <div class="parentDivForActivityListHide" ng-class="{ parentDivForActivityListShow : option.displayDetail == true }" ng-repeat="option in activityMainArray" ng-click="option.displayDetail =! option.displayDetail">
        <div class="activityNameDivHide" ng-class="{ activityNameDivShow : option.displayDetail == true }">
            <h5 class="labelAddActivity fontClass">{{option.eventTitle | uppercase}}</h5>
            <img src="../../Images/edit_Icon.png" title="Edit" ng-click="editActivity(option)" style="margin: auto; margin-right: 0;float: left;height: 15px;width: 15px;" />
            <img src="../../Images/delete.png" title="Delete" ng-click="deleteActivity(option)" style="margin: auto; margin-left: 1%; margin-right: 1%;float: left;height: 15px;width: 15px;" />
        </div>
        <div class="taskListPanelDivHide" ng-class="{ taskListPanelDivShow : option.displayDetail == true }">
            <div class="taskListPanelRepeatDiv" ng-repeat="tasks in option.Tasks">
                <div class="taskLavelParentDiv">
                    <div class="taskLabelParentDiv">
                        <h5 style="font-size: 14px;font-weight: bold;" class="fontClass">{{tasks.eventTitle}}</h5>
                        <h5 style="font-size: 11px;margin-top: 5px" class="fontClass">{{tasks.date | date :'dd/MM/yyyy'}}</h5>
                    </div>
                    <div class="taskLevelImpactZone">
                        <h5 class="tagTasks selectedZoneClass fontClass">{{leftSideMenus[tasks.impactZone].name}}</h5>
                        <h5 class="tagTasks selectedZoneClass fontClass">{{measureOfImpact[tasks.measureImapact].name}}</h5>
                        <h5 class="tagTasks selectedZoneClass fontClass">{{typeOfImpact[tasks.typeImapact].name}}</h5>
                    </div>
                    <div class="taskLevelDescription">
                        <h5 class="tasksDescription fontClass">
                            {{tasks.description}}
                        </h5>
                    </div>
                    <div class="taskLevelMedal">
                        <img ng-show="tasks.measureImapact == 0 && tasks.typeImapact == 1 || tasks.measureImapact == 1 && tasks.typeImapact == 1 || tasks.measureImapact == 0 && tasks.typeImapact == 0" src="../../Images/MedalImage/bronzeMedal.png" style="margin: auto auto;float: left;height: 65px;width: 65px;" />
                        <img ng-show="tasks.measureImapact == 2 && tasks.typeImapact == 1 || tasks.measureImapact == 1 && tasks.typeImapact == 0" src="../../Images/MedalImage/silverMedal.png" style="margin: auto auto;float: left;height: 65px;width: 65px;" />
                        <img ng-show="tasks.measureImapact == 2 && tasks.typeImapact == 0" src="../../Images/MedalImage/goldMedal.png.png" style="margin: auto auto;float: left;height: 65px;width: 65px;" />
                    </div>
                    <div class="taskLeveliCon">
                        <img src="../../Images/MedalImage/bronzeMedal.png" style="margin: auto auto;float: left;height: 40px;width: 40px;" />
                        <img src="../../Images/MedalImage/bronzeMedal.png" style="margin: auto auto;float: left;height: 40px;width: 40px;" />
                    </div>
                </div>



            </div>
        </div>
    </div>
</div>
<div class="applicationBottomStrip">
    <bottom-Main-Strip></bottom-Main-Strip>
</div>		