<div class="parentBody" ng-controller="ksVCGController">
    <div class="applicationTopStrip">
        <top-Main-Strip notification="false"></top-Main-Strip>
    </div>
    <div class="applicationMiddleStripMain">
        <div class="parentRoleDashboard">
            <div class="parentRoleMenu GameThemeColor">
                <div class="profileViewMode genericPointerClass" ng-click="GetPrfileView()">
                    <div class="profileImagePart"></div>
                    <div class="profileNamePart fontClass genericPointerClass">WELCOME {{(loggedDetail.FirstName) | uppercase }}</div>
                </div>
                <div class="leftSideMenuMainDashBoard">
                    <div class="leftSideMenuParent">
                        <div class="leftSideMenu valueCreationColor" ng-repeat="option in leftSideMenus" ng-click="menuClick($index,option)">
                            <h5 class="leftSideMenuLable fontClass genericPointerClass">{{option.name}}</h5>
                            <h5 ng-if="option.name == 'Add Skills'" style="float: right;font-size: 25px;margin: 1%;" class="leftSideMenuLable fontClass genericPointerClass">+</h5>
                        </div>
                    </div>
                </div>
            </div>
            @*Value creation score - 0*@
            <div class="parentRoleDetailRight" style="padding:1%;padding-bottom: 0;" ng-if="selectedMenu == '0'">
                <vcs-Dir></vcs-Dir>
            </div>
            @*Value Feed - 1*@
          
            <div class="parentRoleDetailRight" style="padding-bottom: 0;" ng-if="selectedMenu == '1'">
                <div class="parentBody">
                    <div class="labelInRightPanelVCG" style="height:7%;border-bottom:1px solid lightgray;display:flex;">
                        <h5 class="fontClass" style="font-size: 16px;    margin: auto;margin-left: 2%;">VALUE FEEDS</h5>
                    </div>
                    <div class="parentRoleDashboard fontClass">
                        <div style="float: left; width: 100%;height: 100%">
                            <div class="ImpactZoneButton" style="border-bottom: 1px solid lightgray;">                               
                                <div class="impactZoneTag" style="overflow-x: auto;">
                                    <h5 class="tagTasks fontClass eliipsisClass" style="float: left;margin: 10px;margin-bottom: 0;margin-right: 0;width: 131px;height: 28px;" ng-class="{ selectedZoneClass : option.selected == true }" ng-click="selectOption($index,option)" ng-repeat="option in topButtonArray">{{option.name | uppercase}}</h5>
                                </div>
                            </div>
                            <div style="float: left;width: 100%;height: 90%;position: relative;" class="col-md-12">
                                <div class="podcastsContainer col-md-5 col-sm-12">
                                    <div class="podcastHeader">
                                        <h5 style="margin: auto;margin-left: 2%;" class="fontClass ValueFeedsHeade">PODCASTS</h5>
                                    </div>
                                    <div class="ImpactZoneChildDiv">
                                        <div class="MainStoryPanel" ng-repeat="option in AllVideoDetail">
                                            <div class="videoTitle">
                                                <h5 class="videoName fontClass" style="font-weight: bold;">{{option.name | uppercase}}</h5>
                                                <span class="glyphicon glyphicon-play" style="top: 0px;float:left;margin: auto;"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>                               
                                <div class="podcastsContainer col-md-5">
                                    <div class="podcastHeader">
                                        <h5 class="fontClass" style="margin: auto;margin-left: 2%;font-size: 14px;padding-left: 0;">STORY</h5>
                                        <div class="" style="width: 40%;display: flex;" ng-click="addStory()">
                                            <h5 class="AddStoryText fontClass"> SHOW YOUR STORY</h5>
                                            <span class="glyphicon glyphicon-plus" style="top: 0px;margin: auto;margin-right: 5%;"title="ADD STORY"></span>
                                        </div>                                        
                                    </div>
                                    <div class="ImpactZoneChildDiv">
                                        <div class="MainStoryPanel" ng-repeat="option in StoryDetailArray">
                                            <div class="videoTitle">
                                                <div class="videoTitle" style="display:block;width: 94%;height: 58%;">
                                                    <h5 class="videoName fontClass" style="font-weight: bold;">{{option.StoryTitle  | uppercase}}</h5>
                                                    <h5 class="videoName fontClass eliipsisClass" style="color:#d3d3d3; font-size: 12px; margin-top: 5px;">{{option.StoryContent}}</h5>
                                                </div>
                                        </div>
                                        
                                    </div>
                                </div>

                            </div>

                        </div>

                        <div ng-show='valueFeeds.addStory' class="addStoryPanel fontClass" style="height: 52%;">


                            <div class="addStoryContainer" style="padding: 7%;">
                                <img ng-click="closeaddStoryPopup()" class="addStoryPopupCancleButton" title="Close" src="~/Images/cancel.png" />
                                <div class="StoryTitlePanel">
                                    <h5 class="StoryName" style="width: 20%;">Story Name</h5>
                                    <input type="text" placeholder="subject Name" class="storyTitleText" style=|"padding: 5px;" ng-model="AddStory.SubjectName" ng-required>
                                </div>
                                <div class="storyDescrionPanel">
                                    <textarea rows="4" cols="50" class="addStoryTextArea" ng-model="AddStory.Description" placeholder="Write your experiance and difference you created in the selected impact zone" ng-required></textarea>
                                </div>
                                <div class="addStoryShareButton">
                                    <button type="button" class="signupButton fontClass btn btn-default shareButton" ng-click="shareStoryClick()">SHARE</button>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
