<div class="parentBody" ng-controller="ksVCGController">
    <div class="applicationTopStrip">
        <top-Main-Strip notification="false"></top-Main-Strip>
    </div>
    <div class="applicationMiddleStripMain">
        <div class="parentRoleDashboard">
            <div class="parentRoleMenu GameThemeColor">
                <div class="profileViewMode genericPointerClass" ng-click="GetPrfileView()">
                    <div class="profileImagePart"></div>
                    <div class="profileNamePart fontClass genericPointerClass">WELCOME {{loggedDetail.FirstName+" "+loggedDetail.LastName}}</div>
                </div>
                <div class="leftSideMenuMainDashBoard">
                    <div class="leftSideMenuParent">
                        <div class="leftSideMenu valueCreationColor" ng-repeat="option in leftSideMenus" ng-click="menuClick($index,option)">
                            <h5 class="leftSideMenuLable fontClass genericPointerClass">{{option.name}}</h5>
                            <h5 ng-if="option.name == 'Add Skills'" style="float: right;font-size: 25px;margin: 1%;" class="leftSideMenuLable fontClass genericPointerClass">+</h5>
                        </div>
                    </div>
                </div>
            </div>
            @*Value creation score - 0*@
            <div class="parentRoleDetailRight" style="padding:1%;padding-bottom: 0;" ng-if="selectedMenu == '0'">
                <vcs-Dir></vcs-Dir>
            </div>
            @*Value Feed - 1*@
            <div class="parentRoleDetailRight" style="padding-bottom: 0;" ng-if="selectedMenu == '1'">
                <div class="parentBody">

                    <div class="parentRoleDashboard fontClass">
                        <h5 class="fontClass ValueFeedsHeader" style="visibility:hidden;">VALUE FEEDS</h5>
                        <div style="padding-left:5%;">
                            <h5 style="font-weight:bold;"> IMPACT ZONES</h5>
                            <div class="ImpactZoneButton">
                                <div style="display: inline-flex;">
                                    <div class="valueFeedButton" ng-click="selectOption($index,option)" ng-repeat="option in topButtonArray">
                                        {{option.name |uppercase}}
                                    </div>
                                </div>

                            </div>
                            <div style="width:100%" class="col-md-12">
                                <div class="podcastsContainer col-md-5 col-sm-12">
                                    <div class="podcastHeader">
                                        <h5 class="fontClass ValueFeedsHeade">PODCASTS</h5>
                                    </div>
                                    <div class="ImpactZoneChildDiv">
                                        <div class="MainStoryPanel" ng-repeat="option in AllVideoDetail">
                                            <div class="videoTitle">
                                                <p class="videoName">{{option.name}}</p>
                                                <span class="glyphicon glyphicon-play" style="float:left;"></span>
                                            </div>


                                    </div>
                                </div>
                                </div>
                                <div class="col-md-1"></div>
                                <div class="podcastsContainer col-md-5" >
                                    <div class="storyContainerHeader">
                                        <h5 class="fontClass" style="font-size: 14px;padding-left: 0;">STORY</h5>

                                        <h5 class="AddStoryText ">
                                            Show yourStory
                                            <div class="addStoryButton" ng-click="addStory()">
                                                <span class="glyphicon glyphicon-plus" title="Add story"></span>
                                            </div>

                                        </h5>
                                    </div>
                                    <div class="ImpactZoneChildDiv">
                                        <div class="MainStoryPanel" ng-repeat="story in StoryDetailArray">
                                        <div class="storyTitle">
                                            {{story.StoryTitle}}
                                        </div>
                                            <div class="storyDescription">
                                            {{story.StoryContent}}
                                        </div>

                                    </div>
                                </div>
                                </div>

                            </div>

                        </div>

                        <div ng-show='valueFeeds.addStory' class="addStoryPanel fontClass" style="height: 45%;">

                            <!-- Screen 6 -->
                            <div class="addStoryContainer">
                                <img ng-click="closeaddStoryPopup()" class="addStoryPopupCancleButton" title="Close" src="~/Images/cancel.png" />
                                <div class="StoryTitlePanel">
                                    <h5 class="StoryName">Story Name</h5>
                                    <input type="text" placeholder="subject Name" class="storyTitleText" ng-model="AddStory.SubjectName" ng-required>
                                </div>
                                <div class="storyDescrionPanel">
                                    <textarea rows="4" cols="50" class="addStoryTextArea" ng-model="AddStory.Description" placeholder="Write your experiance and difference you created in the selected impact zone" ng-required></textarea>
                                </div>
                                <div class="addStoryShareButton">
                                    <button type="button"  class="signupButton fontClass btn btn-default shareButton" ng-click="shareStoryClick()">SHARE</button>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
   </div>
</div>
