
.parentRoleDetailRightRewardsPoint{
    position: relative;
    width: 82%;
    height: 98%;
    float: left;
	padding : 1%;
	padding-top:0;
    margin-top: 2%;
}
.pointStatusParents{
   width: 100%;
   height: 93%;
   float:left;
}
.rewardsPointsPanel{
   float: left;
   width: 100%;
   height: 50%;
   border-top:1px solid lightgray;
   border-bottom:1px solid lightgray;
}
.myRewardsPointsPanel{
	float: left;
	width: 100%; 
    height: 50%;
}
.myRewardsPoints{
    float: left;
	width: 100%;
    height: 100%;
}
.progressReport{
    float: left;
	width: 25%;
    height: 100%;
	display:flex;
}
.rewardPointRecord{
	float: left;
	width: 75%;
    height: 100%;
}
.countRecordPartOne{
	float: left;
	width: 100%;
    height: 33%;
	display:flex;
}
.countRecordPartTwo{
	float: left;
	width: 100%;
    height: 37%;
	display:flex;
}
.countRecordPartThree{
	float: left;
	width: 100%;
    height: 38%;
	display:flex;
}
.totalPointsPanel{
    float: left;
	margin:auto auto;
	margin-bottom: 0;
}
.redeemedPointsPanel{
	float: left;
	margin:auto auto;
	margin-bottom: 0;
}
.balancePointsPanel{
	float: left;
	margin:auto auto;
	margin-bottom: 0;
}
.roleNamePointStatus{
	float: left;
	margin:auto auto;
	width: 18%;
    height: 63%;
    margin-bottom: 0;
}
.rolesPointStatus{
	float: left;
	padding: 10px;
    width: 100%;
	padding-bottom: 5px;
    padding-top: 5px;
}
.roleLabelPointStatus{
	float: left;
	font-size: smaller;
	text-align: center;
	width: 100%;
	color:white;
}
.myRewardsLabelParent{
    float: left;
	width: 100%;
    height: 30%;
	display:flex;
}
.myRewardsPointParent{
	float: left;
	width: 100%;
    height: 70%;
	overflow:auto;
}
.myRewardsPointRepeatParent{
	background:rgb(243,243,243);
    float: left;
    width: 205px !important;
    height: 175px !important;
	margin-top: 1%;
    margin-left: 1%;
	padding:1%;
	padding-bottom:0;	
    border:1px solid lightgray;
}
.medalIconsMyReward{
    float: left;
    width: 100%;
    height: 30%;
}
.rewardsLabelDivMyReward{
    float: left;
    width: 100%;
    height: 25%;
	border-bottom:1px solid rgb(204,204,204);
	display:flex;
}
.rewardsDateDivMyReward{
    float: left;
    width: 100%;
    height: 27%;
	display: flex;
}
.psrRewardColor{
	background:rgb(245,201,162);
}
.unlockParent{
	 float: left;
    width: 60%;
	margin:auto;	
    
}