.fullWidthHeightClass {
	position : relative;
	width  	 : 100%;
	height 	 : 94%;
}
/*ForgotPassword.cshtml*/
.applicationTopStrip {
    position: relative;
    width: 100%;
    height: 8%;
    float: left;
    box-shadow: 0 0 19px 0px #969595;
}  
.applicationMiddleStrip {
	position : relative;
	width  	 : 100%;
	height 	 : 85%;
	float  	 : left;
}
.parentBody {
    position: absolute;
    width: 100%;
    height: 90%;
}
.applicationBottomStrip {
	position : relative;
	width  	 : 100%;
	height 	 : 7%;
	float  	 : left;
}
.backgroundImageEffectLogin {
     position: absolute;
}
.middleBackgroundImage {    
     background: url('../../../Images/loginLanding.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
     -moz-background-size: cover;
     -o-background-size: cover;
     background-size: cover;
}

.loginParentNew {
    margin:auto;
    position : relative;
	width  	 : 60%;
	height 	 : 30%;
	float  	 : left;
    /*background: rgba(255, 255, 255, 0.46);
    box-shadow: 0px 0px 10px 2px;*/
}

.applicationLogoInfo {
     position : relative;
	width  	 : 100%;
	height 	 : 30%;
	float  	 : left;
    display:flex;
}

.applicationThemeMessage {
    position : relative;
	width  	 : 100%;
	height 	 : 30%;
	float  	 : left;
    display:flex;
}

.actionOnLoginPage {
    position : relative;
	width  	 : 100%;
	height 	 : 30%;
	float  	 : left;
    display:flex;
}
.basicCssClass {
     position : relative;
     float  	 : left;
}
.boldRedClass {
    color:red !important;

}   
.boldWhiteClass {
    color:white !important;
}  
.boldBlackClass {
    background-color:black !important;
}
.roundedCornerButton {
    width:125px !important;
    border-radius:20px !important;
}
.appLogoDefaultClass {
    height: 63px;
    width:40px;
    position: absolute;
    top: 2%;
      transition: all ease 0.8s;
    left: 2%;
    background:url('../../../Images/icons/kindlespurlogo.png');   
    background-size: cover;
    z-index:1;
}
.appLogoAfterClick {
    height: 46px !important;
    width: 30px !important;
    top: 2.5% !important;
    left: 2% !important;
     z-index:1;
    transition: all ease 0.8s;
}
.smallAppLogoParent {
    position: absolute;
    top: 2%;
    left: 5%;
      z-index:1;
     transform: scale(0);
     transition: all ease 0.8s;
}
.displaySmallLogo {
    transform: scale(1) !important;
    transition: all ease 0.8s;
}
.showLandingPageTheme {
    transform: scale(0);
    transition: all ease 0.8s;
}
.hideLandingPageTheme {
     transition: all ease 0.8s; 
     transform: scale(0) !important;   
}
.blueButton {
        background-color: #12baf8 !important;   
}
.demoLandingPage {
     transition: all ease 1s;
     z-index:0;
      opacity:0;
      top:-0%;  
        width:80%;
      height:0%;
      left: 20%;
      position: absolute  !important;
      
}
.loginLandingPage {
     transition: all ease 1s;
       z-index:0;
       opacity:0;
       top:-0%;
         width:80%;
      height:0%;
     left: 20%;
      
        position: absolute  !important;
}
.loadDemosPageClass {
     transition: all ease 1s;
     z-index:1 !important;
     opacity:1 !important;
     top:0% !important;
      position: absolute  !important;
      height:100%;
    
    
}
.loadDemosPageClass {
     transition: all ease 1s;
     z-index:1 !important;
     opacity:1 !important;
      top:0% !important;
       position: absolute  !important;
      height:100%;
     
}
.signupInfoDiv {
    width: 100%;
    height: 10%;
    display:flex;
}
.loginPaneParent {
    width: 100%;
    height: 90%;
    display:flex;
}
.signupInfoDivParent {
  margin:auto;margin-right:0%;
  width: 25%;
    height: 100%;
   
}
.left-addon-Don {
   
    position: absolute;
     transform: scale(0);
    transition: all ease 0.8s;
}
.backToLogin {
     width: 100%;
      height: 100%;
    position: absolute;
     transform: scale(0);
    transition: all ease 0.8s;
}
.loginpanelCarousel {
    margin:auto;
    

     width: 50%;
      height: 75%;
}
.addEmailabel {
        top: 5px  !important;
}
.animationClassForNotValid {

     -webkit-animation:animationForNotValid 2s linear 0 infinite;
  -moz-animation:animationForNotValid 2s linear 0 infinite;
  animation:animationForNotValid 2s linear 0 infinite;
}

/* ANIMATIONS ================ */
@-webkit-keyframes animationForNotValid {
	from { right : 2%; }
  to 	{ right : 8%;}
}
@-moz-keyframes animationForNotValid {
	from { right : 2%; }
  to 	{ right : 8%; }
}
@keyframes animationForNotValid {
	from { right : 2%;}
  to 	{ right : 8%; }
}





















.staticStringMessage{
    position: relative;
    width: 35%;
    margin: 10%;
    float: left;
    margin-right: 0;
    margin-left: 18%;
    margin-top: 10%
}

.systemTheory{
float: left;
    position: relative;
    width: 100%;
    margin: 2%;
    margin-left: 0;
}
.signupLoginParentLogin{
    position: relative;
    width: 18%;
    height: 80%;
    padding: 1%;
    float: left;
    margin: 2%;
    margin-top: 3.5%;
    background : white;
  
}
.signupForm{
    position: relative;
    border-bottom: 1px solid;
    height: 38%;
    margin-bottom: 4%;
 
}
.signupNewHereLabel{
	margin:0;
    padding : 0;
    position: relative;
    margin-right: 2%;
	font-weight: 100!important;
	opacity: 0.3;
    float: left;
}
.sigupLabel{
	margin:0;
	padding : 0;
	position: relative;
	float: left;
}

.formDetails{
        position: relative;
    width: 100%;
    float: left;
    margin: 2.5%;
    margin-left: 0;
    margin-right: 0;
}
.inputTagStyle {
	margin: 0;
    width: 41.5%;
    padding: 2%;
    position: relative;
    float: left;
}

.signupButton {
	background-color:#FF0100;
	border:0px solid #FF0100;
	display:inline-block;
	cursor:pointer;
	font-family: Roboto-Regular;
	color:#ffffff;
	text-align: center;
    padding: 3px; 
    font-size: 11px;
    font-weight: 100;
    float : left;
    width: 70px;
    height: 30px;
}

.resetClass {
	margin:0;
	padding :0;
}

.forgotPassword{
    float: left;
    margin: 5%;
    margin-top: 3%;
    opacity: 0.6;
    margin-right: 0;
    text-align: center;
    font-size: 12px;
    float : left;
    text-decoration: underline;
    cursor:pointer;
}
.signInWith{
	position: relative;
    float: left;
    width: 100%;
    display: flex;
    height: 15%;
}
.IN-widget {
        margin: auto auto;
}
.signInWithLabel{
    margin: 10%;
    width: auto;
    position: relative;
    float: left;
    margin-bottom: 7%;
}
.signInWithTerms {
    position: relative;
    float: left;
    width : 100%	
}
.signInWithTerms p {
	margin:0.5%;
	padding :0;
	font-size : 9px;
	float :left;
    opacity: 1.4;
}
.bottomStripOption{
    display: flex;
	position: relative;
    float: left;
    margin: auto;
}
.bottomStripOption li{
	position: relative;
    float: left;
    font-size : 10px;
    opacity : 0.9;
    margin: 5px;
    cursor:pointer;
}
.invalidEmailNotify{
	border:1px solid #FF0100;
}

.close {
  float: right;
  font-size: 20px;
  font-weight: bold;
  line-height: 13.5px;
  text-shadow: 0 1px 0 #ffffff;
  filter: alpha(opacity=25);
  -moz-opacity: 0.25;
  opacity: 0.25;
  color: black;
 
}

.alert-message.success {
    background-color: #57a957;
    background-repeat: repeat-x;
    color:white;
    height: 42px;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    display: inline-flex;
    float: left;
}

.alert-message.error {
    background-color: #c43c35;
    background-repeat: repeat-x;
    color:white;
    height: 42px;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    display: inline-flex;
    float: left;
}


.hiddenErrorNotificationClass{
    margin-top: -60px;       
    margin-left: 30%;
    margin-right: 30%;
    opacity: 0;
    position :absolute;
}
.showErrorNotificationClass{
    margin-top: 5px;
    opacity: 1;
    margin: auto;
    margin-left: 40%;
}
.alert-message1{
    padding: 4px;
    margin-top: 4%;
    margin: auto;
}
.closealert-padding{
    margin: 5px -25px 0px 0px;
    padding: 0px;
}
.master-the-art{
     margin:9%;
     margin-bottom:0;
     font-style:oblique;
}
.of-growing{
     margin-left: 9%;
}
.knowledge-tree{
    margin-left:9%;
    font-weight: 700;
    font-size: xx-large;
}
.questforexchange{
    margin-left: 9%;
    font-size: 12px;
    margin:1%;
}
.login-Para{
    margin:1%;
    margin-left: 9%;
    font-size: 12px;
    font-family: Roboto-Regular;
}
.email-inputTagStyle {
    margin: 0;
    padding: 2%;
    position: relative;
    float: left;
    width: 94%;
}
/*.forgotpass-Email{
    height : auto ! important;
    margin-top:14%;
    position: relative;
    width: 18%;
    height: 71%;
    padding: 2%;
    float: left;
    margin: 2%;
    background: white;
}
.forgotpasschild-Email{
    border : 0px solid black !important;
    height: 38% !important;
    margin-bottom: 0;
}*/
.alert {
  padding: 8px 35px 8px 14px;
  margin-bottom: 18px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  background-color: #fcf8e3;
  border: 1px solid #fbeed5;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  color: #c09853;
}

/*new alert css*/
.alert-success {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #468847;
}
.alert-error {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48;
}
.close1 {
  float: right;
  font-size: 20px;
  font-weight: bold;
  line-height: 18px;
  color: #000000;
  text-shadow: 0 1px 0 #ffffff;
  opacity: 0.2;
  filter: alpha(opacity=20);
}
.loginFont{
    font-size:12px;
}
