 .applicationMiddleStrip {
            position: relative;
            width: 100%;
            height: 85%;
            float: left;
        }

        .applicationBottomStrip {
            position: relative;
            width: 100%;
            height: 7%;
            float: left;
        }

        .middleBackgroundImage {
            background-color: gray;
        }

        .staticStringMessage {
            position: relative;
            width: 35%;
            margin: 10%;
            float: left;
            margin-right: 0;
            margin-left: 18%;
            margin-top: 10%;
        }

        .landingSlogan {
            margin: 1%;
            font-family: sans-serif;
        }

        .systemTheory {
            float: left;
            position: relative;
            width: 100%;
            margin: 2%;
            margin-left: 0;
        }

        .signupLoginParent {
            position: relative;
            width: 18%;
            height: 71%;
            padding: 2%;
            float: left;
            margin: 2%;
            margin-top: 3.5%;
            background: white;
        }

        .signupForm {
            position: relative;
            border-bottom: 1px solid;
            height: 38%;
        }

        .signupNewHereLabel {
            margin: 0;
            padding: 0;
            position: relative;
            margin-right: 2%;
            font-weight: 100 !important;
            opacity: 0.3;
            float: left;
        }

        .sigupLabel {
            margin: 0;
            padding: 0;
            position: relative;
            float: left;
        }

        .formDetails {
            position: relative;
            width: 100%;
            float: left;
            margin: 2.5%;
            margin-left: 0;
            margin-right: 0;
        }

        .inputTagStyle {
            margin: 0;
            width: 41.5%;
            padding: 2%;
            position: relative;
            float: left;
        }

        .signupButton {
            background-color: #FF0100;
            border: 0px solid #FF0100;
            display: inline-block;
            cursor: pointer;
            font-family: sans-serif;
            color: #ffffff;
            padding: 3%;
            font-weight: 100;
            float: left;
        }

        .resetClass {
            margin: 0;
            padding: 0;
        }

        .cancelOption {
            float: right;
            margin: 5%;
            opacity: 0.3;
            margin-top: 3%;
            margin-right: 0;
            text-align: center;
            text-decoration: underline;
        }

        .signInWith {
            position: relative;
            float: left;
            width: 100%;
        }

        .signInWithLabel {
            margin: 10%;
            width: auto;
            position: relative;
            float: left;
            margin-bottom: 7%;
        }

        .signInWithTerms {
            position: relative;
            float: left;
            width: 100%;
        }

            .signInWithTerms p {
                margin: 0.5%;
                padding: 0;
                font-size: 9px;
                float: left;
                opacity: 0.4;
            }