body{
     margin: 0;
    float: left;
    display: inline-block;
}
ul,h1,h2,h3,h4,h5,h6{ 
	list-style-type:none;margin:0;padding:0;font-weight: inherit;box-sizing: border-box;-moz-box-sizing:border-box;
}
.genericPointerClass {
            cursor: pointer;
        }
.fontClass {
	font-family: sans-serif;
}

  ::-webkit-scrollbar {
            height: 3px;
            width: 3px;
        }

        ::-webkit-scrollbar-thumb {
            background-color: #A9A9A9;
        }
        .mentorThemeColor {
            background-color: rgb(0,73,45);
        }

        .mentorBorderColor {
            border: 7px solid rgb(0,73,45);
        }
        .mentorColor {
            border-color: rgb(0,73,45);
        }
        .menteeThemeColor {
            background-color: rgb(132,194,37);
        }

        .menteeBorderColor {
            border: 7px solid rgb(132,194,37);
        }
        .menteeColor {
            border-color: rgb(132,194,37);
        }
        .coacheeThemeColor {
            background-color: rgb(248,195,0);
        }

        .coacheeBorderColor {
            border: 7px solid rgb(248,195,0);
        }
        .coacheeColor {
            border-color: rgb(248,195,0);
        }
        .coachThemeColor {
            background-color: rgb(231,120,23);
        }

        .coachBorderColor {
            border: 7px solid rgb(231,120,23);
        }
        .coachColor {
            border-color: rgb(231,120,23);
        }