@font-face {
    font-family: 'Roboto-Regular';
    src: url('../../fonts/Roboto-Regular.ttf') format('truetype');
}
body{
     margin: 0;
    float: left;
    display: inline-block;
}
ul,h1,h2,h3,h4,h5,h6{ 
	list-style-type:none;margin:0;padding:0;font-weight: inherit;box-sizing: border-box;-moz-box-sizing:border-box;
}
.genericPointerClass {
            cursor: pointer;
        }
.fontClass {
	font-family: Roboto-Regular;
}

 ::-webkit-scrollbar {
            height: 3px;
            width: 3px;
 }

::-webkit-scrollbar-thumb {
    background-color: #A9A9A9;
}
.mentorThemeColor {
    background-color: rgb(0,73,45) !important;
}

.mentorBorderColor {
    border: 7px solid rgb(0,73,45) !important;
}
.mentorColor {
    border-color: rgb(0,73,45) !important;
}
.menteeThemeColor {
    background-color: rgb(132,194,37) !important;
}

.menteeBorderColor {
    border: 7px solid rgb(132,194,37) !important;
}
.menteeColor {
    border-color: rgb(132,194,37) !important;
}
.coacheeThemeColor {
    background-color: rgb(248,195,0) !important;
}

.coacheeBorderColor {
    border: 7px solid rgb(248,195,0) !important;
}
.coacheeColor {
    border-color: rgb(248,195,0) !important;
}
.coachThemeColor {
    background-color: rgb(231,120,23) !important;
}

.coachBorderColor {
    border: 7px solid rgb(231,120,23) !important;
}
.coachColor {
    border-color: rgb(231,120,23) !important;
}

.triangleArrowUp {
  width: 0; 
  height: 0; 
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid black;
}
.triangleArrowDown {
  width: 0; 
  height: 0; 
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid #f00;
}

.triangleArrowRight {
  width: 0; 
  height: 0; 
  border-top: 60px solid transparent;
  border-bottom: 60px solid transparent;
  border-left: 60px solid green;
}

.triangleArrowLeft {
  width: 0; 
  height: 0; 
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent; 
  border-right:10px solid blue; 
}

input[type=range] {
    /*removes default webkit styles*/
    -webkit-appearance: none;
    
    /*fix for FF unable to apply focus style bug */
    border: 1px solid white;
    
    /*required for proper track sizing in FF*/
    width: 300px;
}
input[type=range]::-webkit-slider-runnable-track {
    height: 1px;
    background: #ddd;
    border: none;
    border-radius: 3px;
}
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background: rgb(231,120,23);
    margin-top: -4px;
}
input[type=range]:focus {
    outline: none;
}
input[type=range]:focus::-webkit-slider-runnable-track {
    background: #ccc;
}

input[type=range]::-moz-range-track {
   
    height: 1px;
    background: #ddd;
    border: none;
    border-radius: 3px;
}
input[type=range]::-moz-range-thumb {
    border: none;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background: rgb(231,120,23);
}

/*hide the outline behind the border*/
input[type=range]:-moz-focusring{
    outline: 1px solid white;
    outline-offset: -1px;
}

input[type=range]::-ms-track {
    
    height: 1px;
    
    /*remove bg colour from the track, we'll use ms-fill-lower and ms-fill-upper instead */
    background: transparent;
    
    /*leave room for the larger thumb to overflow with a transparent border */
    border-color: transparent;
    border-width: 3px 0;

    /*remove default tick marks*/
    color: transparent;
}
input[type=range]::-ms-fill-lower {
    background: #777;
    border-radius: 10px;
}
input[type=range]::-ms-fill-upper {
    background: #ddd;
    border-radius: 10px;
}
input[type=range]::-ms-thumb {
    border: none;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background: rgb(231,120,23);
}
input[type=range]:focus::-ms-fill-lower {
    background: #888;
}
input[type=range]:focus::-ms-fill-upper {
    background: #ccc;
}


.link line {
  stroke: #696969;
}

.selectedNode {
	stroke: rgb(31, 117, 196) !important;
	stroke-width: 5px !important;
	opacity: 0.3;
}

.link line.double {
  stroke: #fff;
  stroke-width: 2px;
}

.link line.triple {
  stroke-width: 3px;
}

.node circle {
  stroke: #000;
  stroke-width: 1.5px;
}

.node text {
  font: 10px sans-serif;
  pointer-events: none;
}
