
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <div> 
        @ViewBag.ErrorMessage <br />
         <a href="\User\Login">click here to login</a>
    </div>
</body>
</html>
