@{Html.RenderAction("Index", "Home");}
<div class="parentBody" ng-controller="ksLoginController">
    <div class="applicationTopStrip">
        <div class="applicationLogo">
            <img ng-click="navigateAsPerRole(4)" class="genericPointerClass" src="~/Images/icons/kindlespurlogo.png" alt="logo" style="height: auto; width: 72%; margin: auto;" />
        </div>
        <div class="hiddenErrorNotificationClass" ng-class="{ 'showErrorNotificationClass' : displayAlert.showAlert  == true}">

            <div class="alert-message success" ng-show="displayAlert.formatType == '1'">
                <p class="alert-message1">{{displayAlert.message}}</p>
                <a class="close" href="#" ng-click="displayAlert.showAlert = false">×</a>
               
            </div> @*Green*@

            @*red*@
            <div class="alert-message error" ng-show="displayAlert.formatType == '2'">

                <p class="alert-message1">{{displayAlert.message}}</p>
                <a class="close" href="#" ng-click="displayAlert.showAlert = false">×</a>
            </div>
        </div>

    </div>
    <div class="applicationMiddleStrip">
        <div class="fullWidthHeightClass middleBackgroundImage">
            <div class="staticStringMessage">
                <h1 class="landingSlogan fontClass" style="margin: 9%;margin-bottom: 0;font-style: oblique;">MASTER THE ART</h1>
                <h3 class="fontClass" style="margin-left: 9%;">OF GROWING</h3>
                <h1 class="fontClass" style="margin-left:9%;font-weight: 700;font-size: xx-large;">A KNOWLEDGE TREE</h1>

                <div class="systemTheory">
                    <h4 class="landingSlogan" style="margin-left: 9%;font-size: 12px;">QUEST FOR EXCHANGING KNOWLEDGE,</h4>
                    <h4 class="landingSlogan" style="margin-left: 9%;font-size: 12px;font-size: 12px;">WHERE COACHING/MENTORING REDEFINES,</h4>	     <h4 class="landingSlogan" style="margin-left: 9%;font-size: 12px;">THE WAY WE PERCEIVE IT,IGNITED TO SHARE</h4>    <h4 class="landingSlogan" style="margin-left: 9%;font-size: 12px;">KNOWLEDGE,URGE TO LEARN-</h4>                       <h4 class="landingSlogan" style="margin-left: 9%;font-size: 12px;">MASTER BLEND OF KNOWLEDGE I & U</h4>
                </div>
            </div>
            <div class="signupLoginParent" style="height : auto ! important;margin-top:14%">

                <div class="signupForm" style="border : 0px solid black !important;height: 38% !important;margin-bottom: 0;">
                    <h4 class="signupNewHereLabel fontClass">FORGOT PASSWORD</h4>

                    <form name="myForm">
                        <div class="formDetails" ng-if="isVerified == false">
                            <input class="inputTagStyle fontClass" style="width: 94%;" ng-model="signupDetails.EmailAddress" type="email" placeholder="ENTER EMAIL ID" />
                        </div>

                        <div class="msg-block" ng-show="myForm.$error">
                            <span class="msg-error" ng-show="myForm.pw2.$error.pwmatch">Passwords don't match.</span>
                        </div>
                        <div class="formDetails">
                            <button style="width: 70px;height: 30px;" class="signupButton fontClass" ng-click="forgotPasswordClick()">{{ isVerified == false ? 'VERIFY' : 'SAVE' }}</button>
                            <h5 class="resetClass cancelOption fontClass" ng-click="cancelClick()">CANCEL</h5>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="applicationBottomStrip">
        <ul class="bottomStripOption">
            <li class="fontClass">ABOUT</li>
            <li class="fontClass">FEEDBACK</li>
            <li class="fontClass">PRIVACY POLICY</li>
            <li class="">TERMS AND CONDITIONS</li>
        </ul>
    </div>
</div>
