
@{
    Layout = null;   
}

<!DOCTYPE html>


<html>
<head>
   

    <meta name="viewport" content="width=device-width" />
    <title>ForgotPassword</title>
</head>
<body>
    <div class="parentBody" ng-controller="ksLoginController">
        <div class="applicationTopStrip">
            <div class="hiddenClass" ng-class="{ 'showClass' : displayAlert.showAlert  == true}">

                <div class="alert-message success" ng-show="displayAlert.formatType == '1'">
                    <p class="alert-message1">{{displayAlert.message}}</p>
                    <a class="close" href="#" ng-click="displayAlert.showAlert = false">×</a>
                    
                </div> @*Green*@

                <div class="alert-message error" ng-show="displayAlert.formatType == '2'">
                    <p class="alert-message1">{{displayAlert.message}}</p>
                    <a class="close" href="#" ng-click="displayAlert.showAlert = false">×</a>
                  
                </div>  @*red*@
            </div>
        </div>
        <div class="applicationMiddleStrip">
            <div class="fullWidthHeightClass middleBackgroundImage">
                <div class="staticStringMessage">
                    hello world!!!
                    <div class="signupLoginParentLogin">
                        <div class="signupForm" style="height: 38% !important;margin-bottom: 0;">
                            <form name="myForm">
                                <div class="formDetails">
                                    <input type="text" name="emailId" />
                                    <button type="button" style="width: 70px;height: 30px;" class="signupButton fontClass btn btn-default" ng-click="forgotPasswordClick">SUBMIT</button>
                                </div>
</form>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
