
@{
    Layout = null;   
}

<!DOCTYPE html>


<html>
<head>
   

    <meta name="viewport" content="width=device-width" />
    <title>ForgotPassword</title>
</head>
<body>
    <div class="parentBody" ng-controller="ksLoginController">
        <div class="applicationTopStrip"></div>
        <div class="applicationMiddleStrip">
            <div class="fullWidthHeightClass middleBackgroundImage">
                <div class="staticStringMessage">
                    hello world!!!
                    <div class="signupLoginParentLogin">
                        <div class="signupForm" style="height: 38% !important;margin-bottom: 0;">
                            <form name="myForm">
                                <div class="formDetails">
                                    <input type="text" name="emailId" />
                                    <button type="button" style="width: 70px;height: 30px;" class="signupButton fontClass btn btn-default" ng-click="forgotPasswordClick">SUBMIT</button>
                                </div>
</form>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
