 <div class="parentBody" ng-controller="ksLoginController">
   
              <div class="applicationTopStrip">
                  <div class="hiddenClass" ng-class="{ 'showClass' : displayAlert.showAlert  == true}">
            
                <div class="alert-message success" ng-show="displayAlert.formatType == '1'">
                    <a class="close" href="#" ng-click= "displayAlert.showAlert = false">×</a>
                    <p>{{displayAlert.message}}</p>
                </div>
            @*Green*@
            
                <div class="alert-message error" ng-show="displayAlert.formatType == '2'">
                    <a class="close" href="#">×</a>
                    <p>{{displayAlert.message}}</p>
                </div>

            @*red*@
        </div>
              </div>
              <div class="applicationMiddleStrip">
                  <div class="fullWidthHeightClass middleBackgroundImage">
                      <div class="staticStringMessage">
                          <h1 class="landingSlogan fontClass" style="margin: 9%;margin-bottom: 0;font-style: oblique;">MASTER THE ART</h1>
                          <h3 class="fontClass" style="margin-left: 9%;">OF GROWING</h3>
                          <h1 class="fontClass" style="margin-left:9%;font-weight: 700;font-size: xx-large;">A KNOWLEDGE TREE</h1>

                          <div class="systemTheory">
                              <h4 class="landingSlogan" style="margin-left: 9%;font-size: 12px;">QUEST FOR EXCHANGING KNOWLEDGE,</h4>
                              <h4 class="landingSlogan" style="margin-left: 9%;font-size: 12px;font-size: 12px;">WHERE COACHING/MENTORING REDEFINES,</h4>	     <h4 class="landingSlogan" style="margin-left: 9%;font-size: 12px;">THE WAY WE PERCEIVE IT,IGNITED TO SHARE</h4>    <h4 class="landingSlogan" style="margin-left: 9%;font-size: 12px;">KNOWLEDGE,URGE TO LEARN-</h4>                       <h4 class="landingSlogan" style="margin-left: 9%;font-size: 12px;">MASTER BLEND OF KNOWLEDGE I & U</h4>
                          </div>
                      </div>
                      <div class="signupLoginParentLogin">
                          <div class="signupForm" style="margin-bottom: 4%;">
                              <h4 class="signupNewHereLabel fontClass">NEW HERE?</h4>
                              <h4 class="sigupLabel fontClass">SIGN UP!</h4>
                              <form name="myForm">
                                  <div class="formDetails">
                                      <input class="inputTagStyle fontClass" type="text" ng-model="signupDetails.FirstName" placeholder="FIRST NAME" ng-required />
                                      <input class="inputTagStyle fontClass" style="margin-left: 5%;" ng-model="signupDetails.LastName" type="text" placeholder="LAST NAME" ng-required />
                                  </div>
                                  <div class="formDetails">
                                      <input class="inputTagStyle fontClass" style="width: 94%;" type="email" ng-keyup="$event.keyCode == 13 && signupClick()" ng-class="{ invalidEmailNotify : emailValidate == false}"  focus-me set-Focus="false" blur="checkEmailFormat()" ng-model="signupDetails.EmailAddress" placeholder="E-MAIL ID" ng-required />
                                  </div>
                                  <div class="formDetails">
                                      <button type="button" style="width: 70px;height: 30px;" class="signupButton fontClass btn btn-default" ng-click="signupClick()">SIGNUP</button>
                                  </div>
                              </form>
                          </div>
                          <div class="signupForm" style="height: 38% !important;margin-bottom: 0;">
                              <h4 class="sigupLabel fontClass">SIGN IN!</h4>
                              <form name="myForm">
                                  <div class="formDetails">
                                      <input class="inputTagStyle fontClass" style="width: 94%;" type="email" ng-class="{ invalidEmailNotify : emailValidate == false}"  focus-me set-Focus="true" blur="checkEmailFormat()" ng-model="loginDetails.emailAddress" placeholder="EMAIL ID" ng-required />
                                  </div>
                                  <div class="formDetails">
                                      <input type="password" class="inputTagStyle fontClass" ng-keyup="$event.keyCode == 13 && loginClick()" style="width: 94%;" ng-model="loginDetails.password" placeholder="PASSWORD" ng-required />
                                  </div>
                                  <div class="formDetails">
                                      <button type="button" style="width: 70px;height: 30px;" class="signupButton fontClass btn btn-default" ng-click="loginClick()">SUBMIT</button>       
                                      
                                      <h5 class="forgotPassword fontClass" style="margin: 10px;" ng-click="forgotPasswordClickFunc($event)">ForgotPassword</h5>
                                  </div>
                              </form>
                          </div>
                          <div class="signInWith" id="appBody">
                              @*<h4 class="signInWithLabel fontClass">SIGN IN WITH</h4>*@
                              <script class="signInWithLabel" type="in/Login"></script>
                          </div>
                          <div class="signInWithTerms">
                              <p class="fontClass">
                                  By Signing In, I accept the Terms and Conditions & Privacy Policy
                              </p>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="applicationBottomStrip">
                  <bottom-Main-Strip></bottom-Main-Strip>
              </div>
     
</div>




<div class="modal fade" id="forgotPassword" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <p>Forgot your Password? </p>
                <button class="close" data-dissmiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <p>hello world</p>
            </div>
            <div class="modal-footer">
                <a class="btn btn-primary" data-dissmiss="modal">Submit</a>
                <a class="btn btn-default" data-dissmiss="modal">Close</a>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery-ui-1.10.4.custom.js"></script>
<script src="~/Scripts/bootstrap.js"></script>

