 <div class="parentBody" ng-controller="ksLoginController">
              <div class="applicationTopStrip"></div>
              <div class="applicationMiddleStrip">
                  <div class="fullWidthHeightClass middleBackgroundImage">
                      <div class="staticStringMessage">
                          <h1 class="landingSlogan fontClass" style="margin: 9%;margin-bottom: 0;font-style: oblique;">MASTER THE ART</h1>
                          <h3 class="fontClass" style="margin-left: 9%;">OF GROWING</h3>
                          <h1 class="fontClass" style="margin-left:9%;font-weight: 700;font-size: xx-large;">A KNOWLEDGE TREE</h1>

                          <div class="systemTheory">
                              <h4 class="landingSlogan" style="margin-left: 9%;font-size: 12px;">QUEST FOR EXCHANGING KNOWLEDGE,</h4>
                              <h4 class="landingSlogan" style="margin-left: 9%;font-size: 12px;font-size: 12px;">WHERE COACHING/MENTORING REDEFINES,</h4>	     <h4 class="landingSlogan" style="margin-left: 9%;font-size: 12px;">THE WAY WE PERCEIVE IT,IGNITED TO SHARE</h4>    <h4 class="landingSlogan" style="margin-left: 9%;font-size: 12px;">KNOWLEDGE,URGE TO LEARN-</h4>                       <h4 class="landingSlogan" style="margin-left: 9%;font-size: 12px;">MASTER BLEND OF KNOWLEDGE I & U</h4>
                          </div>
                      </div>
                      <div class="signupLoginParentLogin">
                          <div class="signupForm" style="margin-bottom: 4%;">
                              <h4 class="signupNewHereLabel fontClass">NEW HERE?</h4>
                              <h4 class="sigupLabel fontClass">SIGN UP!</h4>
                              <form name="myForm">
                                  <div class="formDetails">
                                      <input class="inputTagStyle fontClass" type="text" ng-model="signupDetails.FirstName" placeholder="FIRST NAME" ng-required />
                                      <input class="inputTagStyle fontClass" style="margin-left: 5%;" ng-model="signupDetails.LastName" type="text" placeholder="LAST NAME" ng-required />
                                  </div>
                                  <div class="formDetails">
                                      <input class="inputTagStyle fontClass" style="width: 94%;" type="text" ng-class="{ invalidEmailNotify : emailValidate == false}"  focus-me set-Focus="false" blur="checkEmailFormat()" ng-model="signupDetails.EmailAddress" placeholder="E-MAIL ID" ng-required />
                                  </div>
                                  <div class="formDetails">
                                      <button type="button" class="signupButton fontClass btn btn-default" ng-click="signupClick()">SIGNUP</button>
                                  </div>
                              </form>
                          </div>
                          <div class="signupForm" style="height: 38% !important;margin-bottom: 0;">
                              <h4 class="sigupLabel fontClass">SIGN IN!</h4>
                              <form name="myForm">
                                  <div class="formDetails">
                                      <input class="inputTagStyle fontClass" style="width: 94%;" type="text" ng-class="{ invalidEmailNotify : emailValidate == false}"  focus-me set-Focus="true" blur="checkEmailFormat()" ng-model="loginDetails.emailAddress" placeholder="EMAIL ID" ng-required />
                                  </div>
                                  <div class="formDetails">
                                      <input type="password" class="inputTagStyle fontClass" style="width: 94%;" ng-model="loginDetails.password" placeholder="PASSWORD" ng-required />
                                  </div>
                                  <div class="formDetails">
                                      <button type="button" class="signupButton fontClass btn btn-default" ng-click="loginClick()">SUBMIT</button>
                                      <h5 class="forgotPassword fontClass">FORGOT PASSOWORD</h5>
                                  </div>
                              </form>
                          </div>
                          <div class="signInWith" id="appBody">
                              <h4 class="signInWithLabel fontClass">SIGN IN WITH</h4>
                              <script type="in/Login"></script>
                          </div>
                          <div class="signInWithTerms">
                              <p class="fontClass">
                                  By Signing In, I accept the unknowns Terms of Services & Privacy Policy
                              </p>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="applicationBottomStrip">
                  <bottom-Main-Strip></bottom-Main-Strip>
              </div>
     
</div>
