@{Html.RenderAction("Index", "Home");}
<div class="parentBody" ng-controller="ksLoginController">
        <div class="applicationTopStrip"></div>
        <div class="applicationMiddleStrip">
            <div class="fullWidthHeightClass middleBackgroundImage">
                <div class="staticStringMessage">
                    <h1 class="landingSlogan fontClass" style="margin: 9%;margin-bottom: 0;font-style: oblique;">MASTER THE ART</h1>
                    <h3 class="fontClass" style="margin-left: 9%;">OF GROWING</h3>
                    <h1 class="fontClass" style="margin-left:9%;font-weight: 700;font-size: xx-large;">A KNOWLEDGE TREE</h1>

                    <div class="systemTheory">
                        <h4 class="landingSlogan" style="margin-left: 9%;font-size: 12px;">QUEST FOR EXCHANGING KNOWLEDGE,</h4>
                        <h4 class="landingSlogan" style="margin-left: 9%;font-size: 12px;font-size: 12px;">WHERE COACHING/MENTORING REDEFINES,</h4>	     <h4 class="landingSlogan" style="margin-left: 9%;font-size: 12px;">THE WAY WE PERCEIVE IT,IGNITED TO SHARE</h4>    <h4 class="landingSlogan" style="margin-left: 9%;font-size: 12px;">KNOWLEDGE,URGE TO LEARN-</h4>                       <h4 class="landingSlogan" style="margin-left: 9%;font-size: 12px;">MASTER BLEND OF KNOWLEDGE I & U</h4>
                    </div>
                </div>
                <div class="signupLoginParent" style="height : auto ! important;margin-top:14%">

                    <div class="signupForm" style="border : 0px solid black !important;height: 38% !important;margin-bottom: 0;">
                        <h4 class="signupNewHereLabel fontClass">CONFIRM</h4>
                        <h4 class="sigupLabel fontClass">SIGN UP!</h4>
                        <form name="myForm">
                            <div class="formDetails">
                                <input class="inputTagStyle fontClass" style="width: 94%;" ng-model="signupDetails.password" type="password" placeholder="ENTER PASSOWORD" />
                            </div>
                            <div class="formDetails">
                                <input class="inputTagStyle fontClass" style="width: 94%;" ng-model="signupDetails.confirmPassword" type="password" placeholder="CONFIRM PASSWORD" pw-check="signupDetails.password" />
                            </div>
                            <div class="msg-block" ng-show="myForm.$error">
                                <span class="msg-error" ng-show="myForm.pw2.$error.pwmatch">Passwords don't match.</span>
                            </div>
                            <div class="formDetails">
                                <button class="signupButton fontClass" ng-click="savePassword()">SAVE</button>
                                @*<h5 class="resetClass cancelOption fontClass" ng>CANCEL	</h5>*@
                            </div>
                        </form>
                    </div>
                  </div>
            </div>
        </div>
        <div class="applicationBottomStrip">
            <ul class="bottomStripOption">
                <li class="fontClass">UNKNOWN 2016</li>
                <li class="fontClass">USER AGREEMENT</li>
                <li class="fontClass">PRIVACY POLICY</li>
                <li class="fontClass">COMMUNITY GUIDELINES</li>
                <li class="fontClass">COOKIE POLICY</li>
                <li class="fontClass">COPIRIGHT POLICY</li>
                <li class="fontClass">QUEST CONTROLS</li>
                <li class="fontClass">LANGUAGE</li>
            </ul>
        </div>
    </div>
