@{Html.RenderAction("Index", "Home");}
<div class="parentBody fontClass" ng-controller="ksLoginController">
       <div class="applicationTopStrip">
        <div class="applicationLogo">
            <img ng-click="navigateAsPerRole(4)" class="genericPointerClass" src="~/Images/icons/kindlespurlogo.png" alt="logo" style="height: auto; width: 72%; margin: auto;" />
        </div>
        <div class="hiddenErrorNotificationClass" style="margin-bottom: 0;" ng-class="{ 'showErrorNotificationClass' : displayAlert.showAlert  == true}">
            @*Green*@
            <div class="alert alert-success" ng-show="displayAlert.formatType == '1'">
                <h5 class="closealert-padding close" ng-click="displayAlert.showAlert = false">×</h5>
                <h5 class="alert-message1">{{displayAlert.message}}</h5>

            </div>

            @*red*@
            <div class="alert alert-error" style="margin-bottom: 0;" ng-show="displayAlert.formatType == '2'">
                <h5 class="closealert-padding close" ng-click="displayAlert.showAlert = false">×</h5>
                <h5 class="alert-message1">{{displayAlert.message}}</h5>

            </div> 
            <h5 style="position:absolute;height:3px;width:100%; background: red;margin: 0;transition:all 0.8s cubic-bezier(0.73, 0.85, 0.58, 1);" ng-style="{ 'width' : (displayAlert.count +'0%') }"></h5>
        </div>

    </div>
    <div class="applicationMiddleStrip">
        <div class="fullWidthHeightClass middleBackgroundImage">
            <div class="staticStringMessage">
                <h1 class="master-the-art fontClass">MASTER THE ART</h1>
                <h3 class="of-growing fontClass">OF GROWING</h3>
                <h1 class="knowledge-tree fontClass">A KNOWLEDGE TREE</h1>

                <div class="systemTheory">
                    <h4 class="login-Para">QUEST FOR EXCHANGING KNOWLEDGE,</h4>
                    <h4 class="login-Para">WHERE COACHING/MENTORING REDEFINES,</h4>	     
                    <h4 class="login-Para">THE WAY WE PERCEIVE IT,IGNITED TO SHARE</h4>    
                    <h4 class="login-Para">KNOWLEDGE,URGE TO LEARN-</h4>                       
                    <h4 class="login-Para">MASTER BLEND OF KNOWLEDGE I & U</h4>
                </div>
            </div>
            <div class="signupLoginParent" style="height : auto ! important;margin-top:14%">

                <div class="signupForm" style="border : 0px solid black !important;height: 38% !important;margin-bottom: 0;">
                    @*<h4 class="signupNewHereLabel fontClass">CONFIRM</h4>*@
                    <h4 class="sigupLabel fontClass">PASSWORD</h4>
                    <br/>
                    <span style="font-size:x-small">(8 or more characters)</span>
                    <form name="myForm">
                        <div class="formDetails">
                            <input class="inputTagStyle fontClass loginFont"  maxlength="20" style="width: 94%;" ng-model="signupDetails.password" type="password" placeholder="ENTER PASSWORD" />
                        </div>
                        <div class="formDetails">
                            <input class="inputTagStyle fontClass loginFont"  maxlength="20" style="width: 94%;" ng-model="signupDetails.confirmPassword" type="password" placeholder="CONFIRM PASSWORD" pw-check="signupDetails.password" />
                        </div>
                        <div class="msg-block" ng-model="initialname" ng-show="myForm.$error">
                            <span class="msg-error" ng-show="myForm.pw2.$error.pwmatch">Passwords don't match.</span>
                        </div>
                        <div class="formDetails">
                            <button class="signupButton fontClass" ng-click="savePassword()">SAVE</button>
                           
                            @*<h5 class="resetClass cancelOption fontClass" ng>CANCEL	</h5>*@
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="applicationBottomStrip">
        <bottom-Main-Strip></bottom-Main-Strip>
    </div>

