@model KindleSpur.Models.User
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>RedirectToLogin</title>
</head>
<body>
    <div> 
        @Html.LabelFor(model => model.FirstName);
        This link is de-activated !!! <a href="\Home\Index">Click here to login</a>
    </div>
</body>
</html>
