.container {
 width: 100%;
    height: 100%;
    position: relative;
    float: left;
    border : 1px solid #F9A946;
 
}
.leftContainer{
  float :left;
  height : auto;
width: 40%;
    margin-top: 25px;
}
.rightContainer{
  float :right;
  height : auto;
    margin-top: 25px;
}
.middleContainer{
  width :calc(100% - 200px);
  float :left;
  height : auto;
}
.outerElement{
	position: relative;
    width: 100px;
    height: 100px;
    text-align: center;
    vertical-align: middle;
    line-height: 100px;
    border-radius: 50%;
	box-shadow: 0 5px 5px -3px rgba(0,0,0,.2),0 8px 10px 1px rgba(0,0,0,.14),0 3px 14px 2px rgba(0,0,0,.12);
}
.iconUser{
    
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
   
}
.iconUser:before{
	content :  "\f007";
        font-size :25px;
	color: #FFF;;
}
.boxToTraverse{
	height: 100px;
	width : 100%;
	float : left;
	
}
.mainOuter{
	float: left;
    height: auto;
    position: relative;
    z-index: 2;
	background-color: #fff;
}
.generalStrip{
	height : 35px;
	width: 100%;
	float: left;
}
.noBorder{
	border: 0px;
}

.focusEle{
	background-color: #F9A946;
	transition : all 4s
}

 .applicationNotiCount {
            height: 19px;
            width: 19px;
            border: 1px solid red;
            border-radius: 50%;
            -moz-border-radius: 50%;
            background-repeat: no-repeat;
            background-size: 100%;
            background-position: 50%50%;
            background-color: red;
        }
.buttonParentCls{
	width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
    align-items: center;
}
/* chat css added */

.chatParent{
	width : 98%;
	height :100%;
        position: relative;
	border : 1px solid #CBCBCB;
    padding: 8px 12px;
    margin: 4px 0 0 0;

}
.chatHeader{
	width : 100%;
	height :60px;

	border-bottom: 3px solid #BDBDBD;
}
.chatMiddle{
	width: 100%;
    height: calc(100% - 140px);
    overflow : hidden; 
    transition : all 1s;

}

.chatMiddle:hover {    overflow-x: hidden;
    overflow-y: auto;  transition : all 1s;
}
.chatBottom{
	background-color: #E1E1E1;
    width: 100%;

    height: 80px;
    border: 1px solid #E0E0E0;
    margin-bottom: 10px;
}
.chatStrongHeader{
	width : 100%;
	height: 100%;
}
.chatStrongHeader h5{
	font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
}
.chatStrongHeader h6{
	padding: 0px 10px;
    font-size: 14px;
    color: #a9a9a9;
    text-transform: uppercase;
}
.chatHalfContainer{
	width: 100%;
    height: 50%;
    float: left;
    display: flex;
    justify-content: space-between;
}
.chatHalfContainerSpan{
	display: flex;
    justify-content: flex-end;
    flex-direction: column;
}
.chatHalfContainerSpanNxt{
	display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: flex-end;
}
.chatHalfContainerSpanNxt h6{
    font-size: 10px;
    color: #a9a9a9;
    text-transform: uppercase;
}
.chatOuterContainer{
	width : 100%;
	height : auto;
	float: left;
	margin: 10px 0px;
    transition: all 1s ease-out;

}
.chatSender{
	padding : 10px;
	background-color : white;
    min-width: 10%;
    max-width: 60%;
    width: auto;
	 width: auto;
	 float :left;
         margin-left: 1%;
             box-shadow: 0 0 19px 0px #969595;
}
.chatSenderImage{
	 float :left;
     width:5%;
}
.chatReceiver{
	padding: 10px;
    background-color: white;
    min-width: 10%;
    max-width: 60%;
    width: auto;
    margin-right: 1%;
    float: right;
        box-shadow: 0 0 19px 0px #969595;
}
.chatReceiverImage{
	  float: right;
      width:6%;
}
.chatBottomOne{
	width: calc(100% - 71px);
	float : left;
	height: 100%;
        display: flex;
}
.chatBottomTwo{
	width: 71px;
	float : left;
	height: 100%;
}
.chatBottomOne textarea{
	    resize: none;
    width: 97%;
    height: 77%;
   
    border: 0px;
    padding: 10px;
    font-size: 14px;
    margin:auto;
}
.iconContainer{
	display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 46%;
}
.chatBottomTwo button{
	    border: 0px;
    padding: 5px 10px;
    font-size: 12px;
    width: 70px;
    height: 30px;
    color: #fff;
    background-color: #D72A1A;
    font-weight:100;
}

.fa{ 
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    cursor:pointer;
   
}
.chatTime{
	
	height :20px;
	float : left;
}
.chatTime h5{
	font-size: 10px;
    color: #a9a9a9;
    text-transform: uppercase;
}

/*popup */
.popupContainer{
	width : 100%;
	height : 100%;
	
	padding: 0px 10px;
}
.popupContainerOne{
	width: 100%;
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.popupContainerTwo{
	    width: 100%;
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.popupContainerTwo h1{
	color: #fff;
    text-transform: uppercase;
    text-align: center;
	    font-size: 25px;
}
.popupContainerThree{
	width: 100%;
    height: 40%;
    display: flex;
    justify-content: center;
}
.popupContainerThree textarea{
	width :75%;
	height :100%;
	background-color : #e1e1e1;
	border :none !important;
	resize : none;
	font-size: 12px
}
.popupContainerFour{
	width: 100%;
    height: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.arrowContainer{
	color: #fff;
    font-size: 25px;
}
.popupContainerFour button{
	    border: 0px;
    padding: 5px 10px;
    font-size: 14px;
    width: 100px;
    height: 28px;
    color: #fff;
    background-color: #D72A1A;
}

.communicationMainPanel{
	float: left;
	position: relative;
	width: 100%;
	height : 93%;
	display:flex;	
}
.conversationPanel{
	float: left;
	width: 25%;
	height : 100%;
	margin:auto auto;
	
}
.communicationPanel{
	float: left;
	width: 75%;
	height : 100%;
	
	margin:auto auto;
}
.parentRoleDetailRightChat{
	position: relative;
	width: 82%;
	height: 80%;
	float : left;margin-top: 2%;
}
.homeLabelInChat {
    position: relative;
    float: left;
    width: 100%;
    height: 9%;
}
.feedbackPanel{
	position: absolute;
    z-index: 2;
    width: 60%;
    height: 90%;
    right: 25%;
}

.conversationPanelDiv{
	float : left;
	width : 94%;
	height : 100%;
	margin-left: 6%;
	overflow : auto;
}
.conversationList{
	float : left;
	width : 99%;
    transition: all 0.5s ease;
	height : 13%;
	border: 1px solid #ddd;
    margin: 4px 0 0 0;
    cursor:pointer;
}
.conversationListPanel{
    float : left;
	width : 94%;
	height : 100%;
	margin:auto auto;
	margin-right: 0;
     border: 1px solid #CBCBCB;
     background-color: #f3f3f3 !important;
	border-radius: 3px;
	display: flex;
}
.trangleOveRideBlack{

    border-top: 12px solid transparent !important;
    border-bottom: 12px solid transparent !important;
    border-left: 12px solid gray !important;
}
.highlightedGrayClass{
	background-color: #CBCBCB !important;
}
.highlightedCompetitor {
	border: 3px solid #ffd331;
}
.conversationParentDiv {
    float : left;
	width : 100%;
	height : 100%;
}
.imageConversation {
    float : left;
	width : 25%;
	height : 100%;
    margin:auto auto;    
	display:flex;
}
.imageConversation img {  
   padding: 2px;
}
.closeSessionClass {
     border: 2px solid #D72A1A;
}
.activeSessionCLass {
     border: 2px solid #4dc725;
}
.nameMessageConversation {
    float : left;     
	width : 74%;
	height : 100%;
    margin:auto auto;
    display:flex;
}
.textFormatConversation {
    float: left;
    width: 100%;
    font-weight: 700;
    font-size: 15px;
    line-height: 20px;
    margin:0;
     transform: none;
}
.highlightedSelctedConversation {
	background: #4dc725;
    border:1px solid #4dc725;
    transition : all 1s;
    width: 1%;
    height: 100%;
     float: left;
}
.highlightedSelctedConversationParent{
    background: #F3F3F3;
    border-right: 1px solid #4dc725;
}
.conversationList :hover {
    background: #EEEEEE;
}
.selectedMenu {
     border-bottom: 2px solid #4dc725 !important;
}

.spinner {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

.model-1 {
  background: white;
  height: 25px;
  float: left;
  width: 25px;
  position: relative;
  margin: auto;
  margin-right: 0;
  cursor:pointer;
}
.model-1 .spinner {
  color: #f00;
  -webkit-animation: color-bubble 2s linear 0s infinite;
  animation: color-bubble 2s linear 0s infinite;
}
.model-1 .spinner:after, .model-1 .spinner:before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: 100%;
  box-shadow: 0 0 0 3px;
  -webkit-animation: spinner-bubble 1.3s linear 0s infinite;
  animation: spinner-bubble 1.3s linear 0s infinite;
  margin: auto;
  width: 10px;
  height: 10px;
  opacity: 0;
}
.model-1 .spinner:before {
  -webkit-animation: spinner-bubble 1.3s linear 2s infinite;
  animation: spinner-bubble 1.3s linear 2s infinite;
}
@-webkit-keyframes spinner-bubble {
  from {
    width: 2px;
    height: 2px;
    opacity: .8;
  }
  to {
    width: 15px;
    height: 15px;
    opacity: 0;
  }
}
@keyframes spinner-bubble {
  from {
    width: 2px;
    height: 2px;
    opacity: .8;
  }
  to {
    width: 15px;
    height: 15px;
    opacity: 0;
  }
}
@-webkit-keyframes color-bubble {
  0% {
    color: #009DDC;
  }
  33% {
    color: #50B949;
  }
  66% {
    color: #EE2D24;
  }
  100% {
    color: #FEB825;
  }
}
@keyframes color-bubble {
  0% {
    color: #009DDC;
  }
  33% {
    color: #50B949;
  }
  66% {
    color: #EE2D24;
  }
  100% {
    color: #FEB825;
  }
}
@-webkit-keyframes color-change {
  0% {
    background: #009DDC;
  }
  33% {
    background: #50B949;
  }
  66% {
    background: #EE2D24;
  }
  100% {
    background: #FEB825;
  }
}
@keyframes color-change {
  0% {
    background: #009DDC;
  }
  33% {
    background: #50B949;
  }
  66% {
    background: #EE2D24;
  }
  100% {
    background: #FEB825;
  }
}

.myFeedBackClass {
    position:absolute;
    width: 96.7%;
    height: 11%;
    top: 0%;
    z-index:-1;
    opacity:1;
    background: white;
    transition : all 1s ease;
   
}
.loadMyFeedBackClass {
    background: white;
    top:12.4%;
    z-index:0;
    height: 72%;
    opacity:1;
    border: 1px solid #CBCBCB;
    background:white;   
     transition : all 1s ease;    
    /*-webkit-animation: widthChangeClasss 0.7s linear 1s;
    animation: widthChangeClasss 0.7s linear 1s;
    animation-fill-mode: forwards;*/
}
/*@keyframes widthChangeClasss {
  0% {
    background: white;
    top:-60%;
     z-index:-1;
     opacity:0;
  }
  25% {
    background: white;
    top:-40%;
     z-index:-1;
     opacity:1;
  }
  40% {
    background: white;
    top:0%;
   z-index:-1;
   opacity:0;
  }
  60% {
    background: white;
    top:5%;
     z-index:1;
     opacity:1;
      border: 1px solid #4dc725;
      background:red;
  }
  75% {
    background: white;
    top:12%;
     z-index:1;
     opacity:1;
      border: 1px solid #4dc725;
      background:red;
  }
  100% {
    background: white   ;
    top:12%;
     border: 1px solid #4dc725;
     z-index:1;
     opacity:1; 
     background:red;
    
  }
}*/

.feedBackCommunicationStrip {
    float: left;
    width:  auto;
    position:absolute;
    right:2%;
    top:3%;
}
.feedBackCommunicationStripParent {
    
    /*display:flex;*/
    width:35px;
    float:left;
    position:relative;
    height:28px;
    /*padding: 4px !important;*/
   
}
.feedBackPanelButton {
    margin:auto;
    transition:all 1s ease;
    transform: scale(1);
    float: left; 
    position:relative;
    text-align: center;    
     padding: 5px !important;
}

.lowOpacityClass {
    opacity : 0.4;
    transition:all 1s ease;
}
.activeOpacityClass {
    opacity : 1;
    transition:all 1s ease;
    
}
.widthClassDIvide {
      width:45% !important;
}
.highlightedGrayColorClass {
    background-color: #CBCBCB !important;
    color: white !important;
}
.systemMessageClass {
    margin-left: 23% !important;
    box-shadow: none; 
    border: 1px solid #ccc;
    display: flex;
    padding: 5px;
    background: #ddd;
        max-width: 50% !important;
       
     float: left; 
    margin: auto;
    border-radius: 0px !important;
}
.systemMessageClass h5 {
    color : #999 !important;
    margin: auto !important;
     word-break:break-all;
}
.heightClassFeed {
    height: 35px !important;
}
.expandedSelectedRequest {
    height: 35% !important;
    transition: all 0.5s ease;
}
.expandedSelectedMeetingRequest {
    height: 85% !important;
    transition: all 0.5s ease;
}

.feedBackCommunicationStrip {
    float: left;
    width:  9%;
    position:absolute;
    right:2%;
    top:3%;
}
.shoiew {
    overflow:hidden;
     width:100%;
    height:30%;
     transition: all 0.8s ease;
}
.hideIFeedbackIcon {
    overflow:hidden;
    width:0%;
     transition: all 0.8s ease;
    height:0;
    color:gray;
}
.iuIconParentShow {
    transition:all 0.8s ease;
    transform: scale(1);
}
.iuIconParentHide {
    transition:all 0.8s ease;
    transform: scale(0);
    color:gray;
    opacity:0.7;

}
.ChangeHeightIUIcon {
    transition:all 0.8s ease;
    border-radius:0  !important;
    width:100% !important;
    color:red !important;
    border-color:#f28a5e !important;
    opacity:1;
}
.normalHeightIUIcon {
    color:gray;
    transition:all 0.8s ease;
}
.iuIconFeedBack {
     transition:all 0.8s ease;
    transform: scale(1);
}

/* Animation stuff */

 .sub-menu{
  float: left;
  background: white;
       width: 48px;
           border-left: 1px solid #555;
    border-right: 1px solid #555;
    border-bottom: 1px solid #555;
}
 .sub-menu li {
     -webkit-transform-origin: 50% 0%;
  -o-transform-origin: 50% 0%;
  transform-origin: 50% 0%;
  -webkit-transform: perspective(350px) rotateX(-90deg);
  -o-transform: perspective(350px) rotateX(-90deg);
  transform: perspective(350px) rotateX(-90deg);
  border-top: 1px solid #555;

        text-align: center;
    font-size: 12px;
    height: 22px;
    opacity:0.5;
 }
.activeClass {
    opacity:1 !important;
    transition:all 0.8s ease;
    border: 2px solid #4dc725;
}
.sub-menu li:nth-child(1) { 
  -webkit-transition:0.2s linear 0.2s;
  -o-transition:0.2s linear 0.2s;
  transition:0.2s linear 0.2s;
}
.sub-menu li:nth-child(2) {
  -webkit-transition: 0.2s linear 0s;
  -o-transition: 0.2s linear 0s;
  transition: 0.2s linear 0s;
}
.sub-menu li:nth-child(3) { 
  -webkit-transition:0.2s linear 0.2s;
  -o-transition:0.2s linear 0.2s;
  transition:0.2s linear 0.2s;
}
.sub-menu li:nth-child(4) {
  -webkit-transition: 0.2s linear 0s;
  -o-transition: 0.2s linear 0s;
  transition: 0.2s linear 0s;
}
.sub-menu li:nth-child(5) { 
  -webkit-transition:0.2s linear 0.2s;
  -o-transition:0.2s linear 0.2s;
  transition:0.2s linear 0.2s;
}
.sub-menu li:nth-child(6) {
  -webkit-transition: 0.2s linear 0s;
  -o-transition: 0.2s linear 0s;
  transition: 0.2s linear 0s;
}
.sub-menu li:nth-child(7) { 
  -webkit-transition:0.2s linear 0.2s;
  -o-transition:0.2s linear 0.2s;
  transition:0.2s linear 0.2s;
}
.sub-menu li:nth-child(8) {
  -webkit-transition: 0.2s linear 0s;
  -o-transition: 0.2s linear 0s;
  transition: 0.2s linear 0s;
}
.clickElemnerrrrt {
    -webkit-transform: perspective(350px) rotateX(0deg) !important;
  -o-transform: perspective(350px) rotateX(0deg) !important;
  transform: perspective(350px) rotateX(0deg) !important;
  -webkit-transition:0.2s linear 0s !important;
  -o-transition:0.2s linear 0s !important;
  transition:0.2s linear 0s !important;
  display:flex;
}

.clickElemnerrrrt:nth-child(2) {
  -webkit-transition-delay: 0.2s !important;
  -o-transition-delay: 0.2s !important;
  transition-delay: 0.2s !important;
}
.clickElemnerrrrt:nth-child(3) {
  -webkit-transition-delay: 0.4s !important;
  -o-transition-delay: 0.4s !important;
  transition-delay: 0.4s !important;
}
.clickElemnerrrrt:nth-child(4) {
  -webkit-transition-delay: 0.6s !important;
  -o-transition-delay: 0.6s !important;
  transition-delay: 0.6s !important;
}
.clickElemnerrrrt:nth-child(5) {
  -webkit-transition-delay: 0.8s !important;
  -o-transition-delay: 0.8s !important;
  transition-delay: 0.8s !important;
}
.clickElemnerrrrt:nth-child(6) {
  -webkit-transition-delay: 1s !important;
  -o-transition-delay: 1s !important;
  transition-delay: 1s !important;
}
.clickElemnerrrrt:nth-child(7) {
  -webkit-transition-delay: 1.2s !important;
  -o-transition-delay: 1.2s !important;
  transition-delay: 1.2s !important;
}
.clickElemnerrrrt:nth-child(8) {
  -webkit-transition-delay: 1.4s !important;
  -o-transition-delay: 1.4s !important;
  transition-delay: 1.4s !important;
}
.clickElemnentClass {
        float: left;
    width: 68%;
    margin-left: 32%;
}

/* .sub-menu{-webkit-transform-style: preserve-3d;}
.has-children:hover .sub-menu li{transition: 0.5s;transform-origin: 0px 0px;transform: rotateX(-90deg);} */
.mouseHoveEffect {

}

