.parentBody {
	position : absolute;
	width  	 : 100%;
	height 	 : 100%;
}
.fullWidthHeightClass {
	position : relative;
	width  	 : 100%;
	height 	 : 100%;
}
.applicationTopStrip {
	position : relative;
	width  	 : 100%;
	height 	 : 8%;
	float  	 : left;
}
.applicationMiddleStripMain {
			position : relative;
			width  	 : 100%;
			height 	 : 92%;
			float  	 : left;
		}
.parentRoleDashboard{
	position: relative;
	width: 100%;
	height: 100%;
	float : left;
}
.userImageParent{
	position: relative;
	width: 100%;
	height: 14%;
	float : left;
	display: flex;
}
.userNotificationParent{
	position: relative;
	width: 100%;
	height: 15%;
	float : left;
	display: flex;
}
.userRolesParent{
	position: relative;
	width: 100%;
	height: 64%;
	float : left;
	display: flex;
}
.bottomStripParent{
	position: relative;
	width: 100%;
	height: 7%;
	float : left;
}
.userImageParentcenter{
	position: relative;
	width: 20%;
	height: 100%;
	float : left;
	margin: 0 auto;
 	display: table;
}
.profileViewModeMain{
	position: relative;
	width: 100%;
	float : left;
	height: 100%;
    	width: 100%;
}

.profileImagePartMain{
	position: relative;
	float : left;
	height: 100%;
    	width: 30%;
	display: flex;
}
.profileNamePartMain{
	position: relative;
	float : left;
	height: 100%;
    	width: 70%;
	display: flex;
}
.profileImage{
	border: 1px solid lightgray;
    	margin: auto auto;  
    	display: table;
    	width: 55%;
    	height: 50%;
 	display: table;
}
.profileName{
    	margin: auto 0;
    	display: table;
}
.userRoleWizardParentMain{
	margin: 0% auto;
    	display: table;
    	width: 60%;
    	height: 15%;
}
.userRoleWizardParenWizard {
    margin: 0% auto;
    	display: table;
    	width: 60%;
    	height: 15%;
}
.roleRepeatWizardMain{
    position: relative;
    float: left;
    width: 45%;
    height: 42%;
    margin: 2%;
    border: 1px solid lightgray;
}
.notificationWizard{
	margin: 0% auto;
    	display: table;
}
.notificationWiz{
    border: 1px solid lightgray;
    float: left;
    position: relative;
    display: table;
    width: 260px;
    height: 75px;
    overflow-x: auto;
    margin-left: 2%;
    margin-top: 1%;
}
.notificationWizReason {
    float: left;
    width: 94%;
    margin: 6%;
    margin-right: 0;
    margin-bottom: 4%;
    padding-bottom: 2%;
    border-bottom: 1px solid #BEB7B8;
    font-size: 11px;
    color : #BEB7B8;
    text-overflow: ellipsis;
}
.notificationWizName {
    float: left;
    width: 57%;
    margin: 0 6%;
    margin-right: 0;
}
.notificationWizButton{
	float: left;
	width: 34%;
}
.signupButton {
	background-color:#D60500;
	border:0px solid #D60500;
    border-radius: 2px;
	display:inline-block;
	cursor:pointer;
	font-family: sans-serif;
	color:#ffffff;
	padding: 3%;
	font-weight: 100;
	float : left;
}

.notificationTiming{
		float : left;
		color:#ffffff;
        border-bottom: 1px solid white;
}
.notificationTimingPanel{
	float : left;
	width:96%;
	margin-left: 4%;
}

.notificationTime{
	float:left;
	margin-left: 15%;
}
.rolelabelPart{
	float : left;
	width:100%;
	height:70%;
}
.roleNameLabel{
float: left;
    width: 65%;
    height: 100%;
}
.roleCountPart{
	float : left;
	width:100%;
	height:30%;
}
.roleWiseClass{
    float: left;
    width: 70%;
    padding: 7%;
}
.homeIcon{
	float : left;
width: 20%;
    border: 1px solid red;
}
.notificationIcon{
	float : left;
width: 20%;
    border: 1px solid red;
}

.roleRequestIcon{
	float : left;
width: 20%;
    border: 1px solid red;
}

.addRoleIcon{
	float : left;
width: 20%;
    border: 1px solid red;
}
.whiteBackground{
	color : white;
}
