        .fullWidthHeightClass {
            position: relative;
            width: 100%;
            height: 100%;
        }

        .applicationBottomStrip {
            position: relative;
            width: 100%;
            height: 7%;
            float: left;
        }

      

        .parentRoleMenu {
            position: relative;
            width: 18%;
            padding: 1%;
            height: 100%;
            float: left;
        }

        .parentRoleDetailRight {
            position: relative;
            width: 82%;
            height: 100%;
            float: left;
        }

        .profileViewMode {
            position: relative;
            width: 100%;
            height: 11%;
            float: left;
            display: flex;
            font-size: 106%;
           
        }

       profileImagePart {
            position: relative;
            float: left;
           width: 84px;
           height: 93%;
           border-radius:50%;
            margin: 3%;
            /*border: 1px solid gray;*/
            background: url("/Images/icons/If no Profile photo.png")no-repeat  center;
            background-size: contain;

        }


        .profileNamePart {
            position: relative;
            float: left;
            color: white;
            margin: 10%;
            margin-right: 0;
            margin-left: 0;
            width:100%;
            font-size: 112%;
            margin: auto;
            padding: 0px 7px 1px 0px;
        }

        .leftSideMenuMainDashBoard {
            position: relative;
            float: left;
            height: 85%;
            width: 100%;
            margin-top: 4%;
        }

        .leftSideMenuParent {
            position: relative;
            float: left;
            height: 100%;
            width: 100%;
        }

        .leftSideMenu{
            position: relative;
            float: left;
            width: 100%;
            height: 6%;
            
                text-shadow: 0px 0 25px #fff;
                /*-webkit-transition: all 0.7s ease;*/
                 transition: all 0.7s ease;
           transition: all 0.7s ease;
        }
       
        .leftSideMenuLable {
            position: relative;
            float: left;
            color: white;
            margin: 3%;
                transition: all 0.7s ease;
        }
        .selectedLeftSideMenu {
                background: rgba(0,0,0,.48);
                 border-left : 6px solid #1ecc71;
                 transition: all 0.7s ease;
        }
        .requestRoleParent {
            position: relative;
            float: left;
            height: 10%;
            width: 100%;
        }

        .dashBoardWizard {
            position: relative;
            float: left;
            height: 85%;
            width: 100%;
        }

        .mainDashBoardWizardParent {
            position: relative;
            float: left;
            height: 93%;
            width: 100%;
        }
        .roleRepeatWizard {
            position: relative;
            float: left;
            width: 47%;
            height: 35%;
            margin: 2%;
            margin-right: 0;
            margin-bottom: 0;
            //border: 1px solid;
        }

        .homeLabelInMainDB {
            position: relative;
            float: left;
            width: 100%;
            height: 9%;
        }

        .homeLabelInMainDB h5 {
            float: left;
            position: relative;
            margin-left: 2%;
            margin-top: 2%;
            font-size: 16px;
        }

        
        .userRoleWizardParent {
            display: inline-flex;
            overflow: auto;
            float: left;
            overflow-x: scroll;
            overflow-y: hidden;
            width: 96%;
            
            height: 100%;
        }

        .roleRepeatWizard {
            position: relative;
            float: left;
            width: 45%;
            height: 42%;
            margin: 2%;
            border: 1px solid lightgray;
        }

        

         

        .notificationWizard {
            margin: 0% auto;
            display: table;
        }
     

        .roleWiseClass {
            float: left;
            width: 70%;
            padding: 7%;
        }

        .homeIcon {
            float: left;
            width: 20%;
            border: 1px solid red;
        }

        .notificationIcon {
            float: left;
            width: 20%;
            border: 1px solid red;
        }

        .roleRequestIcon {
            float: left;
            width: 20%;
            border: 1px solid red;
        }

        .addRoleIcon {
            float: left;
            width: 20%;
            border: 1px solid red;
        }

        .whiteBackground {
            color: white;
        }

        .dashBoardMenuCoach {
            float: left;
            width: 92%;
            height: 95%;
            margin-left: 8%;
            margin-top: 3%;
        }

        .dashBoardMenuCoachRight {
            float: left;
            width: 32%;
            height: 59%;
            margin: -25px 7px 7px 2px;
        }

        .dashBoardMenuCoachRightCircle {
            float: left;
            width: 100%;
            height: 80%;
            display: flex;
        }

        .dashBoardMenuCoachRightCirclePart {
            float: left;
            width: 55%;
            height: 85%;
            margin: auto auto;
            border: 7px solid lightgray;
            border-radius: 100%;
                display: flex;
                cursor:pointer;
        }
.dashBoardMenuCoachRightCirclePart:hover {
    box-shadow: 0px 0px 10px 2px;
}
        .dashBoardMenuCoachRightlabel {
            float: left;
            width: 100%;
            display: flex;
            height: 20%;
        }

        .applicationLogo {
            float: left;
            width: 15%;
            height: 100%;
              display: flex;
        }

        .applicationSearch {
            float: left;
            width: 20%;
            display: flex;
            height: 100%;
        }

        .applicationRightCornerStrip {
            float: right;
            width: 70%;
            height: 100%;
        }

        .applicationSearchTag {
            border: 1px solid lightgray;
            border-radius: 10px;
            float: left;
            margin: auto;
            width: 84%;
            padding: 5px;
        }

        .roleIcons {
            float: right;
            width: auto ;
            display: flex;
            height: 100%;
        }

        .notificationDiv {
            float: right;
            width: 45%;
            display: flex;
            height: 100%;
        }

        .notificationDivParent {
            float: left;
            width: 100%;
            display: flex;
            margin: auto;
        }

        .applicationNotiCount {
            height: 19px;
            width: 19px;
            border: 1px solid red;
            border-radius: 50%;
            -moz-border-radius: 50%;
            background-repeat: no-repeat;
            background-size: 100%;
            background-position: 50%50%;
            background-color: red;
        }

        .applicationNotiCount h4 {
                color: white;
                display: inline-block;
                font-size: 11px;
                font-weight: 500;
                font-family: Varela Round;
                line-height: 14px;
                text-align: center;
                text-overflow: clip;
        }

        .logoutOption {
            float: right;
            width: 9%;
            display: flex;
            color:darkgray;
            height: 100%;
        }

        .logoutOptionParent {
            float: left;
            margin: auto;
            width: 100%;
                display: flex;
        }

        .roleIconCircle {
            float: left;
            margin: auto 4%;
                width: 20px;
            border-radius: 100%;
        }

.ctsParent{
	float: left;
	width: 100%;
	height : 100%;
	
}
.ctsCategoryPanelMainPanel {
    float: left;
	width: 100%;
	height : 81%;
}
.ctsParentMain{
	float: left;
	width: 100%;
	    margin: 0%;
	
	height : 100%;
    display: flex;
    margin-bottom: 0;
}
.ctsParentMainPanel{
	float: left;
	width: 100%;
	margin: auto;
	height : 100%;
}
.ctsCategoryHeading{
	float: left;
	width: 100%;
	border-bottom:1px solid lightgray;
	height : 7%;
	display:flex;
}
.ctsCategoryPanel{
	float: left;
	width: 100%;
	height : 100%;
	display:flex;
}
.ctsCategoryActionPanel{
	float: left;
	width: 100%;
	height : 10%;
	display:flex;
}
.parentCatgoryPanel{
    position: relative;
    float: left;
    height: 100%;
    width: 100%;
}
.cateGoryRepeatPanel{
    float: left;
    width: 100%;
    height: 97%;
    margin-top: 3%;
    overflow: auto;
}
.categoryCircle{
    float: left;
    width: 96%;
    height: 91%;
    /* margin: 2%; */
    /* margin-left: 0; */
    /* margin-right: 0; */
    /* margin-bottom: 4%; */
    display: flex;
    background: rgba(206, 206, 206, 0.44);
}
.categoryRightlabelPart{
    float: left;
    width: 30%;
    display: flex;
    height: 70%;
    margin: auto auto;
    border: 7px solid lightgray;
    border-radius: 100%;
}

.categoryRightlabel {
    float: left;
    width: 100%;
    display: flex;
    height: 20%;
    margin: auto auto;
}
.cateGoryFormDetails{
    position: relative;
    width: 100%;
    float: left;
    height: 100%;
    margin: 2%;
    margin-left: 0;
    margin-right: 0;
}
.cancelLink{
    float: left;
    opacity: 0.6;
    margin-right: 0;
    text-align: center;
    margin-left: 10%;
    margin-top: 1%;
    text-decoration: underline;
    cursor:pointer;
}
.topicSkillPanel {
     float: left;
    width: 100%;
    height: 100%;
}

.topicClassParent {
      float: left;
    width: 100%;
    height: 50%;
    border-bottom: 1px solid;
}
.skillsClassParent {
      float: left;
    width: 100%;
    height: 50%;
    border-bottom: 1px solid;
}
.topicHeadingSection {
       float: left;
    width: 15%;
    height: 100%;
    display: flex;
}
.topicHeadingPlaceholdr {
    float: left;
    width: 100%;
    height: 100%;
    display: flex;
}

.topicListingSection {
    float: left;
    width: 85%;
    height: 100%;
    /*display: flex;*/
    overflow :auto;
    cursor:pointer;
}
.topicHeadingBar {
    float: left;
    margin: auto auto;
    font-size: 11px;
    font-weight: 600;
}
.topicListingPanel{
    float: left;
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
}
.topicsList {
       position: relative;
    float: left;
    width: 120px;
    margin: 2%;   
     margin-bottom: 0;
    margin-right: 0;
    height: 45px;
}
.topicsListParent {
    color: black;
    /* font-size: 10px; */
    border: 1px solid lightgray;
    background: white;
    margin: 2%;
    width: 89%;
    /* padding: 3px; */
    display: flex;
    height: 60%;
}
.heightTopicClass {
     height: 100% !important;
}
.zeroBackground {
    background : rgb(231,120,23);
    width:0;
}
.fiftyBackground {
    background : rgb(214, 123, 43);
    width:50%;
}
.hundredBackground {
    background : rgb(220, 103, 0);
    width:100%;
}

.zeroBackgroundMentor {
    background : rgb(0,73,45);
    width:0;
}
.fiftyBackgroundMentor {
    background : rgb(1, 62, 38);
    width:50%;
}
.hundredBackgroundMentor {
    background : rgb(1, 39, 24);
    width:100%;
}
  

.statusParentDiv{
    float: left;
    width: 100%;
    height: 100%;
overflow:auto;
}


.ngRepeatDivForStatus{
    float: left;
    width: 96%;
    height: 13%;
    /*background: #f3f3f3;*/
border-bottom: 1px solid white;
   display: flex;
    margin-left: 2%;
}
.ngRepeatDivForStatus:hover{
    box-shadow:0px 0px 10px 2px;
}
.profileImageCoachingStatus{
    float: left;
    width: 7%;
    height: 100%;
margin: auto auto;
   display: flex;
    margin-right: 0;
  
}
.profileNameCoachingStatus{
float: left;
   display: flex;
    width: 13%;
    height: 100%;
margin: auto auto;
    margin-right: 0;
}
.progressBarCoachingStatus{
float: left;
   display: flex;
    width: 15%;
    height: 100%;
margin: auto auto;
    margin-right: 0;
}
.skillsCoachingStatus{
float: left;
    width: 13%;
    height: 100%;
   display: flex;
margin: auto auto;
    margin-right: 0;
	}
.statusCoachingStatus{
float: left;
    width: 15%;
    height: 100%;
   display: flex;
margin: auto auto;
    margin-right: 0;
}
.treeCoachingStatus{
float: left;
    width: 7%;
    height: 100%;
   display: flex;
margin: auto auto;
    margin-right: 0;
}
.communicationsCoachingStatus{
float: left;
    width: 13%;
   display: flex;
    height: 100%;
margin: auto auto;

}

.iconOnStatusArray{
	margin: auto auto;float: left;height: 15px;width: 15px;
}
.textAlignCoachingStatus{
    font-size: 14px;
    margin: auto auto;margin-left: 0;float: left;
    font-weight: bold;
    font-family: monospace;
}

/* entire container, keeps perspective */
.flipContainer {
	perspective: 1000px;
}

.flipContainer, .front, .back {
	    float: left;
    width: 100%;
    height: 100%;
}

/* flip speed goes here */
.flipper {
	transition: 2s;
	transform-style: preserve-3d;
        transform: rotateY(-180deg);
	position: relative;
   text-align:
}
.flipperBack {
	transition:2s;
	transform-style: preserve-3d;
        transform: rotateY(180deg);
	position: relative;
}

/* hide back of pane during swap */
.front, .back {
	backface-visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
}

/* front pane, placed above back */
.front {
	z-index: 2;
	/* for firefox 31 */
	transform: rotateY(0deg);
	//border: 1px solid #BBB8B8;
}

/* back, initially hidden pane */
.back {
	transform: rotateY(180deg);

}
.disableClass{
	background: rgba(0,0,0,0.55);
}
.flipDivOnClass {
float: left;
    width: 100%;
    height: 100%;
	display:flex;
}
.promoCodeClass{
	margin:auto auto;
}

.shadow4:before, .shadow4:after{
  content:"";
  box-shadow:0 0 25px 3px #928d8d;
  border-radius:100px/10px;
  z-index:-1;
}
.fivePopupContainerOne{
    width: 100%;
   height: 30%;
	float:left;
	
}
.fivePopupContainerTwo{
    width: 100%;
   height: 40%;
    float:left;
	
}
.fivePopupContainerThree{
    width: 100%;
   height: 30%;
    float:left;
    
}

.hideCoacheeProfile {
     width:0%;
	height:0%;
	background:white;
	overflow:hidden;
    position: absolute;
    z-index: 1;
    left: 42%;
    top: 50%;
    transition: 1s all ease;
}

.showCoacheeProfileClass {
    width: 88%;
    height: 81%;
    background: white;
    position: absolute;
    z-index: 1;
    left: 6%;
    top: 10%;
    border: 1px solid #bfbfbf;
}


/*Rss Feed Css*/


.feedPanel {
    float: left;
	position: relative;
	width: 100%;
	height : 100%;
   
}

.feedParentArray{
    float: left;
	width: 100%;
	height : 73%;
    padding:10px;
}
.skillTaggingArray{
	float: left;
	width: 100%;
    height: 20%;
	border-bottom: 1px solid lightgray;
    padding: 9px;
    overflow: auto;
}
.homeLabelfeed{
    float: left;
	width: 100%;
	height : 7%;
    display:flex;
    border-bottom: 1px solid lightgray;
}
.feedParentMainArray{
        float: left;
	width: 100%;
	height : 100%;
	overflow:auto;
}
.feedContainRepeatDiv{
 	float: left;
	width: 30%;
    height: 50%;
	border : 1px solid lightgray;
    padding : 10px;
    margin:5px;
}

.dashBoardMenuCoachBottom {
    /*margin-left:17%;*/
}

.col-md-3{
   
}
.dashBoardMenuCoachImage{
  height: 65%;
    width: 71%;
    margin:auto;
}
.backgroundIamgeFeed {
    background : url('../../../Images/communication/feedLogo.png') no-repeat;
    background-size: 100%;
}


/*--------------------*/

/*-----------New FeedBAck---------*/
.feedBackParent{
  width: 100%;
  height: 100%;  
  float:left;
}
.feedBackLabel{
  float:left;
  width:100%;
  height:5%;
  display:flex;
}

.feedBackLabel h5 {
  margin:auto;
margin-bottom: 0;
}
.feedbackPanelCom{
  float:left;
  width:100%;
  height:85%;
}

.pageNavigateView{
 float:left;
  width:100%;
  height:5%;

}
.questionBox{
  float: left;
  width: 45%;
  height: 42%;
  
  margin: 3%;
  margin-right: 0;
  margin-bottom: 0;
	display:flex;

}
.questionLabel{
  float: left;
  width: 100%;
  height: 50%;
  display: flex;
}
.questionLabel h5 {
  margin:auto;
  font-size: 13px;
  width: 90%;
}
.questionAnswer{
  float: left;
  width: 100%;
  height: 50%;
  display: flex;
}

.questionAnswer textArea{
  resize: none;
  margin: auto;
  width: 84%;
  height: 60%;
  font-size:13px;

}
.questionBoxparentHide{
	transition:all 1s ease;
	margin:auto;	
	width: 0%;
	height: 0%;
	overflow:hidden;
}
.questionBoxparentShow{
	transition:all 1s ease;
	margin:auto;
  background-color:white;
border: 1px solid #999;
  box-shadow:0px 0px 10px 2px;
	width: 100% !important;
	height: 100% !important;
}
.ratingFeedBack {
        width: 85%;
    height: 80%;
    margin: auto;
    display: flex;
    
}
.ratingFeedBack img{
    margin:auto;
    width : 40px;
    transition:all 1s ease;
    cursor:pointer;
}
.ratingStarOne {
}
.ratingStarTwo {
}
.ratingStarThree {

}
.ratingStarFour {
}
.ratingStarFive {
}
/*------------------*/


.radioFeedBack {
    background-image: -webkit-linear-gradient(hsla(0,0%,0%,.1), hsla(0,0%,100%,.1)),
        -webkit-linear-gradient(right, #b0c43c 50%, #999 50%);
    background-size: 100% 100%, 200% 100%;
    background-position: 0 0, 5px 0;
    border-radius: 25px;
    box-shadow: inset 0 1px 4px hsla(0,0%,0%,.5),
                inset 0 0 10px hsla(0,0%,0%,.5),
                0 0 0 1px hsla(0,0%,0%,.1),
                0 -1px 2px 1px hsla(0,0%,0%,.25),
                0 2px 2px 1px hsla(0,0%,100%,.5),
                0 -2px 10px 2px hsla(0,0%,100%,.75),
                0 2px 10px 2px hsla(0,0%,0%,.25);
    cursor: pointer;
    height: 25px;
    padding-right: 10px;
    position: relative;
    width: 50px;
    -webkit-appearance: none;
    -webkit-transition: .15s;
}

.radioFeedBack:after {
    background-color: #eee;
    background-image: -webkit-linear-gradient(hsla(0,0%,100%,.1), hsla(0,0%,0%,.1));
    box-shadow: inset 0 1px 1px 1px hsla(0,0%,100%,1),
                inset 0 -1px 1px 1px hsla(0,0%,0%,.25),
                0 1px 3px 1px hsla(0,0%,0%,.5),
                0 0 2px hsla(0,0%,0%,.25);
    content: '';
    display: block;
    height: 30px;
    left: 0;
    position: relative;
    top: 0;
    width: 30px;
    border-radius: 100%;
}
.radioFeedBack:checked {
    background-position: 0 0, 45px 0;
    padding-left: 33px;
    padding-right: 0;
}
.radioFeedBack:before {
    color: #eee;
    content: 'Yes';
    font: 12.5px/20px sans-serif;
    height: 20px;
    left: 33px;
    letter-spacing: 1px;
    position: absolute;
    text-align: center;
    top: 6px;
    width: 20px;
    text-shadow: 0 -1px 1px rgba(0,0,0,0.5);
}
.radioFeedBack:checked:before {
    content: 'Yes';
    left: 9px;
}
.radioFeedBackNo:before {
    color: #eee;
    content: 'No';
}|
.radioFeedBackNo:checked:before {
    content: 'No';
    left: 9px;
}
.radioFeedBackNotApplicable:before {
    color: #eee;
    content: 'NA';
}
.radioFeedBackNotApplicable:checked:before {
    content: 'NA';
    left: 9px;
}
.mouseOverEffectDiv {
    background:white;
    height:15% !important;
    display: flex;
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-left: 1px solid #ddd;
}
.mosuehover:hover {
    background:white !important;
}
.uploadPopup {
    position:absolute;
    width: 0%;
    height: 0%;
    left:25%;
    top:10%;
    overflow:hidden;
    z-index : -1;
    opacity:0;    
    transform: scale(0);
    transition: 1s all ease;
}
.loadUploadPopup {
    width: 50%;
    height: 58%;
    background:white;
    border: 1px solid #ddd;
    z-index : 1 !important;
    opacity:1 !important;
    box-shadow: 0px 0px 10px 2px;
    transform: scale(1) !important;
    transition: 1s all ease;
}

.topStripPopup {
    width: 100%;
    height: 19%;
    float:left;
    position: relative;
    display: flex;
}
.middlteStripPopup {
    width: 100%;
    height: 65%;
    display: flex;
    position: relative;
    float:left;
}
.bottomStripPopup {
    width: 100%;
    display: flex;
    height: 15%;
    position: relative;
    float:left;
}
.uploadedAttachment {
    width: 100%;
    display: flex;
    height: 44%;
    float:left;
    border: 1px solid #ddd;
    margin-bottom: 10px;
    position: relative;
    border-radius: 3px;
}
.uploadDataTypeDiv {
    width: 10%;
    margin: auto;
    height: 100%;
    float:left;
    position: relative;
     display: flex;
}
.uploadDataBarDiv {
    width: 90%;
    height: 100%;
    margin: auto;
    float:left;
     display: flex;
    position: relative;
}
.uploadBarDataParent {
    width: 98%;
    height: 75%;
    float:left;
    position: relative;
    margin: auto;
    margin-right: 0;
}
.uploadedDataHeading {
    float: left;
    width: 100%;
    height: 50%;
        display: flex;
}
.uploadedDataHeading h5 {
    font-size:12px;
    color:#555;
    float: left;
    width: 45%;
        margin: auto;
    margin-left: 0;
    margin-right: 0;
}

.progressBarUpload {	
	height: 11px;
	display: block;
    width:40%;
    float: left;
    margin: auto;
    float: left;
	/* Important Thing */
	-webkit-appearance: none;
	border: none;
}

/* All good till now. Now we'll style the background */
.progressBarUpload::-webkit-progress-bar {
	background: hsla(0,0%,0%,.25);	
	
}

/* Now the value part */
.progressBarUpload::-webkit-progress-value {
	box-shadow: inset 0 1px 1px 0 rgba(255, 255, 255, 0.4);
	background: #FF0100;	
	/* Looks great, now animating it */
	background-size: 25px 14px, 100% 100%, 100% 100%;
	-webkit-animation: move 5s linear 0 infinite;
}

/* That's it! Now let's try creating a new stripe pattern and animate it using animation and keyframes properties  */

@-webkit-keyframes move {
	0% {background-position: 0px 0px, 0 0, 0 0}
	100% {background-position: -100px 0px, 0 0, 0 0}
}

/* Prefix-free was creating issues with the animation */

.tagBarUploadProfile {
    padding: 0;
        padding-left: 6px;
    height: 21px;
    font-size: 11px;
    margin: auto;
    width: 85%;
    margin-left: 0;
    margin-right: 0;
}




