.loadProfileContain {
    top: 8% !important;
    background:white;
     z-index:2 !important;
     opacity:1 !important;
      
   box-shadow: 0px 0px 10px 2px;
      transition : all 1s ease;
}
.profileImageNameTagClass{
    float: left;
    width: 100%;
    height: 100%;
    background:linear-gradient(to bottom,rgba(0,0,0,0) 0,#2dc3e8 100%);
}
.profileViewParentTop {
    float: left;
    width: 100%;
    height: 60%;
}
.profileViewImageTagTop {
    float: left;
    width: 100%;
    height: 60%;
}
.defaultProfileContainClass {
    overflow: hidden;
        top: -32%;
    position:absolute;
      width: 18%;
    height: 35%;
    right:0;

    opacity:0;
    z-index:0;    
     transition : all 1s ease;
}

.scheduleMeetingParentDiv {
    margin: auto;
    width: 100%;
    background: white;
    height: 100%;
}
.schedularContent {
    padding: 11px;
}
.schedularHeader {
    width: 100%;
    float: left;
    height: 14%;
    display: flex;
    border: 1px solid lightgray;
    border-bottom: 0;
}

.schedularBody {
    width: 100%;
    position:relative;
    float: left;
     transition: all 0.7s ease;
    height: 72%;
    border: 1px solid lightgray;
    border-bottom: 0px;
}
.schedularBodyHidden {
     width: 100%;
     position:absolute;
    float: left;
     transition: all 0.7s ease;
    height: 0% !important;
}
.schedularBodyMask {
     width: 100%;
    float: left;
    display:flex;
    z-index:1;
        background: white;
     position:absolute;
    height: 100% !important;
    transition: all 0.7s ease;
}
.schedularBottom {
    width: 100%;
    float: left;
    display: flex;
    height: 14%;
    border: 1px solid lightgray;
    border-top: 0;
     transition: all 0.7s ease;
     overflow:hidden;
}
.meetingSubject {
    float: left;
    width: 100%;
    display: flex;
    height: 22%;
}
.meetingSubject textarea{
    margin: auto;
    margin-bottom: 0;
    width: 80%;
    float: left;
    height: 60%;
    resize: none;
    font-size: 14px;
    border: 0px solid;
    border-bottom: 1px solid;
}
.meetingSubjectTwo{
    float: left;
    display: flex;
    width: 87%;
    height: 35%;
}
.meetingTimePanel {
     float: left;
        display: flex;
    width: 100%;
    height: 18%;
}
.meetingCommunicationPanel {
     float: left;
        display: flex;
    width: 100%;
    height: 21%;
}
.meetingWizName {

    margin: auto;
    text-align: center;
}
.meetingInvitee {
     margin: auto;
     width: 50%;
     margin-left: 0;
    display: flex;
    margin-right: 0;
}
.meetingPersonName{
    float: left;
    font-size: 12px;
    margin: auto;
    margin-left: 3%;
}
.meetingPersonNameParent{
    margin: auto;
      float: left;
    margin-right: 10px;
    width: auto;
}
.meetingPersonNameStrc {
    width: 75%;
    display: flex;
    height: 100%;
    margin: auto;
    margin-left: 0;
    position: relative;
    float: left;
    transition: all 0.7s ease;
}
.meetingPersonNameStrc h5{
    font-size: 15px;
    color: black;
    margin: auto;
    text-align: left;
    width: 100%;
}
.conflictMeetingAlert{
    width: 100%;
    transition: all 0.7s ease;
    float: left;
    height: 0%!important;
    border: 1px solid lightgray;
}

.progressBarUploadIdle {
    height: 16px;
	display: block;
    width:75%;
    float: left;
    margin: auto;
    background:white;
    float: left;
	/* Important Thing */
	-webkit-appearance: none;
    border-radius: 50px;
	border: 1px solid lightgray;
}
.progressBarUploadIdle::-webkit-progress-bar {
	background: white;
	border-radius: 50px;
	padding: 2px;
	box-shadow: 0 1px 0px 0 rgba(255, 255, 255, 0.2);
}
.progressBarUploadIdle::-webkit-progress-value {
	border-radius: 50px !important;
	box-shadow: inset 0 1px 1px 0 rgba(255, 255, 255, 0.4) !important;
	background: -moz-linear-gradient(45deg, rgba(231,180,0,1) 0%, rgba(231,120,23,1) 25%, rgba(213,158,13,1) 35%, rgba(187,217,0,1) 50%, rgba(95,150,46,1) 69%, rgba(67,129,61,1) 75%, rgba(67,129,61,1) 78%, rgba(67,129,61,1) 100%); /* ff3.6+ */
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, rgba(231,180,0,1)), color-stop(25%, rgba(231,120,23,1)), color-stop(35%, rgba(213,158,13,1)), color-stop(50%, rgba(187,217,0,1)), color-stop(69%, rgba(95,150,46,1)), color-stop(75%, rgba(67,129,61,1)), color-stop(78%, rgba(67,129,61,1)), color-stop(100%, rgba(67,129,61,1))); /* safari4+,chrome */
    background: -webkit-linear-gradient(45deg, rgba(231,180,0,1) 0%, rgba(231,120,23,1) 25%, rgba(213,158,13,1) 35%, rgba(187,217,0,1) 50%, rgba(95,150,46,1) 69%, rgba(67,129,61,1) 75%, rgba(67,129,61,1) 78%, rgba(67,129,61,1) 100%); /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(45deg, rgba(231,180,0,1) 0%, rgba(231,120,23,1) 25%, rgba(213,158,13,1) 35%, rgba(187,217,0,1) 50%, rgba(95,150,46,1) 69%, rgba(67,129,61,1) 75%, rgba(67,129,61,1) 78%, rgba(67,129,61,1) 100%); /* opera 11.10+ */
    background: -ms-linear-gradient(45deg, rgba(231,180,0,1) 0%, rgba(231,120,23,1) 25%, rgba(213,158,13,1) 35%, rgba(187,217,0,1) 50%, rgba(95,150,46,1) 69%, rgba(67,129,61,1) 75%, rgba(67,129,61,1) 78%, rgba(67,129,61,1) 100%); /* ie10+ */
    background: linear-gradient(45deg, rgba(231,180,0,1) 0%, rgba(231,120,23,1) 25%, rgba(213,158,13,1) 35%, rgba(187,217,0,1) 50%, rgba(95,150,46,1) 69%, rgba(67,129,61,1) 75%, rgba(67,129,61,1) 78%, rgba(67,129,61,1) 100%); /* w3c */
	/*rgb(231,120,23) rgb(187,217,0)  rgb(67,129,61) Looks great, now animating it */
	background-size: 25px 14px, 100% 100%, 100% 100% !important; 
	animation: moveProgressBarUploadIdle 5s linear 0 infinite !important;
}

/* That's it! Now let's try creating a new stripe pattern and animate it using animation and keyframes properties  */

@-webkit-keyframes moveProgressBarUploadIdle {
	0% {background-position: 0px 0px, 0 0, 0 0}
	100% {background-position: -100px 0px, 0 0, 0 0}
}

